@media screen and (max-width: 644px) {
 body{
	background:url(../images/body_bg_p.jpg) repeat left top;	
}	
div.header{
	float:none;
	padding-bottom:5px;
	margin-bottom:20px;
	}	
div.inner {
	height: auto;
	margin: 0 auto;
	padding: 0 1%;
	text-align: center;
	width: 98%;
	min-width:50%;
	}
a.logo_top img{
	height:auto;
	}	
img.show_pc{
	display:none !important;
	}	
a.show_sp{
	display:inline-block !important;
	height:auto;
	}
dd.index {
    margin: -1.5em 0 20px 0;
	
	
}	
.headerRight{
	float:none;
	width:100%;
	padding:10px 0;
	margin-bottom:10px;
	}	
img.img_footer{
	}
.img_headerRight{
	display:inline-block;
	margin:0 auto 10px auto;
	}
img.show{
	display:none;
	}	
a.hide{
	display:block !important;
	}	

div.float,
img.float,
.float{
	float:none;
	text-align:center;
	margin:7px auto;
	position:static;
	}	
div.banner{
	display:none;
	}
	

span.show_pc{
	display:none !important;
	}		
a.show_sp{
	color: #1f201f;
	display:inline-block !important;
	}
div.menu_footer ul li{
	margin:0px 0 0 20px;
	text-indent:0;
}
.ft_logo{
	float:none;
	margin-right:0;
}
.ft_box1_r{
	margin:0px auto 10px auto;
	text-align:center;
}
.ft_img2{
	display:inline-block;
}
div.ft_box1{
	float:none;
}
.ft_img5{
	float:none;
	max-width:464px;
	width:100%;
}
.ft_img3{
	max-width:457px;
	width:100%;
}
.ft_phone{
	float:none;
}		
div.menu_footer{
	max-width:none;
	float:none;
	width:auto;
}
.ft_ul1{
	margin:0 5px 10px 5px;
}
.ft_bot{
	margin-bottom:20px;
}
img.img_box_1{
	height:auto;
	}
img.img_box_1_mg{
	margin-right:0;
	}
.menu_footer {
	margin:0 !important;	
}
img.ft_img1,
img.ft_img4{
	display:none;
	}
div.aside{
	clear:both;
	margin:20px auto 10px auto !important; 
	display:inline-block;
	}	
img.img_2{
	margin:0;
	height:auto;
	}	
img.title_3{
	height:auto;
	}
div.bg_border_radius_1{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #339c89;
	width:auto;
	padding:5px 10px 5px 8px;
	height:auto;
	background:none;
	text-align:center;
	}	
div.bg_border_radius_1_content{
	max-width:100%;
	text-align:left;
	}	
div.bg_blue{
	background:#d1f2ee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px 1px 5px 10px;
	width:auto;
	}		
div.bg_border_radius_3{
	margin:10px 0;
	}	
div.dd_dl_dt{
	width:100%;
	}	
div.title_dd{
	background:url(../images/bg_title.jpg) no-repeat scroll left top;
	}	
iframe.calender{
	width:100%;
	height:360px;
	float:none;
	margin:7px auto;
	}	
.phoneMobile{
	display:inline-block !important;
	}
.phoneDesktop{
	display:none !important;
	}

.ft_bg_drg{
	display:none;
}	
.ft_top{
	margin:0;
}
.ft_ul1{
	margin-bottom:10px;	
}
p.copyright{
	margin-top:10px;
	position:static;	
}
div.footer{
	margin-bottom:0;
	padding-bottom:5px;
	}
h1{
	width:100%;
	float:none;
	text-align:center;
	padding-top:10px;
	}
.img_header{
	max-width:221px;
	height:auto;
	width:100%;
	}
.img_phone{
	margin:0 auto;
	}
.art_ul1 li{
	margin:0 10px 20px 10px;
}
#banner{
	display:none;
	}
.art_box1{
	margin-top:10px;
	text-align:center;	
}
.art_box1 p{
	text-align:left;	
}
.art_img2{
	float:none;
	margin-right:0;
	margin-bottom:5px;	
}
.art_img3{
	display:inline-block;
	max-width:100%;
	margin-bottom:10px;	
}
.art_btn2{
	margin-top:20px;
	text-align:center !important;
}	
.art_box2_child2,
.art_box2_child1{
	max-width:320px;
	margin:0 auto;
	width:auto;
	float:none;	
}
.art_box2{
	margin-top:20px;	
}
.art_box2_child1{
	margin-bottom:20px;	
}
.art_box2_child2 .art_img2{
	float: left;
	margin-right: 20px;
}
.art_box2_child2{
	padding:15px 15px 11px;
	}
td.price_td1{
	width:110px;
	}
td.price_td1 span.td1{
	width:5px;
	float:left;
	}		
td.price_td1 span.td2{
	float: left;
    margin-left: 5px;
    width: 90px;
	}		
/*page*/
h2{
	height:120px;
	}
.bt_top_other li{
	display:block;
	margin:0 auto 10px auto;
	}
.bt_top_other a{
	width:150px;
	display:inline-block;
	}
	
/*Thao*/
.img_list_concept_thaontt {
	height: auto;
}
.img_group_concept_thaontt {
	float: none;
	height: auto;
	padding: 0px 0px 10px 0px;
	margin: 0px auto;
	display: block;
}
.group2_child_concept_thaontt {
	width: 88%;
}
.img_group2_concept_thaontt {
	height: auto;
	float: none;
	margin: 10px auto;
	display: block;
}
/*end Thao*/



/*Nguyet*/
ul.photo_nguyet li{
	margin:5px !important;
	}
dt {
	text-align:left;
}
h2.h2_concept_nguyet {
 background: url(../images/concept/img1.jpg) no-repeat scroll center top;
 margin:0 auto;
}
img.img_right {
	float:none;
	margin:0 auto;
	}
img.img_left {
	float:none;
	margin:0 auto;
	}
.descript_recept_nguyet {
	float: none;
	display:block;
	text-align:left;
}
.descript_recept_nguyet img{
	display:block;
}
.content_left_nguyet{
	float:none;
	}
	
/*end Nguyet*/



/*Hieu*/
/* Concept */
/* Concept */
div.content_1_concept_Hieu, div.content_2_concept_Hieu, div.content_3_concept_Hieu, div.content_4_concept_Hieu {
    padding: 5px 0 10px;
    text-align: none;
    width: 100%;
}

div.content_1_concept_Hieu ul {
	margin: 0px;
	padding: 0px;
}

div.content_1_concept_Hieu li {
	width: 100%;
	float: none;
}

div.content_1_concept_Hieu img {
	width: 100%;
	height: auto;
	margin: 0 auto;
	float: none;
}

img.img_1_concept_Hieu {
	width: 100%;
	height: auto;
	margin: 0 auto;
	float: none;
}

p.content_p_title_concept_Hieu {
	max-width: 100%;
	text-align: left;
}

div.content_3_concept_Hieu li {
	padding-left: 0;
}

div.content_4_concept_Hieu{
	width: 100%;
	float: none;
}


div.content_4_concept_Hieu li {
	padding-left: 0;
}

div.content_4_concept_Hieu img{
	float:none;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

/* Hand */
div.content_1_hand_Hieu{
    padding: 5px 0 10px;
    text-align: none;
    width: 100%;
}

img.img_1_hand_Hieu {
	width: 100%;
	height: auto;
	margin: 0 auto;
	float: none;
}

p.content_title_hand_Hieu {
	font-weight: bold;
	font-size: 16px;
	padding: 5px 0;
	max-width: 100%;
}

p.button_hand_Hieu {
	background: none repeat scroll 0 0 #F9B882;
    float: none;
    padding: 7px 11px;
    text-align: center;
    margin: 10px auto;
}

/*end Hieu*/


/*Tay*/
p.p1_tay_concept{
    max-width: 98%;
    padding: 0 1% 0 1%;
    margin: 0;
}
div.imagesTop1_tay_concept img{
    margin: 0;
    margin-top: 5px;
}
div.inforImages_tay_concept img{
    float: none;
}
div.inforImages_tay_concept .infoContent{
    margin:0px;
    max-width: 98%;
    padding: 0 1% 0 1%;
}
div.inforImages_tay_concept .infoContent p{
    max-width: 100%;
}
p.pChechBox_tay_concept{
    max-width: 100%;
    text-align: left;
    text-indent: 0px;
}
ul.ulCheckBox_tay_concept{
    max-width: 98%;
    margin-left: 2%;
}
ul.ulCheckBox_tay_concept li{
    max-width: 100%;
}
div.botQRCode_tay{
    margin: 0 auto;
    float: none;
    clear: both;
}
/*end Tay*/
	


/*========Trivt===========*/
	.QrCode_Right{
		display: inline-block !important;
		float: none;
		margin: 5px 0 0 0;
	}
	ul.Slide_Concept_Trivt li{
		float: none;
		display: inline-block;
	}

	.Intro_Top_Concept_Trivt p{
		text-align: left;
	}

	.HandItem_Trivt img{
		display: inline-block;
		float: none;
	}
	.HandItem_Trivt a{
		display: block;
		margin:5px 0 0 0;
	}
	.HandItem_Trivt .HandDescItem_Trivt{
		display: inline-block;
		text-align: left;
	}

	.CoverGallery_Trivt .Item_Gallery_Trivt{
		margin: 10px;
		float: none;
		display: inline-block;
	}

	/*=======Price========*/

	.Block_Circle_1_Top_Trivt{
		float: none;
		display: inline-block;
	}

	.Cover_Table_Trivt{
		width: 100%;
	}
	.Tbl_Trivt{
		float: none;
		display: inline-block;
		width: auto;
	}
	.Item_Block_Trivt{
	    width: 95%;
	    margin: 5px 0 0 0;
	    height: auto;
	    float: none;
	    display: inline-block;
	}
	.BlockTop_1_Trivt{
		padding: 3px;
	}

	.Tbl_Trivt table tr td{
		text-align: left;
	}

	.NailDescItem_Trivt{
		width: 100%;
	}

	.NailItem_Trivt img{
		float: none;
		display: inline-block;
	}

	.ShadownBtn_Trivt{
		width: auto;
		margin: 30px 0 0 6px;
	}


	/*=======Access=========*/

	/*=======Contact======*/

	.FormContact_Trivt{
		width: 100%;
	}

	.FormContact_Trivt label{
		float: none;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.FormContact_Trivt input, .FormContact_Trivt textarea{
		float: none;
		display: inline-block;
		width: 96%;
		margin: 5px 0 0 0;
		text-align: center;
	}


/*============end Trivt======*/


	
/*Hien*/

/*end Hien*/
	
	

/*Duy*/

/*end Duy*/



}
