<!DOCTYPE html>
<html>
<head>
    <meta content="大田区,西馬込,歯科,歯周病,インプラント,ホワイトニング,矯正歯科,審美歯科,篠崎デンタルクリニック" name="keywords">
    <meta content="大田区西馬込駅すぐの歯科医院、篠崎デンタルクリニック。診療は歯周病、インプラント、ホワイトニング、矯正歯科、審美歯科" name="description">
    <meta content="Copyright(C) 篠崎デンタルクリニック All Rights Reserved." name="copyright">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="ja" http-equiv="Content-Language">
    <meta content="text/css" http-equiv="Content-Style-Type">
    <meta content="text/javascript" http-equiv="Content-Script-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>篠崎デンタルクリニック</title>
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/scoll.js"></script>
</head>
<body>
<div class="menuBannerWrap">
<div id="header">
    <div class="inner">
        <h1 class="h1Title">大田区西馬込駅前の歯科医院</h1>
        <div class="groupContact">
            <div class="logo left">
                <a href="index.html">
                    <img alt="篠崎デンタルクリニック" src="images/logo.png" class="imageAutoSize">
                </a>
            </div>
            <div class="contactLinks right">
                <img alt="0337756303" src="images/phone.png" class="imageAutoSize hideMobile">
                <a href="tel:0337756303 " class="hideDesktop"><img alt="0337756303" src="images/phone.png" class="imageAutoSize"></a>
            </div>
        </div>
    </div>
</div>
    <div id="globalNavi" class="mainNav">
        <ul class="mainMenu">
            <li class="menu0 active">
                <a href="about.html" class="menu0"><img alt="クリニック案内" src="images/menu0.png" class="imageAutoSize"></a>
            </li>
            <li class="menu1">
                <a href="" class="menu1"><img alt="相談・お悩み別メニュー" src="images/menu1.png" class="imageAutoSize"></a>
            </li>
            <li class="menu2">
                <a class="menu2" href="charge.html"><img alt="料金案内" src="images/menu2.png" class="imageAutoSize"></a>
            </li>
            <li class="menu3">
                <a href="staff.html" class="menu3">
                    <img alt="スタッフ紹介" src="images/menu3.png" class="imageAutoSize">
                </a>
            </li>
            <li class="menu4 last">
                <a href="access.html" class="menu4"><img alt="アクセス" src="images/menu4.png" class="imageAutoSize"></a>
            </li>
        </ul>
    </div>
</div>
<div id="wrapper">
    <div class="inner">
        <div class="mainContent">
            <h2 class="h2Common"><span>クリニック案内</span></h2>
            <h3 class="h3Common"><span>クリニック案内</span></h3>
            <h4 class="h4Common"><span>クリニック案内</span></h4>
            <div class="tableCommon">
                <table class="tableCommon">
                    <tr>
                        <th>会社概要</th>
                        <td>会社概要</td>
                    </tr>
                    <tr>
                        <th>会社概要</th>
                        <td>会社概要</td>
                    </tr>
                    <tr>
                        <th>会社概要</th>
                        <td>会社概要</td>
                    </tr>
                    <tr>
                        <th>会社概要</th>
                        <td>会社概要</td>
                    </tr>
                </table>
            </div>
            <ul class="linksCommon">
                <li class="active">
                    <a>歯科治療の流れ</a>
                </li>
                <li>
                    <a href="">虫歯について</a>
                </li>
                <li>
                    <a href="">保険診療と自費診療について</a>
                </li>
            </ul>
            <ul class="listCommon">
                <li>歯ぎしり、くいしばり、かみしめ</li>
                <li>不適合な冠や義歯</li>
            </ul>
        </div><!--mainContent-->
        <div class="sidebar">
            <ul class="linksSb">
                <li>
                    <a href="general.html" class="hasOpacity"><img alt="一般歯科" src="images/sb.img1.jpg" class="imageAutoSize"></a>
                </li>
                <li>
                    <a href="periodontitis.html" class="hasOpacity"><img alt="歯周病" src="images/sb.img2.jpg" class="imageAutoSize"></a>
                </li>
                <li>
                    <a href="implant.html" class="hasOpacity"><img alt="インプラント" src="images/sb.img3.jpg" class="imageAutoSize"></a>
                </li>
                <li>
                    <a href="anesthesia.html" class="hasOpacity"><img alt="歯科の床酔" src="images/sb.img4.jpg" class="imageAutoSize"></a>
                </li>
                <li>
                    <a href="esthetics.html" class="hasOpacity"><img alt="デンタルエステ" src="images/sb.img5.jpg" class="imageAutoSize"></a>
                </li>
                <li>
                    <a href="whitening.html" class="hasOpacity"><img alt="白い歯" src="images/sb.img6.jpg" class="imageAutoSize"></a>
                </li>
                <li>
                    <a href="bacillus.html" class="hasOpacity"><img alt="歯周病細菌検査" src="images/sb.img7.jpg" class="imageAutoSize"></a>
                </li>
                <li>
                    <a href="regenerative.html" class="hasOpacity"><img alt="再生療法" src="images/sb.img8.jpg" class="imageAutoSize"></a>
                </li>
            </ul>
            <ul class="linksSb2">
                <li>
                    <a href="" class="hasOpacity"><img alt="求人情報" src="images/sb.img9.jpg" class="imageAutoSize"></a>
                </li>
                <li>
                    <a href="" class="hasOpacity"><img alt="院長ブログ" src="images/sb.img10.jpg" class="imageAutoSize"></a>
                </li>
            </ul>
           <div class="bottomSb">
                <h3 class="h3Sb">
                    <img alt="お知らせ" src="images/sb.img11.png" class="imageAutoSize">
                </h3>
                <dl class="dlSb">
                    <dt>00.00.00</dt>
                    <dd><a href="">タイトルが入りますタイトルが入りますりま…</a></dd>
                    <dt>00.00.00</dt>
                    <dd><a href="">タイトルが入りますタイトルが入りますりま…</a></dd>
                    <dt>00.00.00</dt>
                    <dd><a href="">タイトルが入りますタイトルが入りますりま…</a></dd>
                    <dt>00.00.00</dt>
                    <dd><a href="">タイトルが入りますタイトルが入りますりま…</a></dd>
                </dl>
           </div>
        </div><!--sidebar-->  
    </div>
</div><!--wrapper-->  
<p id="pageTop" class="pageTop inner">
    <a href="#"><img alt="ページトップ" src="images/back.top.img.png" class="imageAutoSize"></a>
</p>
<div id="footer">
    <div class="inner">
        <div class="ftLogo right">
            <a href="index.html">
                <img alt="篠崎デンタルクリニック" src="images/ft.logo.png" class="imageAutoSize btLogo">
            </a>
        </div>
        <div class="ftContactLinks left">
            <ul class="footerMenu">
                <li class="first"><a href="clinic.html">クリニック案内</a></li>
                <li><a href="staff.html">スタッフ紹介</a></li>
                <li><a href="symptom.html">相談・お悩み別メニュー</a></li>
                <li><a href="charge.html">料金案内</a></li>
                <li><a href="access.html">アクセス</a></li>
                <li class="last"><a href="">院長ブログ</a></li>
            </ul>
        </div>
    </div>
    <p class="copyright">
        Copyright &copy; 篠崎デンタルクリニック All Rights Reserved.
    </p>
</div> 
<script type="text/javascript" src="js/jquery.meanmenu.min.js"></script>
<script type="text/javascript" src="js/behavior.js"></script>
</body>
</html> 