<!DOCTYPE html>
<html>
  <head>
    <meta content="横浜市,港北区,大倉山,整体,鍼灸" name="keywords">
    <meta content="横浜市港北区大倉山にある大倉山治療院は、マッサージ、鍼灸、指圧、あん摩などの治療を低価格でご提供している整体院です。お客様のお悩みを伺って適切な治療をご提案致しますので、是非お気軽にお越しください。" name="description">
    <meta content="Copyright ©2014 大倉山五葉治療院" name="copyright">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="ja" http-equiv="Content-Language">
    <meta content="text/css" http-equiv="Content-Style-Type">
    <meta content="text/javascript" http-equiv="Content-Script-Type">
    <meta content="width=device-width; initial-scale=1.0" name="viewport">
    <title>横浜市港北区の整体は大倉山五葉治療院│マッサージ,鍼灸</title>
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/scoll.js"></script>
    
  </head>
  <body>
  <div class="header">
  		<div class="inner">
        	<a href="index.html"><img src="images/header_logo.jpg" alt="大倉山五葉治療院" class="header_logo float"></a>
            <div class="header_info float">
            	<img src="images/header_phone_1.jpg" alt="045-642-4075" class="phone_l phone_pc">
                <a href="tel:0456424075"><img src="images/header_phone_1.jpg" alt="045-642-4075" class="phone_sp"></a>
                <img src="images/header_phone_2.jpg" alt="090-8809-1182" class="phone_r phone_pc">
                <a href="tel:09088091182"><img src="images/header_phone_2.jpg" alt="090-8809-1182" class="phone_sp"></a>
                <a href="mailto:hydeo2012@docomo.ne.jp"><img src="images/header_mail.jpg" alt="Mail： hydeo2012@docomo.ne.jp" class="header_mail"></a>
            </div>
        </div>
  </div>
 
  <div class="nav">
           <div class="menu" id="globalNavi">
                    <ul> 
                          <li class="menu_1">
                                <a class="menu_1" href="index.html">
                                <img alt="home" src="images/menu_1.png" /></a>
                          </li>
                          <li class="menu_2">
                                <a class="menu_2" href="about.html">
                                <img alt="当院のご案内" src="images/menu_2.png" /></a>   
                          </li>
                          <li class="menu_3">
                                <a class="menu_3" href="director_voice.html">
                                <img alt="院長紹介" src="images/menu_3.png"/></a>   
                          </li>
                          <li class="menu_4 active">
                                <a class="menu_4" href="information.html">
                                <img alt="治療案内" src="images/menu_4.png"/></a>
                                <ul class="subNav">
                                    <li class="subNav">
                                      <a class="subNav" href="acupuncture.html">鍼</a>
                                    </li>
                                    <li class="subNav">
                                      <a class="subNav" href="moxibustion.html">灸</a>
                                    </li>
                                    <li class="subNav">
                                      <a class="subNav" href="finger_pressure.html">指圧</a>
                                    </li> 
                                    <li class="subNav">
                                      <a class="subNav" href="anma.html">あん摩</a>
                                    </li>  
                                    <li class="subNav">
                                      <a class="subNav" href="massage.html">マッサージ</a>
                                    </li>
                               </ul> 
                          </li>
                          <li class="menu_5">
                                <a class="menu_5" href="price.html">
                                <img alt="料金" src="images/menu_5.png"/></a>
                          </li>
                          <li class="menu_6">
                                <a class="menu_6" href="access.html">
                                <img alt="アクセス" src="images/menu_6.png"/></a>
                          </li>
                          
                    </ul>
            </div>
   </div> <!--nav-->    
   
   <div class="inner">
            
        	<div class="content float">
            	<div class="article_index">
                
                		<h2 class="no_margin_top">thay text<span class="bg_h2_right"></span></h2>
                        
                        
                		<h3 class="no_margin_top">thay text</h3>
                         
				
				
				</div><!--article_index-->
            </div><!--content-->
            
            <div class="aside float">
            	 <div class="aside_title_1">
                 	<img src="images/title_3.jpg" alt="交通アクセス" class="img_title"> 
                    <a href="access.html"><img src="images/title_href_2.jpg" alt="詳細" class="img_href"></a>
                 </div>
                 
                 <iframe class="aside_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6494.294013729282!2d139.62192213757322!3d35.525364682739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185f25481dc3cb%3A0xa87741ab8d9d7423!2z5aSn5YCJ5bGx5LqU6JGJ5rK755mC6Zmi!5e0!3m2!1sja!2sjp!4v1403516543343"  frameborder="0" style="border:0"></iframe>

                 <img src="images/button_3.jpg" alt="神奈川県横浜市港北区大倉山5丁目32-29" class="button_3">
                 
                 <div class="aside_title_1 aside_title_2">
                 	<img src="images/title_4.jpg" alt="診療時間" class="img_title"> 
                    <a href="about.html"><img src="images/title_href_2.jpg" alt="詳細" class="img_href"></a>
                 </div>
                 <img src="images/img_3.jpg" alt="診療時間" class="img_3">
                 <div class="aside_box">
                 	<p>
                    ●＝8:30～21:00  
                    <br>
                    ▲＝8:30～11:00
                    <br>
                    ■＝19:00～21:00
                    </p>
                 	<img src="images/img_4.jpg" alt="ご予約はお電話にて">
                 </div>
                 
                 <div class="aside_box_2">
                 	 <span class="phone_pc">Tel 045-642-4075</span>
                     <a href="tel:0456424075" class="phone_text phone_sp">Tel 045-642-4075</a>
                     <br>
                     <span class="phone_pc">携帯 090-8809-1182</span>
                     <a href="tel:09088091182" class="phone_text phone_sp">携帯 090-8809-1182</a>
                     <br>
                     <a href="mailto:hydeo2012@docomo.ne.jp" class="mail">Mail hydeo2012@docomo.ne.jp</a>
                 </div>
                 
                 <a href="#"><img src="images/img_5.jpg" alt="院長ブログ" class="img_5"></a>
                 <a href="#"><img src="images/img_6.jpg" alt="五葉ライブラリー" class="img_5"></a>
            </div><!--aside-->
  </div>
  <!--inner-->
  <div class="footer">
      <div class="inner">
		   <p class="page_top">
                <a href="#"><img src="images/page-top.jpg" alt="ページトップ" /></a>
            </p>
            <div class="f_l">
            	<a href="index.html"><img class="footer_logo float" src="images/header_logo.jpg" alt="大倉山五葉治療院"></a> 
                <p>
                〒 222-0037 <br>
				神奈川県横浜市港北区大倉山5丁目32-29
                </p>
                <p class="footer_href">
                <a href="access.html" class="footer_href"><img src="images/footer_href.jpg" alt="詳しくはこちら"></a>
                </p>
                
                <span class="phone_footer phone_pc">Tel 045-642-4075</span>
                 <a href="tel:0456424075" class="phone_text phone_footer phone_sp">Tel 045-642-4075</a>
                 <br>
                 <span class="phone_pc">携帯 090-8809-1182</span>
                 <a href="tel:09088091182" class="phone_text phone_sp">携帯 090-8809-1182</a>
                 <br>
                 <a href="mailto:hydeo2012@docomo.ne.jp" class="mail">Mail hydeo2012@docomo.ne.jp</a>
            </div>   
                    
           <div class="menu_footer">
                <ul>
                	<li><a href="about.html">ご案内</a></li>
                    <li><a href="director_voice.html">院長紹介</a></li>
                    
                </ul>
                <ul>
                	<li><a href="information.html">治療案内</a></li>
                        <li class="menu_sub"><a href="acupuncture.html">鍼</a></li>
                        <li class="menu_sub"><a href="moxibustion.html">灸</a></li>
                        <li class="menu_sub"><a href="finger_pressure.html">指圧</a></li>
                        <li class="menu_sub"><a href="anma.html">あん摩</a></li>
                        <li class="menu_sub"><a href="massage.html">マッサージ</a></li>
                </ul>
                <ul>
                	<li><a href="price.html">料金</a></li>
                    <li><a href="access.html">アクセス</a></li>
                    <li><a href="#html">新着情報</a></li>
                    <li><a href="#html">院長ブログ</a></li>
                </ul>
            </div>
      </div>
    </div>
    <div class="copyright">©2014 大倉山五葉治療院</div>
	<script type="text/javascript" src="js/jquery.meanmenu.min.js"></script>
    <script type="text/javascript" src="js/behavior.js"></script>
  </body>
</html>