@media screen and (max-width: 644px) {

div.header{
	float:none;
	padding-bottom:5px;
	margin-bottom:20px;
    height: auto;
	}	
div.inner {
	height: auto;
	margin: 0 auto;
	padding: 0 1%;
	text-align: center;
	width: 98%;
	min-width:50%;
	}

}
img {height: auto;}
/* Header */
div.header {
    background: url(../images/bg_header.jpg) repeat;
    margin: 0 auto;
}
div.img_header {
    float: none;
    margin: 0 auto;
    width: 100%;
    background: none;
    height: auto;
    padding: 0px;
}
img.logo_header {
    margin: 0 auto;
    display: block;
}
div.nav{
    float: none;
    width:100%;   
}
img.mail_box {
    float: none;
    margin: 10px auto;
    
}
/* Header end */

/* Banner */
div.banner {
    float: none;
}
div.banner ul.bxslider{
    height: auto;
	max-width:0;
}
img.fix_banner {
    max-width: 100%;
    height: auto;
    width: 50%;
    
}
/* Banner end */

/* Content */
img.ctn_img1, ul.list_img li img  {height: auto;}

p.title_img img {
    height:  auto;
}
ul.list_img_ctn li {
    padding: 5px 0px;  
}
ul.list_img_ctn li.li_2 {
    padding: 0 0px;    
}
ul.list_img_ctn li img {height: auto;}
/* Content end */

/* Content bottom */
div.aside {
    float: none;
    margin: 0px auto;
    width: 100%;
}

div.ctn_main {
    float: none;
    width: 100%;
    margin: 10px auto;
}

div.aside ul li {
    padding: 5px 0;
}
div.box { 
    margin: 0 auto;
    }
img.title_blue {
    height:  auto;
    margin: 25px auto 5px auto;
   float: none;
}
img.link1 {
   height:  auto;
   margin: 16px 10px 10px 0px;
   float: right;
}
div.box dl {
    text-align: left;
}
div.box dl dt {
    float: none;
    width: 100%;
    padding-left: 3px;
    padding-bottom: 5px;
    }
div.box dl dd {
    padding-left: 3px;
}
div.group1 {display: none;}
/* Content bottom end */

/* Footer */

div.bg_blue {
    background: url(../images/footer1.jpg) repeat;
}
img.circle_big {
    height:  auto;
    float: none;
    margin: 5px auto;
}
table.schedule {
    float: none;
    margin: 5px auto;
    width: 100%;
    }
img.map {
    float: none;
    margin: 5px auto;
    padding-bottom: 20px;
}
div.group2{
    background: url(../images/footer3.jpg) repeat;
    }
div.left_footer {
    float: none;
    width: 100%;
}
div.left_footer img {
    margin: 0px auto;
    display:block;
}
div.right_footer {
    float: none;
    width: 100%;
}

div.right_footer ul {
    width: 33%;
    margin: 0px 0 10px 0;
    padding-left: 10px;
    
}
/* Footer end */