@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
}
:focus {outline: 0;}
ol, ul {list-style-type: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
a { 
	text-decoration: none; 
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
}
a img {border: 0;}
p{ line-height:1.6; }

div.box-1 a img:hover,
img.aside-img-2:hover,
a.img-button-2 img:hover,
img.button1-slim:hover,
img.button1-qa:hover,
img.aside-img-3:hover,
img.aside-button:hover,
.btSli7 a:hover
{
    opacity:0.6;
	filter:alpha(opacity=60); 
}
body {
	color: #73523f;
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
	font-size: 13px;
	background-color: #fff;
}
header {
	width: 100%;
	height: auto;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	z-index: 200;
	border-top: 4px solid #f0831e;
	float: left; 
}
.inner {
	min-width: 960px;
	max-width: 960px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
	position: relative;
	clear: both;
}
h1 {
	font-size: 12px;
	width: 100%;
	margin: 10px 0;
	text-align: left;
	display: inline-block;
}
.header-logo {
	float: left;
	max-width: 430px;
	width: 100%;
	height: 100px;
	margin-top: 10px;
}
.header-info {
	float: right;
	max-width: 245px;
	width: 100%;
	height: auto;
	margin-top: 0;
	display: inline-block;
	font-size: 12px;
	text-align: right;
}
.header-info p {
	width: 100%;
	display: inline-block;
	font-weight: bold;
}
.header-info span {
	width: 100%;
	color: #f0831e;
}
.phone-sp { display: none; }

/*menu button*/
div.nav {
	width: 100%;
	height: 55px;
	display: inline-block;
	position: relative;
	float: left;
	z-index: 999;
	background: url(../images/bg_menu.jpg) repeat-x left top;
	margin: 15px 0 0 0;
}
div.menu {
	margin: 0 auto;
	width:  100%;
	height: 55px;
	display: block;
	min-width: 973px;
	max-width: 973px;
}

div.menu ul {
	margin: 1px 0 0 0;
	padding: 0;
	background:url(../images/line_menu.jpg) no-repeat right center;
	width: 100%;
    display: inline-block;
    height: 53px;
}
div.menu ul li {
	float: left;
	width: 133px;
	height: 53px;
	background:url(../images/line_menu.jpg) no-repeat left center;
	padding: 0 3px;
}
div.menu ul li a {
	width: 100%;
	height: 53px;
	text-align: center;
	display: block;
	position: relative;
}
div.menu ul li a.menu-1:hover img,
div.menu ul li.menu-1 a.active img,
div.menu ul li a.menu-2:hover img,
div.menu ul li.menu-2 a.active img,
div.menu ul li a.menu-3:hover img,
div.menu ul li.menu-3 a.active img,
div.menu ul li a.menu-4:hover img,
div.menu ul li.menu-4 a.active img,
div.menu ul li a.menu-5:hover img,
div.menu ul li.menu-5 a.active img,
div.menu ul li a.menu-6:hover img,
div.menu ul li.menu-6 a.active img,
div.menu ul li a.menu-7:hover img,
div.menu ul li.menu-7 a.active img {
	display:none;
}
/*sub-menu*/
div.menu ul li a.menu-1:hover,
div.menu ul li.menu-1 a.active {
	background:url(../images/menu_1_hover.jpg) no-repeat center center;
}
div.menu ul li a.menu-2:hover,
div.menu ul li a.menu-2 a.active {
	background:url(../images/menu_2_hover.jpg) no-repeat center center;
}
div.menu ul li a.menu-3:hover,
div.menu ul li a.menu-3 a.active {
	background:url(../images/menu_3_hover.jpg) no-repeat center center;
}
div.menu ul li a.menu-4:hover,
div.menu ul li a.menu-4 a.active {
	background:url(../images/menu_4_hover.jpg) no-repeat center center;
}
div.menu ul li a.menu-5:hover,
div.menu ul li a.menu-5 a.active {
	background:url(../images/menu_5_hover.jpg) no-repeat center center;
}
.menu ul li a.menu-6:hover,
.menu ul li a.menu-6 a.active {
	background:url(../images/menu_6_hover.jpg) no-repeat center center;
}
div.menu ul li a.menu-7:hover,
div.menu ul li a.menu-7 a.active {
	background:url(../images/menu_7_hover.jpg) no-repeat center center;
}


div.menu ul li.menu-3 ul.sub-nav,
div.menu ul li.menu-4 ul.sub-nav { 
	display: none;
}
div.menu ul li.menu-3:hover ul.sub-nav,
div.menu ul li.menu-4:hover ul.sub-nav {
	background: none repeat scroll 0 0 #ffc472;
	display: block;
	height: auto;
	margin-left: -3px;
	position: absolute;
	top: 53px;
	width: 141px;
}

div.menu ul li ul.sub-nav li.sub-nav {
    height: auto !important;
    margin: 0 !important;
    padding: 10px 0 9px 0;
    text-align: center;
    width: 100%;
	border:none;
	border-bottom:1px solid #d19c5d;
	background:none;
}

div.menu ul li ul.sub-nav li.sub-nav-no-b {
	border-bottom:none;
}
div.menu ul li ul.sub-nav li.sub-nav:hover {
    background: url(../images/bg_menu_sub.jpg) no-repeat center center;
}
div.menu ul li ul.sub-nav li.sub-nav a.sub-nav {
    color: #66402b;
    float: none !important;
    font-size: 14px;
    height: auto !important;
    text-align: center;
	z-index:999 !important;
}	
div.menu ul li ul.sub-nav li.sub-nav a.sub-nav:hover {
    color: #ffffff;
}

/*banner*/
div.banner {
	width: 100%;
	height: 396px;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	z-index: 200;
	background: url(../images/bg_banner.jpg) repeat-x left top;
	text-align: center;
	float: left;
}
div.slide {
	height: 380px;
	width: 100%;
	max-width: 960px;
	min-width: 960px;
	display: block;
	text-align: center;
	margin: 0 auto;
}
img.banner {
	height: 380px;
	width: 100%;
	max-width: 960px;
	min-width: 960px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}         

/*content*/
div.content {
	width: 100%;
	max-width: 702px;
	height: auto;
	float: left;
	margin-top: 25px;
}
div.article-index {
	width: 100%;
	height: auto;
	text-align: center;
}
div.title-1 {
	background: url(../images/line_title.jpg) no-repeat left bottom;
	width: 100%;
	height: 7px;
	display: inline-block;
	text-align: left;
	padding-bottom: 22px;
	margin: 20px 0 15px 0;
}
div.title-1 img {margin-left: 10px;}
img.img-1 {float: left;}
div.content-1 {
	float: right;
	text-align: left;
	max-width: 418px;
	width: 100%;
	margin-top: -3px;
	margin-bottom: 20px;
}
div.content-1 p {
	width: 100%;
	display: inline-block;
	margin-bottom: 24px;
}

/*box in content*/
div.box-1 {
	width: 218px;
	height: auto;
	display: inline-block;
	text-align: left;
	border: 1px solid #d9d9d9;
	vertical-align: top;
}
div.box-1 p {
	margin: 5px 10px 5px 10px;
	height: 115px;
	display: inline-block;
}
div.box-1 a {
	margin: 0 0 0 10px;
	display: inline-block;
}
div.box-2 {
	margin: 0 16px;
}
div.title-3 { margin: 40px 0 15px 0; }
a.img-button-2 { float: right; }

/*box date*/
dl.date-index {
	display: inline-block;
	height: auto;
	text-align: left;
	width: 100%;
}
dl.date-index dt {
	background: url(../images/bullet_1.jpg) no-repeat left 5px;
	float: left;
	margin-left: 7px;
	padding-left: 15px;
	text-align: left;
}
dl.date-index dd {
	margin-bottom: 15px;
	padding-bottom: 15px;
	padding-left: 128px;
	background: url(../images/bg_index_dl.jpg) repeat-x left bottom;
}
/*aside*/
div.aside {
	float: right;
	width: 230px;
	height: auto;
	margin-top: 25px;
	text-align: center; 
}
div.bg-border-r-1 {
	width: 220px;
	margin: 20px 0;
	border: 1px solid #e9dfd9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #fffcf8;
	padding: 4px;
	display: inline-block;
}
div.bg-border-r-2 {
	width: 198px;
	border: 1px solid #e9dfd9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	background: #fff;
	display: inline-block;
	padding: 10px;
}
div.aside ul {
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}
div.aside ul li {
	font-size: 12px;
	display: inline-block;
	text-align: left;
	background: url(../images/aside_bullet_2.jpg) no-repeat left center;
	width: 178px;
	padding-left: 15px;
	margin: 2px 0 2px 20px;
}
div.aside ul li.li-1 {
	font-size: 14px;
	border-bottom: 1px solid #e9dfd9;
	background: none;
	margin-bottom: 5px;
	margin-left: 0;
	margin-top: 10px;
	padding-left: 0;
} 
div.aside ul li.li-1 a {
	background: url(../images/aside_bullet_1.jpg) no-repeat left center;
	padding-left: 15px;
} 
div.aside ul li a{
  color:#66402b;
}
div.aside ul li a:hover{
  text-decoration:underline;
}
img.aside-img-2 {
	margin: 3px 0 0 0;
}

div.bg-border-r-3{
	border:#e9dfd9 4px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width:192px;
	height:auto;
	text-align:left;
	padding:15px 15px 10px 15px;
}
p.aside-p-1{
  font-size:12px;
  display:inline-block;
  width:100%;
  margin:10px 0;
}
.aside-map {
	width: 189px;
	height: auto;
	margin: 5px 0;
	display: inline-block;
}
img.aside_button{
  margin:5px 0 0px 0px;
}

/*footer*/
footer {
	background: url(../images/footer_bg.jpg) repeat-x left top;
	margin: 50px auto 0 auto;
	width: 100%;
	display: block;
	height: auto;
	z-index: 99;
	float: left;
	position: relative;
	padding-bottom: 30px;
}
div.f-l {
	float: left;
	max-width: 350px;
	width: 100%;
	height: auto;
	margin-top: 30px;
	text-align: left;
	font-size: 12px;
	display: inline-block; 
}
div.f-l p {
	width: 100%;
	display: inline-block;
	margin: 8px 0 10px 0; 
}
.phone-text{color:#7a7a7a;}		
.phone-footer {font-size: 18px;}
div.menu-footer-1 {
	float: left;
	border: 1px solid #e7d3c1;
	height: auto;
	margin: 30px 0 0 40px;
	max-width: 300px;
	padding: 20px 0px 20px 30px;
    text-align: left;
    width: 100%;
}
div.menu-footer-1 ul {
	margin: 0;
	padding: 0;
	float: left;
	max-width: 150px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
div.menu-footer-1 ul li {
	text-align: left;
	margin: 3px 0;
	width: 100%;
	display: inline-block;
}
div.menu-footer-1 ul li a {
	color: #525260;
	background:url(../images/footer_bullet.png) no-repeat left center;
	padding-left: 20px;
	font-size: 14px;
	display: inline-block;
}
div.menu-footer-1 ul li a:hover,
div.menu-footer-2 ul li a:hover {
	text-decoration:underline;
}
/*footer 2*/
div.menu-footer-2 {
	background: url(../images/footer_bg_r.png) repeat left center;
	float: left;
	height: auto;
	margin: 30px 0px 0px 20px;
	max-width: 178px;
	padding: 10px 0 7px 20px;
	text-align: left;
	width: 100%;
	font-size: 13px;
}
div.menu-footer-2 ul{
	margin:0;
	padding:0;
}
div.menu-footer-2 ul li{
	text-align:left;
	margin:1.5px 0 1.5px 8px;
	width:100%;
	display:inline-block;
}
div.menu-footer-2 ul li a {
	color: #525260;
	background:url(../images/footer_bullet.png) no-repeat left center;
	padding-left:20px;
	display:inline-block;
}
div.menu-footer-2 ul li.menu-1{
	margin:3px 0;
}
div.menu-footer-2 ul li.menu-1 a {
	background: url(../images/footer_bullet_2.png) no-repeat left 5px;
	font-size: 16px;
	padding-left: 17px;
}
.center {text-align: center;}
div.copyright {
	background: #f88e01;
	text-align: center;
	padding: 8px 0 4px 0;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	height: 20px;
	color: #ffffff;
	float: left;
	font-size: 11px;
}
/*page*/
.no-margin-top{
	margin-top:0;
}
.title {
	font-weight: bold;
	font-size: 16px;
}
#page-top {
	bottom: 20px;
	font-size: 12px;
	position: fixed;
	right: 20px;
	z-index: 500;
}
#page-top a {
	background: #f0831e;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    width: 80px;
}
#page-top a:hover {
	background: #ffb452;
	text-decoration: none;
}

/*Page*/
h2 {
	background:url(../images/line_title.jpg) no-repeat left bottom;
	height: auto;
	text-align: left;
	padding: 0 0 10px 2%;
	margin: 20px 0 15px 0;
	font-size: 130%;
	font-weight: bold;
	letter-spacing: 0.15em;
	display: inline-block;
	width: 98%;	
}
h3 {
	border-color: #66a117;
	border-style: dotted dotted dotted solid;
	border-width: 1px 1px 1px 4px;
	clear: both;
	font-size: 120%;
	font-weight: bold;
    height: auto;
    letter-spacing: 0.15em;
    margin: 20px 0;
    padding: 10px 1.5%;
    text-align: left;
    display: inline-block;
    width: 96%;   
}
h4{
    background:url(../images/h4.png) no-repeat left 0px;
    clear: both;
    font-size: 120%;
    font-weight: bold;
    height: auto;
    letter-spacing: 0.15em;
    padding: 0 0 0 3%;
    text-align: left;
	display:inline-block;
	width:97%;
	margin: 20px 0;
	}
/*introduction*/
.txt-title-depilation{
	font-size: 15px;
	text-align: center;
	}
.clear {clear: both;}
.group-introduction {
	display: inline-block;
	width: 100%;
	padding-bottom: 20px; 
}
img.img-1-introduction {
	float: right;
	width: 100%;
	max-width: 220px;
	height: 165px;
}
ul.list-introduction {
	list-style-type: circle;
	text-align: left;
	margin: 0 auto;
	display: inline-block;
	padding-left: 10px;
}
.txt-bold { font-weight: bold; } 
.p-padding-bottom-slim {
	padding-bottom: 20px;
	text-align: justify;
}
.txt-left-slim {text-align: left;}
img.img-2-introduction {
	width: 100%;
	max-width: 240px;
	*width: 240px;
	height: 180px;
	float: right;
}

/*context 3*/
img.img-3-introduction {
	width: 100%;
	max-width: 240px;
	*width: 240px;
	height: 180px;
	float: left;
	padding-right: 10px;
}
ul.ul-introduction {
	display: block;
	text-align: left;
	margin: 0 auto;
}
ul.ul-introduction li {
	display: inline-block;
	padding: 5px;
	*float: left;
	letter-spacing: 0.15em;
	line-height: 1.6;
}

/*slim*/
div.align {
    text-align: left;
    padding: 0 15% 0 12%;
}
.align-text {
    text-align: left;
    padding: 0 15% 0 15%;
    letter-spacing: 0.15em;
}
p.p-slim {
	text-align: justify;
	margin-bottom: 12px;
	margin-left: 12px;
	letter-spacing: 0.15em;
}
.button1-slim {
	width: 100%;
	max-width: 250px;
	height: 42px;
	font-size: 15px;
	margin: 20px auto;
}

img.img1-slim {
	float: left;
	width: 349px;
	height: 260px;
}
div.group-slim-text {
	float: right;
	width: 49%;
	text-align: left;
	font-size: 14px;
}
.price {
    width: 100%;
    margin: 10px 0;
    text-align: center;
    font-size: 18px;
}

/*access*/
ul.ul-access {
	display: block;
	text-align: left;
	margin: 0 auto;
}
ul.ul-access li {
	width: 48%;
	display: inline-block;
	padding: 5px;
	vertical-align: top;
}
button.btn-access-content-1 {
	float: right;
	margin-top: 2%; 
}

div.group-qa {
	margin: 0 0 2% 4%; 
	width: 96%;
	max-width: 100%;
	height: auto;
	display: inline-block;
	text-align: left;
}
div.ques {
	background: whitesmoke;
	padding: 1% 1% 0 1%;
}
div.ques p {
	display: inline-block;
	height: auto;
	float: right;
	width: 92%;
	font-size: 16px;
	font-weight: bold;
}
div.ans {
	padding: 1% 1% 0 1%;
}
div.ans p {
	float: right;
	width: 92%;
	font-size: 14px;
}

/*pa*/
.p-pa-content-1 {
  text-align: left;
  padding-left: 4%;
  padding-bottom: 2%;
}
ul.ul-case {
	display: block;
	width: 100%;
	text-align: left;
	margin: 0 0 0 4%;
}
ul.ul-case li {
	width: 46%;
	max-width: 100%;
	display: inline-block;
	padding: 2px;
	vertical-align: top;
}


div.group-facial-text {
    float: right;
    width: 49%;
    text-align: left;
    font-size: 14px;
}

/*hair_growth*/
a.align-button {
	display: inherit;
	text-align: center;
} 

/*recruit*/
.p-recruit-content-1 {
	text-align: left;
	font-size: 120%;
	margin: 1px 3%;
	letter-spacing: 0.15em;
}
.p-recruit-content-2 {
	max-width: 100%;
	width: 97%;
	margin: 1px 3%;
	font-size: 110%;
}
.red { 
	color: red;
	font-weight: bold;
}
.inline-block {
	display: inline-block; 
	margin-bottom: 3%;
	margin-left: 1.5%;
	margin-right: 1.5%;
}
ul.ul-recruit {
	display: block;
	text-align: left;
	margin: 0 auto;
}
ul.ul-recruit li {
	display: inline-block;
	padding: 10px;
	*float: left;
	font-size: 110%;
}
.float-left {float: left;}
.float-right {float: right;}
img.img-recruit-2 {	margin: 0 8px;}
img.img-recruit-table { max-width: 100%;}

/*bihda*/
p.p-bihda-text-content-1 {
	text-align: left;
	font-weight: bold;
	font-size: 110%;
	padding: 2px 3px;
}
div.img-bihda-action {
	display: inline-block;
	text-align: left;
}
img.img-bihda-next {margin-bottom: 10%;}
img.img-bihda-down {display: none;}

/*acty*/
.group-acty-text {
	float: left;
	width: 61%;
	text-align: left;
	padding-left: 3%;
	font-size: 14px;
}
img.img-acty-1 {
	float: right;
	padding-top: 3%;
}

.group-acty-text-2 {
	text-align: left;
	padding-left: 3%;
	font-size: 14px;
}
img.img-acty-2 {
	max-width: 100%;
	width: 100%;
}
img.img-acty-3 {
  	width: 95%;
  	max-width: 100%;
  	margin-bottom: 2%;
}