@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;}
:focus {outline: 0;}

ol, ul {list-style: none;}
caption{font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a{ text-decoration:none; font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;}
a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {
    color: #2e2e2e;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    font-size: 12px;
	background:#fff;
}

p{
	line-height:1.8;
	}

.show_sp{
	display:none !important;
}	
/*header*/
div.header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
	display:inline-block;
	height:auto;
	margin-bottom:30px;
	z-index:99;
	position:relative;
}	
div.inner {
    height: auto;
    margin: 0 auto;
    width: 100%;
	height:auto;
	display:block;
	min-width:1020px;
	text-align:center;
	max-width:1020px;
}

	.HeaderText_Trivt{
		text-align: right;
		margin: 5px;
	}

.MenuTop_Trivt{
	width: 100%;
	margin: 10px 0 0 0;
	position: relative;
}

.Text_Logo_Banner_Trivt{
	float: left;
	margin:0;
}

div.menu{
	width: auto;
	float: right;
	height: auto;
	
}
div.menu ul{
	margin: 0;
	padding: 0;
}
div.menu ul li{
		float: left;
		margin: 0 0 0 5px;
		border-left: solid 1px #ccc;
}
div.menu ul li.li_sub ul{
	display: none;
}
div.menu ul li.li_sub:hover ul{
	background:url(../images/bg_menu_sub.png) repeat left top;
	display: block;
	width: 127px;
	height: auto;
	position: absolute;
	top:38px;
	margin-left: -1px;
	*margin-left:-120px;
}

div.menu ul li.li_sub ul li{
	width: 100%;
	display: inline-block;
	margin: 10px 0;
	text-align: center;
	border: none;
}
div.menu ul li.li_sub ul li a{

	color: #000000;
}
div.menu ul li.li_sub ul li a:hover{

	text-decoration: underline;;
}
.infiniteslide1{
	display: inline-block;
	margin: 0px auto 10px;
	text-align: center;
	width: 100%;
}


.Text_Slide_Trivt{
    left: 85px;
    position: absolute;
    top: 100px;
}

/*end header*/


/*content*/		
div.content{
	width:100%;
	max-width:675px;
	height:auto;
	float:right;
	}

	.ImageTop_Content_Trivt{
		width: 100%;
		margin: 0;
	}

	.Image_Item_Index_Trivt{
		margin:10px 0 5px 15px;
		width: 100%;
		max-width: 320px;
	}

div.article_index{
	width:100%;
	height:auto;
	display:inline-block;
	text-align: left;
	}


	div.Bottom_News_Index_Trivt{
	    float: left;
	    margin: 10px 0 0;
	    width: 100%;
	}

	div.Hot_News_Bg_Square_Trivt{
		margin: 0;

	}

	.Hot_News_Bg_Square_Trivt img{
		float: left;
		width: 175px;
		margin: 0;
	}

	.Bottom_News_Title{
	    float: left;
	    height: 160px;
	    padding: 10px;
	    text-align: left;
	    width: 620px;
	    background:#f8f8f8;
	}

	ul.Bottom_News_Title li{
		background:url(../images/index_img_bullet.jpg) no-repeat left 7px;
		padding: 0 0 0 20px;
		margin: 5px 0;
		border-bottom: dotted 1px #000;
		width: auto;
		line-height: 30px;
	}
		ul.Bottom_News_Title li a{
			color: #000;
			margin: 0 0 0 20px;
		}

	div.Hot_News_Bg_Circle_Trivt{
		float: left;
		margin: 0 0 0 20px;
	}
/*end content*/

/*aside*/
div.aside{
	max-width:330px;
	height:auto;
	width:100%;
	display:block;
	float:left;	
}

	.TitleText_Consutant_Trivt{
	    border-left: 1px solid #000;
	    left: 10px;
	    position: absolute;
	    top: 10px;
	    height: 40px;
	}

		.TitleText_Consutant_Trivt a{
		    margin: 17px 0 0 10px;
		    float: left;
		    color: #372825;
		    font-size: 20px;
		}

	.Bg_Consutant_Trivt{
		background:url(../images/aside_img_1.jpg) no-repeat left top;
	    height: auto;
	    margin: 0;
	    padding: 60px 10px 0;
	    position: relative;
	}
	.Consutant_Hour_Aside_Trivt{
		max-height: 97px;
		height: auto;
		margin: 0;
	}

	.Text_Note_Consutant{
		background:url(../images/triangle.jpg) no-repeat left 3px;
	    margin:0;
	    padding: 0 0 0 20px;
	    text-align: left;
	}

	.Map_Aside_Left_Trivt{
		background: #f8f8f8;
		padding: 10px;
		height: auto;
		margin: 13px 0 0 0;
	}

	.Note_Map_Aside_Trivt{
		background:url(../images/aside_img_3.jpg) no-repeat right 8px;
	    margin: 10px 0 0;
	    padding: 0 73px 0 0;
	    text-align: left;
	}

	.Image_Aside_Left_Trivt{
		margin: 13px 0 0 0;
	}

/*end aside*/

/*footer*/
div.footer{
	background:#f8f8f8;
	margin: 0 auto;
	padding:0;
    width: 100%;
	display:block;
	float:left;
	height:auto;
	margin-top:80px;
	z-index:99;
	position:relative;
	}

	.Page_Top_Bottom{
		background:#fff;
	    color: #000;
	    display: block;
	    line-height: 25px;
	    margin: 30px 0 0;
	    text-align: center;
	    text-transform: uppercase;
	}


	.Cover_Nav_Bottom_Trivt{
		position: relative;
		margin: 30px 0 20px;
		height: auto;
		display: inline-block;
	}

	ul.Nav_Bottom_Trivt{
		width: 600px;
		margin: 0 auto;
	}

		ul.Nav_Bottom_Trivt li{
			float: left;
			margin: 0 0 0 35px;
		}

		ul.Nav_Bottom_Trivt li a{
			color: #000;
		}

	.Mobile_Bottom_Trivt{
		clear: both;
		background:#fff;
		height: 40px;
		padding: 20px 0;
		width: 100%;
	}

	.Logo_Bottom_Nav_Trivt{
		display: inline-block;
		margin: 0 auto;
	}

	ul.Logo_Bottom_Nav_Trivt li{
		float: left;
		margin: 0 0 0 60px;
		line-height: 32px;
	}

	ul.Logo_Bottom_Nav_Trivt li a{
		color: #000;
	}
/*end footer*/	