@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;}
:focus {outline: 0;}

ol, ul {list-style: none;}
caption{font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a{ text-decoration:none; font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;}
a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {
    color: #7a7a7a;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    font-size: 14px;
	background:#fff;
}
.clear_fix{
	clear:both;
}
.phone_sp{
	display:none;
	}
img.img_href:hover,
img.img_5:hover,
img.header_mail:hover,
img.button_1:hover,
a.button_4 img:hover,
p.page_top a img:hover,
a.footer_href img:hover,
img.img_b_r:hover,
img.button_banner:hover
{
    opacity:0.6;
	filter:alpha(opacity=60); 
}
div.header{
	width:100%;
	height:auto;
	display:inline-block;
	margin:0 auto;
	position:relative;
	z-index:200;
	background:url(../images/header_top.jpg) repeat-x center top;
	padding-top:20px;
	float:left;
	}
div.inner {
    height: auto;
    margin: 0 auto;
    width: 100%;
	height:auto;
	display:block;
	min-width:976px;
	max-width:976px;
	position:relative;
	clear:both;
}	
img.header_logo{
	float:left;
	max-width:352px;
	width:100%;
	height:75px;
	}	
div.header_info{
	float:right;
	max-width:429px;
	width:100%;
	height:auto;
	margin-top:10px;
	display:inline-block;
	}	
img.phone_l,
img.phone_r,
img.header_mail{
	float:left;
	}			
img.phone_sp{
	display:none;
	}	
div.banner{
	width:100%;
	height:318px;
	display:inline-block;
	margin:3px auto 2px auto;
	position:relative;
	z-index:200;
	background:url(../images/bg_banner.png) repeat-x center top;
	text-align:center;
	float:left;
	}
div.slide{
	height:318px;
	width:100%;
	max-width:976px;
	min-width:976px;
	display:block;
	text-align:center;
	margin:0px auto;
	position:relative;
	}		
img.banner{
	height:318px;
	width:100%;
	max-width:976px;
	min-width:976px;
	text-align:center;
	margin:0px auto;
	position:relative;
	}
a.h_b_1{
    bottom: 11%;
    height: 23px;
    left: 33%;
    position: absolute;
    width: 116px;
	}
a.h_b_2{
    bottom: 11%;
    height: 23px;
    right: 1.5%;
    position: absolute;
    width: 116px;
	}		
/*menu*/
div.nav{	
	width:100%;
	height:71px;
	display:inline-block;
	position:relative;
	z-index:999;
	float:left;
	background:url(../images/bg_menu.jpg) repeat-x left bottom;
	}
div.menu{
	height: auto;
    margin: 0 auto;
    width: 100%;
	height:auto;
	display:block;
	min-width:986px;
	max-width:986px;
	}
div.menu ul{
	margin:0;
	padding:0;
	}
div.menu ul li{
	float:left;
	width:162px;
	height:65px;
	border-left:2px solid #fff;
	}
div.menu ul li.menu_6{
	border-right:2px solid #fff;
	}							
div.menu ul li a{
	width:100%;
	height:63px;
	text-align:center;
	display:block;
	position:relative;
	}			
div.menu ul li:hover,
div.menu ul li.active{
	background:url(../images/bg_menu_hover.png) no-repeat center top;
	}
div.menu ul li.menu_4 ul.subNav {
    display: none;
}
div.menu li.menu_4:hover ul.subNav {
    display: block;
    height: auto;
    position: absolute;
    top: 57px;
    width: 162.5px;
	background:#fde59e;
}

div.menu ul li ul.subNav li.subNav {
    height: auto !important;
    margin: 0 !important;
    padding: 7px 0;
    text-align: center;
    width: 100%;
	border:none;
	border-bottom:1px solid #fff;
}
div.menu ul li ul.subNav li.subNav:hover {
    background: #fcdb81;
	}
div.menu ul li ul.subNav li.subNav a.subNav {
    color: #595959;
    float: none !important;
    font-size: 14px;
    height: auto !important;
    text-align: center;
	font-weight:bold;
	z-index:999999999 !important;
}
		
div.content{
	width:100%;
	max-width:645px;
	height:auto;
	float:left;
	margin-top:30px;
	}	
div.article_index{
	width:100%;
	height:auto;
	text-align:center;
	}	
div.article_index_l{
	float:left;
	width:314px;
	height:auto;
	text-align:left;
	}
div.title_2_index{
	margin-top:20px;
	}	
img.img_1{
	float:left;
	}	
div.article_index_l	p{
	float: left;
    font-size: 12px;
    margin-left: 10px;
    text-align: left;
    width: 165px;
	line-height:17px;
	}
div.article_index_l	p a{
	float:right;
	}	
div.article_index_l	p a.button_2{
	margin-top:15px;
	}	
div.article_index_2{
	float:right;
	}
dl.index{
	display: inline-block;
    height: auto;
    text-align: left;
    width: 100%;
	}	
dl.index dt{
	background: url(../images/bullet_1.jpg) no-repeat left 6px;
    float: left;
    margin-left: 7px;
    padding-left: 15px;
    text-align: left;
	}
dl.index dd {
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 118px;
	border-bottom:1px dotted #b2b2b2;
}	
img.img_2{
	margin-top:10px;
	}	
div.bg_y{
	background:url(../images/bg_border.jpg) no-repeat left top;
	width:598px;
	height:592px;
	display:inline-block;
	text-align:center;
	padding:65px 22px 15px 22px;
	position:relative;
	margin-top:10px;
	}
img.img_k{
	position:absolute;
	right: 30px;
    top: -2px;
	}	
img.title_5{
	margin-bottom:5px;
	max-width:599px;
	width:100%;
	height:37px;
	}		
img.img_8{
	max-width:591px;
	height:112px;
	width:100%;
	margin-bottom:10px;
	}		
img.img_9{
	float:right;
	}
p.p_margin_b{
	float: left;
    margin-bottom: 20px;
    margin-left: 3px;
    text-align: left;
    width: 377px;
	}			
a.button_4{
	float:right;
	margin-top:25px;
	}	
/*aside*/	
div.aside {
	float:right;
	width:314px;
	height:auto;
	margin-top:30px;
	text-align:center;
	}	
div.aside_title_1{
	background:url(../images/bg_title.jpg) no-repeat left center;
	width:100%;
	height:31px;
	display:inline-block;
	text-align:left;
	margin-bottom:20px;
	}
div.aside_title_2{
	margin-bottom:10px;
	}	
img.img_title{
	margin-left:10px;
	margin-top:9px;
	}		
img.img_href{
	float: right;
    margin-right: 10px;
    margin-top: 9px;
	}	
iframe.aside_map{
	margin:0 auto 3px auto;
	width:271px;
	height:180px;
	}
img.button_3{
	margin:0 auto 25px auto;
	}	
div.aside_box{
	width:100%;
	display:inline-block;
	height:auto;
	}	
div.aside_box p{
	float:left;
	width:150px;
	text-align:left;
	}
div.aside_box img{
	float:right;
	margin-top:20px;
	}	
div.aside_box_2{
	text-align:left;
	background:url(../images/aside_bg_y.jpg) no-repeat left center;
	width:275px;
	margin-bottom:35px;
	height:59px;
	display:inline-block;
	padding:13px 20px;
	}	
a.mail{
	color:#7a7a7a;
	}	
img.img_5{
	float:left;
	}	
/*footer*/
div.footer{
	background:url(../images/footer_line_top.jpg) repeat-x left top;
	margin: 60px auto 30px auto;
    width: 100%;
	display:block;
	height:auto;
	float:left;
	z-index:99;
	position:relative;
	}	
.page_top{
	position:absolute;
	right:0;
	top:-35px;	
}	
div.f_l{
	float:left;
	max-width:316px;
	width:100%;
	height:auto;
	margin-top:70px;
	text-align:left;
	font-size:14px;
	display:inline-block;
	}
img.footer_logo{
	width:316px;
	height:auto;
	}
div.f_l p{
	width:100%;
	display:inline-block;
	}	
p.footer_href{
	text-align:right;
	margin-top:10px;
	margin-bottom:20px;
	}
.phone_text{
	color:#7a7a7a;
	}		
.phone_footer{
	font-size:18px;
	}			
div.menu_footer{
	border-left: 3px solid #f2f2f2;
    float: left;
    height: auto;
	margin:55px 0px 0px 40px;
    max-width: 577px;
    padding: 55px 0px 35px 40px;
    text-align: left;
    width: 100%;
}
div.menu_footer ul{
	margin:0;
	padding:0;
	float:left;
	width:175px;
	}			
div.menu_footer ul li{
	text-align:left;
	margin:3px 0;
	width:100%;
	display:inline-block;
}
div.menu_footer ul li a {
	color: #525260;
	background:url(../images/footer_bullet.jpg) no-repeat left center;
	padding-left:20px;
	font-size:12px;
	display:inline-block;
}
div.menu_footer ul li.menu_sub {
	margin-left:36px;
	}
div.menu_footer ul li.menu_sub a{
	font-weight:normal;
	background:url(../images/footer_bullet_2.jpg) no-repeat left center;
	padding-left:15px;
	}	
div.menu_footer ul li a:hover{
	text-decoration:underline;
	}	
div.copyright{
	text-align:center;
	background:url(../images/bg_copyright.jpg) repeat-x left top;
	padding:12px 0 6px 0;
	font-weight:bold;
	display:inline-block;
	width:100%;
	height:20px;
	float:left;
	font-size:11px;
	margin-bottom:20px;
	}
/*page*/
div.nav_page{
	margin-bottom:30px;
	}		
h2{
	background:url(../images/h2_bg.jpg) no-repeat left top;
	width:100%;
	text-align:left;
	height:31px;
	margin:20px 0px;
	padding:23px 0 17px 0;
	display:inline-block;
	font-size:17px;
	font-weight:bold;
	color:#82d65f;
	text-indent:9px;
	position:relative;
	}	
span.bg_h2_right{
	background:url(../images/h2_bg_r.jpg) no-repeat right top;
	width:71px;
	height:74px;
	display:inline-block;
	position:absolute;
	top:0;
	right:0;
	}	
.no_margin_top{
	margin-top:0;
	}	
h3{
	background:url(../images/bg_h3.jpg) repeat-x left top;
	width:100%;
	height:26px;
	padding-top:5px;
	display:inline-block;
	text-align:left;
	margin:20px 0;
	font-size:15px;
	font-weight:bold;
	text-indent:9px;
	}	
		
/*Nhung*/
.sl1_block{
	clear:both;
	overflow:hidden;
	width:100%;
	max-width:645px;
	height:auto;
	text-align:center;
	margin-top:0px;
	}
img.sl1_img{
	float:left;
	margin-right:20px;
	}
.sl1_txt{
	float:left;
	width:100%;
	max-width:323px;
	height:auto;
	text-align:left;
	margin-top:-6px;
	}
.sl1_txt_d {
	max-width:380px;
	font-size:12px;
	}	
.sl1_txt a{
	color:#7a7a82;
	}
.sl1_txt a:hover{
	opacity:0.6;
	filter:alpha(opacity=60); 
	}
.sl1_big{
	font-size:25px;
	font-weight:normal;
	margin-bottom:0px;
	display:block;
	}
.sl1_marbot{
	margin-bottom:8px;
	display:block;
	font-size:12px;
	}
img.sl1_img2{
	display:block;
	}
div.sl1_life_bor {
    border: 1px solid #d4c8b8;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 50%;
	float:left;
}
.sl1_list ul{
	width:100%;
	}
.sl1_list li{
	background:url(../images/about/icon.png) no-repeat left 6px;
	padding-left:20px;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	line-height:25px;
	}
div.sl1_right{
	float:right;
	width:46%;
	text-align:left;
	}
img.about_img_1{
	max-width:288px;
	width:100%;
	height:71px;
	margin-left:10px;
	margin-bottom:11px;
	}	
img.about_img_2{
	height:105px;
	}	
.sl1_bg{
	background:url(../images/about/bg_border_radius_1.jpg) no-repeat left top;
	float:right;
	width:90%;
	height:54px;
	padding:12px 10px 5px 10px;
	overflow:hidden;
	margin-bottom:20px;
	}
.sl1_bg_2{
	background:url(../images/about/bg_border_radius_2.jpg) no-repeat left top;
	height:88px;
	}	
ul.sl1_list2{
	float:left;
	margin-right:5px;
	}
ul.ul_1{
	width:143px;
	}	
ul.sl1_list2 li{
	background:url(../images/about/icon2.png) no-repeat left 2px;
	padding-left:13px;
	font-size:10px;
	text-align:left;
	color:#000;
	text-shadow:2px 2px #fff;
	}
.sl1_marleft{
	margin-left:10px;
	display:block;
	margin-bottom:4px;
	}
.sl1_txt_01{
	width:100%;
	max-width:645px;
	height:auto;
	text-align:left;
	margin-bottom:20px;
	}
.ul_sl1 {
    text-align: center;
    width: 100%;
	
	margin-bottom:30px;
}
.ul_sl1 li {
    display: inline-block;
    vertical-align: top;
    width: 197px;
	height:139px;
	
	margin:11px 0;
	text-align:center;
}
.ul_sl1 li.li_1{
	background:url(../images/about/bg_1.png) no-repeat;
	}
.ul_sl1 li.li_2{
	background:url(../images/about/bg_2.png) no-repeat;
	}
.ul_sl1 li.li_3{
	background:url(../images/about/bg_3.png) no-repeat;
	}		
p.txt_big{
	font-size:15px;
	font-weight:bold;
	margin-top:20px;
	text-align:center;
	height:50px;
	width:197px;
	color:#7a623d;
	}
p.txt_min{
	font-size:11px;
	font-weight:normal;
	text-align:center;
	margin-top:10px;
	width:197px;
	color:#7a623d;
	}
.ul_sl1 li.midth{
	margin:11px;
	display:inline-block;
	}
.ul_sl1_2 {
    text-align: center;
    width: 100%;
	margin-bottom:50px;
}
.ul_sl1_2 li {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}
.midth2{
	margin:0px 15px;
	display:inline-block;
	}
.sl2_big{
	font-size:25px;
	font-weight:normal;
	margin-bottom:20px;
	display:block;
	}
.sl2_big2{
	font-size:17px;
	margin-left:10px;
	}
.sl2_marbot{
	margin-bottom:10px;
	display:block;
	}
.tableCommon {
    border-collapse: collapse;
    color: #3c3c3c;
    width: 100%;
}
.tableCommon th {
    background: #fceebf;
    border: 1px solid #cac8c8;
    padding: 5px;
    text-align: left;
	font-weight:normal;
}
.tableCommon td {
    background: #ffffff;
    border: 1px solid #cac8c8;
    padding: 5px;
    text-align: left;
}
.sl9_big{
	width:100%;
	font-size:20px;
	font-weight:bold;
	text-align:left;
	}
.sl9_big_red{
	font-size:32px;
	font-weight:bold;
	color:#ff0000;
	margin-left:15px;
	}
.h3_price{
	margin-top:40px;
	}	
img.logo_price{
	float:left;
	}	
div.info_price{
	float:right;
	width:285px;
	height:auto;
	text-align:left !important;
	margin-top:1px;
	margin-left:43px;
	}	
.phone_price{
	width:100%;
	float:left;
	height:auto;
	font-size:32px;
	color:#7a7a7a;
	}
.phone_price_2{
	font-size:13px;
	}	
.phone_price_new{
	font-size:28px !important;
	}	
a.price_mail{
	color:#7a7a7a;
	}	
strong.small{
	font-size:12px;
	}	
div.sl1_block p.a_p{
	width:100%;
	display:inline-block;
	text-align:right;
	}	
/*end Nhung*/	


/*Hieu*/
p.margin_intro_text{
	margin-bottom: 15px;
	text-align: left;
}
p.margin_intro_normal{
	text-align: left;
}
p.margin_intro_h3{
	margin-bottom: 30px;
	text-align: left;	
}
div.ct_intro{
	padding-bottom: 10px;
	border-bottom: 1px dashed #b2b2b2;
	overflow: hidden;
	text-align: center;	
	margin-bottom: 10px;
}
div.no_border{
	border-bottom: none;	
}
img.img_intro{
	float: right;	
}
div.ct_intro_left{ 
	width: 100%;
	max-width: 230px;	
	text-align:center;
}
p.text_bold{
	font-weight: bold;
	font-size: 16px;	
}
p.bg_img{
	display: inline-block;
	padding: 7px 0;
	width: 75px;
	height: 28px;
	background: url(../images/information/mt_1.png) no-repeat center;	
}
img.img_mt_intro{
	margin: 7px 0;	
}
p.text_bg_intro{
	width: 120px;	
	padding:5px 10px;
	text-align: center;
	display: inline-block;
	color:#000;
}
p.c_1{
	background:#fac090;
	border-radius:8px;
	}
p.c_2{
	background:#95b3d7;
	border-radius:8px;
	}	
p.c_3{
	background:#c3d69b;
	border-radius:8px;
	}
p.c_4{
	background:#fac090;
	border-radius:8px;
	}
p.c_5{
	background:#95b3d7;
	border-radius:8px;
	}			
p.text_bg_intro strong{
	font-size: 20px;
	font-weight: bold;	
}
p.text_bg_intro a{
	color:#000;
	font-size:12px;	
}
p.text_bg_intro a:hover{
	text-decoration:underline;
	}
div.ct_intro_spe{
	margin-bottom: 5px;
	border: 1px solid #d4c8b8;
	padding: 12px;
	overflow: hidden;	
}
p.text_intro_spe{
	vertical-align: middle;
	float: left;
	text-align: left;
	font-weight: bold;
	font-size: 14px;	
}
ul.ul_intro{
	float: right;
	text-align: left;
	width: 100%;
	max-width: 400px;
}
ul.ul_intro li{
	list-style: disc;	
}
div.ct_intro_fix{
	overflow: hidden;	
	text-align: left;
}
p.bg_img_spec{
	display: inline-block;
	width: 76px;
	background:url(../images/information/mt_2.png) no-repeat center;
	height: 40px;
	margin-left: 57px;	
}
div.ct_fin{
	overflow: hidden;
	margin-bottom:15px;  	
}
p.text_left_fin{
	text-align: left;
	max-width: 290px;
	width: 100%;
	height: 106px;
	float: left;
	padding: 10px;
	border: 1px solid #d4c8b8;	
}

p.text_right_fin{
	float: right;	
}
strong.str_red{
	display: block;
	color: #F00;
	font-weight: bold;
	margin-bottom: 10px;	
}
.bottom_mg{
	margin-bottom: 30px;
}
/*end Hieu*/


/*Duy*/
/*4_acupuncture*/
.box_acup{
	overflow:hidden;
	margin-bottom:45px;
}
.box_acup_1{
	margin-bottom:70px;
	}
img.sl4_img{
	float:right;
}
img.sl4_img_end{
	float:left;
}
.title_sl4{
	font-weight:bold;
	margin-bottom:10px;
	font-size:15px;
}
.text_sl4{
	width:400px;
	float:left;
	text-align:left;
}
h4{
	width:400px;
	float:left;
	text-align:left;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 15px;
	}
.text_sl4_end{
	float:right;
	width:390px;
}
.p_red{
	color:#FF0000;
}
.bot_sl4{
	margin-bottom:30px;
}
.bot_2{
	margin-bottom:40px;
}
.p_all_sl4{
	width:100%;
	text-align:left;
}
.p_bottom{
	margin-bottom:15px;
}
/*5_moxibustion*/
.text_moxi{
	width:420px;
}
/*10_access*/
.if_access{
	width:100%;
	height:400px;
	margin-bottom:15px;
}
.all_ac{
	display:inline-block;
	margin-top:15px;
	margin-bottom:30px;
}
.ac_1{
	float:left;
	width:310px;
	border:1px solid;
	margin-bottom:10px;
	height:102px;
}
.ac_2{
	width:310px;
	float:right;
	border:1px solid;
	height:444px;
}
.ac_3{
	width:310px;
	float:left;
	border:1px solid;
	height:330px;
}
.p_ac_1{
	text-align:left;
	background:url(../images/access/icon.png) no-repeat left 2px;
	padding-left:19px;
	margin:15px 10px 5px 10px;
}
.p_ac_2{
	text-align:left;
	padding:0px 10px 15px 25px;
}
img.img_end_sl10{
	float:left;
	margin: 0 0 15px 25px;
}
.iframe_sl10{
	width:250px;
	height:250px;
	margin:30px 15px;
}
img.logo_price{
	float:left;
	}
/*end Duy*/	
ul.ul_m{
	
	max-width: 288px;
	width: 97%;
	height: 52px;
	margin-left: 10px;
	margin-bottom: 11px;
	padding:7px 0;
	
	}
ul.ul_m li{
	color:#000;
	background:url(../images/about/bullet.jpg) no-repeat left center;
	
	padding-left:15px;
	font-size:10px;
	width:41%;
	float:left;
	margin:1px 0 1px 3%;
	}	
ul.ul_m_2{
	height:84px;
	}	
img.img_3_about{
	max-width:647px;
	height:326px;
	width:100%;
	margin:0 auto;
	}	
p.p_pr_1{
	text-align:left;
	display:inline-block;
	color:#7a623d;
	font-size:36px;
	font-weight:bold;
	width:100%;
	}
p.p_pr_2{
	color:#ff0000;
	font-size:30px;
	}
p.p_pr_2 strong{
	font-size:26px;
	margin-left:10px;
	color:#7a623d;
	}		
p.p_pr_3{
	font-size:18px;
	margin:30px 0;
	}		
p.sl1_txt_d_2{
	margin-top:0;
	}
/*--Nguyet--*/
body.and .text_bold_nguyet{ 
 		-webkit-text-stroke-width: 0.5px; 
 		-webkit-text-stroke-color: #7a7a7a;
		-webkit-text-fill-color: #7a7a7a;
		color: #7a7a7a;
		}
.text_bold_nguyet {
	font-weight:bold;
}
.content_nguyet p {
	text-align:left;
}
.content_nguyet {
	text-align:left;
}
.margin_p_nguyet {
	margin-bottom:20px;
}
.margin_t20_nguyet {
	margin:10px 0 10px 0;
}
.margin_top_nguyet {
	margin-top:30px;
}
.content_left {
	text-align:left !important;;
}
.content_center_n {
	margin:0 auto !important;
	text-align:center !important;
	clear:both;
}
.float_r_nguyet {
	float:right;
}
.float_l_nguyet {
	float:left;
}
.clear_fix {
	clear:both;
}
.title_1_nguyet {
font-size:18px;
}
.img_left_nguyet {
	float:left;
	margin-right:10px;
}
.img_right_nguyet {
	float:right;
	margin-left:10px;
}
.tt_very_large_nguyet {
	font-size:20px;
}
.small_nguyet {
	font-size:11px;
}
.clumn_r1_nguyet {
	width:49%;
	display:inline-block;
	*float:right;
}

ul.list_left_nguyet {
	width:45%;
	border:think solid #7a7a7a;
	text-align:left;
	list-style-image:url("../images/about/icon.png");
	display:inline-block;
	float:left;
	padding-left:15px;
	font-size:12px;
}

.clumn_r2_nguyet {
	width:45%;
	position:relative;
	display:inline-block;
	*float:right;
	vertical-align:top;
	text-align:left;
}

.p_brown_nguyet {
	border-radius:12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	background-color:#ccc;
	height:auto;
	line-height:14px;
	padding:3% 5%;
	display:inline-block;
	font-size:10px;
	position:relative;
	color:#000;
	vertical-align:top;
	clear:both;
	margin-bottom:20px;
	width:90%;
	
}
ul.list_2_nguyet {
	width:auto;
	padding-left:15px;
	text-align:left;
	list-style-image:url("../images/about/icon2.png");
	display:inline-block;
	color:#000;
}
ul.first_ul {margin-right:5px;}
ul.photos_list_nguyet {
	display:inline-block;
}
ul.photos_list_nguyet li{
	display:inline-block;
	*float:left;
}
ul.photos_list_nguyet li.li_2 {
	margin:0 10px;
	}
.tbl_collapse_nguyet {
	border-collapse:collapse;
	text-align:left;
	
}
.process_nguyet {
width:90%;
padding:5% 5%;
border-bottom:1px dashed #000;
display:inline-block;
}
.group_right {
 text-align:center !important;
}
table.step_nguyet {
	border:1px solid #ccc;
	width:600px;
}
.noborder_nguyet {
	border:none;
}
td.td_left_nguyet {
 font-size:14px;
 vertical-align:middle;
}
ol.list_disc {
	list-style-type:disc;
}
img.icon_info_nguyet {
	margin-top:-15px;
	position:relative;
	left:50px;
}
.red_nguyet {
color:#ff0000;
}
h4.title_1 {
width:100%;
clear:both;
}
ul.list_6_nguyet {
	display:inline-block;
	text-align:left;
}
ul.list_6_nguyet li{
	display:inline-block;
	*float:left;
	width:45%;
	padding:1%;
	border:1px solid #ccc;
	margin:0 10px 20px 0;
}
ul.list_6_nguyet li span{
	font-size:16px;
	color:#ff0000;
	}

/*--end Nguyet--*/
/*Hien sss*/
/*page 1*/
.h3_row1_hien{
	display:inline-block;
	_text-align:left;
	width:100%;
	margin-bottom:20px;
	}
.h3_row1_img_left_hien{
	float:left;
	text-align:left;
	width:300px;
	max-width:300px;
	height:199px;
	*width:300px;
	*max-width:300px;
	margin-right:20px;
	}
.h3_row1_text_right_hien{
	text-align:left;
	display:inline-block;
	_padding-right:30px;
	width:325px;
	}
.row1_text_right_fontsize_hien{
	font-size:20px;
	}
.row1_text_right_content_hien{
	display:inline-block;
}
dl.row1_text_right_content_hien dt{
	float:left;		
	}
p.p_size{
	font-size:90%;
	}
.img_math{
	width:298px;
	max-width:298px;
	height:70px;
	}
.h3_row2_left{
	border:1px solid #BFBFBF;
	float:left;
	margin-right:5px;
	text-align:left;
	}
.h3_row2_list1_hien{	
	margin-left:20px;
	font-size:85%;	
	list-style-image:url(../images/about/icon.png);	
	}
.h3_row2_right_hien{
	width:300px;
	float:left;
	}
.h3_row2_ul_hien
	{
	border:4px solid #BFBFBF;
	border-radius:15px;
	background:#BFBFBF;
	font-size:70%;
	display:inline-block;
	margin:0 auto;
	text-align:left;	
	}
.h3_row2_right_boder1_hien{		
	list-style-image:url(../images/about/icon2.png);
	padding-left:20px;
	float:left;
	}
ul.h3_row2_right_boder1_hien li{		
	padding-right:20px;	
	} 
.button_hien{
	display:inline-block;
	width:100%;
	text-align:right ;	
	margin-top:20px;
}
.bg_button_hien{
	background:#7F7F7F;
	padding:5px 15px;
	color:#000;
	
	}
.p_left{
	text-align:left;
	}
ul.h3_row3_hien {
	text-align:center;
	width:100%;	
	display: inline-block;
	margin:20px 0 0 0;	
	}
ul.h3_row3_hien li{
	display: inline-block;	
	*float:left;
	margin-bottom:20px; 
	}
ul.h3_row3_hien li.h3_row3_li2_hien{
	margin:0 10px;
	}
.p_margin{
	margin:0 40px;
	
	}
/*page 2*/
.h3_page2_row1_img_left_hien{
	float:left;
	text-align:left;
	width:240px;
	max-width:240px;
	height:249px;
	*width:240px;
	*max-width:240px;
	margin-right:20px;
	}
.p_page2_fontsize_hien{
	font-size:25px;
	font-weight:bold;
	}
.span_page2_fontsize_hien{
	font-size:15px;
	font-weight:normal;
	}	
.h3_page2_row1_list_hien{
	text-align:left;
	margin:20px;
	}
.h3_page2_row3_hien{
	border:5px solid blue;	
	}
/*page 3*/
.h3_page3_row1_hien{
	display:inline-block;	
	width:100%;
	margin-bottom:20px;
	}	
.h3_page3_row1_img_left_hien{
	float:right;
	width:100%;
	max-width:250px;
	height: auto;
	}
.h3_page3_row1_img_right_hien{
	padding-bottom:20px;
	width:380px;
	}
.img_arrow{
	background:url(../images/information/mt_1.png) no-repeat center;
	_width:140px;
	height:56px;
	_float: left;
	_padding: 0 0 30px 330px;
	text-align:center;	
		
	}
.img_button{
	_float: left;
	width: 100%;
	max-width:140px;
	height:63px; 
	*width:140px;	
	}
.h3_page3_row2_hien{
	border:1px solid #CCCCCC;	
	_width:100%;
	margin-bottom:50px;
	}
.table_hien{
	padding:10px 20px;
	}
.table_hien tr{	
	display:inline-block;
}
.th_table_hien th{	
	float:left;	
 	_vertical-align: middle;
 	
	}
.td_table_hien{
	text-align:left;
	padding-left:80px;
	}
.list_hien{
	list-style-type:disc;				
}
.img_arrow2{
	text-align:left;
	float:left;
	position:relative;
	margin-top:-15px;
	left:50px;
	}
.red_span{
	color:red;
	}
.h3_page5_margin_hien{
	margin-left:20px;
	}
.h3_page5_row1_img_left_hien{
	float:right;
	_width:100%;
	_max-width:250px;
	height: auto;
	}
/*page6*/
.h3_page6_left_hien{
	border:2px solid #F8F8F8;
	text-align:left;
	width:45%;
	float:left;
	margin-right:20px;
	margin-top:20px;
	}
.h3_page6_right_hien{
	border:3px solid #F8F8F8;
	text-align:left;
	width:45%;
	float:right;
	}
/*page 7*/
.h3_page7_row1_hien{
	display:inline-block;
	width:100%;	
	margin-bottom:20px;
}
ul.h3_page7_row1_hien li{
	border: 1px solid #BFBFBF;
	padding:10px 10px;
	text-align:left;
	width:40%;	
	float:left;	
	margin-left:20px;
	margin-bottom:20px;
	}
.p_red_size_hien{
	font-size:18px;
	font-weight:bold;
	color:#FF0000;
	}
/*page 8*/
.h3_page8_row1_hien{
	display:inline-block;
	width:100%;
	_text-align:left;
	margin-bottom:20px;
	}
.h3_page8_row1_img_left_hien{
	float:right;
	*float:right;	
	}
.span_size_hien{
	font-size:18px;
	font-weight:bold;	
	}
.span_red_hien{
	color:#FF0000;
	}
/*page 9*/
.h3_page9_row1_hien{
	border:1px solid #D9D9D9;
	border-radius:32px;
	width:100%;	
	_max-width:456px;
	_height:195px;
}
.span_size_hien{
	font-size:25px;
	font-weight:bold;
	}
.p_page9_left_hien{
	float:left;
	}

.h3_page9_row3_left_hien{
	display:inline-block;
	width:35%;
	text-align:left;
	_margin-bottom:20px;	
	}
.p_page9_right_hien{
	width:60%;
	_margin:20px;
	text-align:left;
	float:right;
	}
.p_bold_bold{
	font-size:25px;
	font-weight:bold;
	}
/*page 10*/
.hien{
	display:inline-block;
	margin-bottom:20px;	
	width:100%;	
	}
.hien2{
	float:right;
	}
.h3_page10_row2_hien{
	float:left;
	width:47%;
}
ul.h3_page10_row2_hien li{	
	border: 1px solid #BFBFBF;
	padding:10px 10px;
	text-align:left;		
	margin-left:20px;
	margin-bottom:20px;
	}

.page10_link_hien{
	color:#D9D9D9;
	}
.clear{
	clear:both;
	}
.p_border{
	border: 1px solid #BFBFBF;
	padding:10px 10px;
	width:40%;
	margin-bottom:20px;	
	}
/*end Hien*/

/*--Duy--*/

/*--end Duy--*/