<!DOCTYPE html>
<html>
  <head>
    <meta content="名古屋市,歯科,熱田区,矯正歯科,噛み合わせ,顎関節症" name="keywords">
    <meta content="名古屋市で歯科、矯正歯科・噛み合わせ・顎関節症・審美歯科・予防歯科・一般歯科をお探しなら熱田区にある「みやじま歯科医院」へ" name="description">
    <meta content="© みやじま歯科医院 All rights reserved." name="copyright">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="ja" http-equiv="Content-Language">
    <meta content="text/css" http-equiv="Content-Style-Type">
    <meta content="text/javascript" http-equiv="Content-Script-Type">
    <meta content="width=device-width; initial-scale=1.0" name="viewport">
    <title>名古屋市熱田区にある歯医者「みやじま歯科医院」</title>
    <link type="text/css" rel="stylesheet" href="css/common.css">

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="js/scoll.js"></script>
    <script src="js/infiniteslide.js"></script>
    <script src="js/jquery.pause.min.js"></script>
    <script>
    		$(function(){
    			$('.infiniteslide1').infiniteslide({
    				'height': 412, //高さ
    				'speed': 30, //速さ
    				'direction' : 'left', //向き
    				'pauseonhover': true //マウスオーバーでストップ
    			});
    		});
	   </script>
  </head>
  <body>
  <div class="header">
        <div class="inner">
        		<div class="HeaderText_Trivt">
                <img class= "show_pc" src="images/header_phone.jpg" alt="logo" />
                <a href="tel:0822215701" class="show_sp"><img src="images/header_phone.jpg" alt="電話番号"></a>
            </div>
            <div class="MenuTop_Trivt">
                <a href="#" title="Logo">
                    <img src="images/header_logo.jpg" alt="logo" class="Text_Logo_Banner_Trivt" />
                </a>
                <div class="menu" id="globalNavi">
                    <ul class="Nav_Main_Top_Trivt">
                        <li>
                            <a href="" title="">
                                <img src="images/menu_1.png" alt="logo" class="Text_Logo_Banner_Trivt" />
                            </a>
                        </li>
                        <li class="li_sub">
                            <a href="" title="">
                                <img src="images/menu_2.png" alt="logo" class="Text_Logo_Banner_Trivt" />
                            </a>
                            <ul class="subNav">
                                <li>
                                    <a href="#" title="バーでストップ"> バーでストップ</a>
                                </li>
                                <li>
                                    <a href="#" title="バーでストップ"> バーでストップ</a>
                                </li>
                                <li>
                                    <a href="#" title="バーでストップ"> バーでストップ</a>
                                </li>                                                                
                            </ul>
                        </li>
                        <li>
                            <a href="" title="">
                                <img src="images/menu_3.png" alt="logo" class="Text_Logo_Banner_Trivt" />
                            </a>
                        </li>
                        <li>
                            <a href="" title="">
                                <img src="images/menu_4.png" alt="logo" class="Text_Logo_Banner_Trivt" />
                            </a>
                        </li> 
                        <li>
                            <a href="" title="">
                                <img src="images/menu_5.png" alt="logo" class="Text_Logo_Banner_Trivt" />
                            </a>
                        </li>   
                    </ul>
                </div>
            </div>
            
        </div><!--inner-->
  </div>

  <div class="infiniteslide1 show_pc">
      <ul>
          <li>
              <img src="images/banner.jpg" alt="logo" />
          </li>
          <li>
              <img src="images/banner_1.jpg" alt="logo" />
          </li>
          <li>
              <img src="images/banner_2.jpg" alt="logo" />
          </li>                               
      </ul>
  </div>
  <div class="Text_Slide_Trivt show_pc">
      <img src="images/text_banner.png" alt="logo" />
  </div>         
  <div class="inner">
      <div class="content">
      	   <div class="article_index">
                <a href="index.html">
                    <img src="images/index_img_1.jpg" alt="大倉山五葉治療院" class="ImageTop_Content_Trivt">
                </a>
                <a href="index.html">
                    <img src="images/index_img_2.jpg" alt="大倉山五葉治療院" class="Image_Item_Index_Trivt">
                </a>
                <a href="index.html">
                    <img src="images/index_img_3.jpg" alt="大倉山五葉治療院" class="Image_Item_Index_Trivt">
                </a>
                <a href="index.html">
                    <img src="images/index_img_4.jpg" alt="大倉山五葉治療院" class="Image_Item_Index_Trivt">
                </a>
                <a href="index.html">
                    <img src="images/index_img_5.jpg" alt="大倉山五葉治療院" class="Image_Item_Index_Trivt">
                </a>                                  
          </div>

      </div><!--section-->

      <div class="aside">
          <div class="Bg_Consutant_Trivt">
              <h3 class="TitleText_Consutant_Trivt">
                <a href="#">倉山五葉</a>
              </h3>
              <img src="images/aside_img_2.jpg" alt="大倉山五葉治療院" class="Consutant_Hour_Aside_Trivt">
              <p class="Text_Note_Consutant">大倉山五葉治療院大<br />倉山五葉治療院倉山五葉治療院倉山五葉治療院</p>
          </div>

          <div class="Map_Aside_Left_Trivt">
              <img src="images/aside_map.jpg" alt="大倉山五葉治療院">
              <p class="Note_Map_Aside_Trivt">
                大倉山五葉治療院大倉山五葉治療院大倉山五葉治療院大倉山五葉治療院大倉山五
              </p>
          </div>

          <img src="images/aside_img_4.jpg" alt="大倉山五葉治療院" class="Image_Aside_Left_Trivt">
         
      </div><!--aside-->

      <div class="Bottom_News_Index_Trivt">
          <div class="Hot_News_Bg_Square_Trivt">
              <img src="images/index_img_7.jpg" alt="大倉山五葉治療院">
              <ul class="Bottom_News_Title">
                  <li>
                      <span>2014 22 09</span>
                      <a href="#" title="倉山五葉治療院倉山">倉山五葉治療院倉山倉山五葉治療院倉山</a>
                  </li>
                  <li>
                      <span>2014 22 09</span>
                      <a href="#" title="倉山五葉治療院倉山">倉山五葉治療院倉山倉山五葉治療院倉山</a>
                  </li>
                  <li>
                      <span>2014 22 09</span>
                      <a href="#" title="倉山五葉治療院倉山">倉山五葉治療院倉山倉山五葉治療院倉山</a>
                  </li>
                  <li>
                      <span>2014 22 09</span>
                      <a href="#" title="倉山五葉治療院倉山">倉山五葉治療院倉山倉山五葉治療院倉山</a>
                  </li>                                                              
              </ul>
          </div>

          <div class="Hot_News_Bg_Circle_Trivt">
              <img src="images/index_img_6.jpg" alt="大倉山五葉治療院">
          </div>

      </div>

  </div><!--inner-->
   
  <div class="footer">
      <div class="inner">
          <a href="#" class="Page_Top_Bottom" id="page-top">
            PageTop
          </a>

          <nav class="Cover_Nav_Bottom_Trivt">
              <ul class="Nav_Bottom_Trivt">
                  <li><a href="" tilte="Home">Home</a></li>
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>           
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>
                  <li><a href="" tilte="倉山五葉">倉山五葉</a></li>                  
              </ul>
          </nav>
          <div class="Mobile_Bottom_Trivt">
              <ul class="Logo_Bottom_Nav_Trivt">
                <li>
                    <a href="" >
                        <img src="images/footer_logo.jpg" alt="大倉山五葉治療院" />
                    </a>
                </li>
                <li>
                    <a href="" >
                      <img src="images/footer_phone.jpg" alt="大倉山五葉治療院" />
                    </a>
                </li>
                <li><a href="" >大倉山五葉治療院大倉山五葉治療院大倉</a></li>
              </ul>
            
          </div>
      </div><!--inner--> 
  </div> 
   <script type="text/javascript" src="js/jquery.meanmenu.min.js"></script>
  <script type="text/javascript" src="js/behavior.js"></script>		
          

  </body>
</html>