@charset="utf-8";

body {
	font-family: Georgia, Times, serif;
	margin: 0; 
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

/* container class */
#container {
	margin: 0 auto;
	width: 500px;
	min-height: 700px;
	border: 1px solid #0033ff;
}

/* title class */
.title {
	margin: 0 auto;
	height: 25px;
	line-height: 1.6;
	font-weight: bold;
	padding-left: 4px; 
}

/* profile of Nam*/
.player-info { display: flex; }

.player-profile .title { background: url("../../img/title_bg.gif") repeat-x; }

.player-profile img {
	width: 100px;
	height: 90px;
}

.player-list {
	margin: 0 0 0 9px;
	width: 400px;
	height: 100px;
	padding-left: 0;
	list-style-type: none;
	overflow: scroll;
}

/*Fact of Nam*/
.facts { padding-top: 15px; }

.facts .title { margin-bottom: 15px; }

.facts-list {
	margin-top: 0;
	margin-left: 2px;
	list-style-type: none;
}

.facts ul li::before {
	content: url("../../img/star.gif");
	margin-right: 4px;
	padding: 0;
}

/*Fan's post*/
.post {
	margin-top: 40px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 14px; 
}

.post-content {
	position: relative;
	padding-left: 4px;
	background-color: #ECECEC;
}

.post-info {
	margin-left: 50px;
	font-size: 14px;
}

.post-info a {
	text-decoration: none;
	color: #0c35f1;	
}

.post-info img { height: 15px; }

/*Your comment*/
.your-comment {
	padding: 20px 6px 5px;
	font-size: 14px;
}

.your-comment h3 {
	text-align: center;
	margin: 0;
}

.your-comment table input[type="text"] {
	width: 120px;
}

.your-comment table textarea {
	max-width: 350px;
	height: 100px;
}	
