.list-top-arrow, .list-top-right, .list-tab, .search-top-arrow, .search-tb, .list-top-arrow li a, .detail-photo-btn li:first-child a, .record-tb1 a, .list-top-right li:nth-of-type(2) a, .list-top-right li:first-child a, .btn-white, .list-top-right li:last-child a, .detail-photo-btn li:last-child a, .list-tab li a, .detail-group-item > li > ul > li, .detail-photo, .list-hira > li > ul, .list-hira > li > ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.list-top-arrow li a, .detail-photo-btn li:first-child a, .record-tb1 a, .list-top-right li:nth-of-type(2) a, .list-top-right li:first-child a, .btn-white, .list-top-right li:last-child a, .detail-photo-btn li:last-child a, .list-tab li a, .detail-group-item > li > ul > li, .access-list-btn li:first-child, .list-hira > li > ul li {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-top-arrow, .list-top-right, .list-tab, .search-top-arrow, .search-tb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-top-arrow li a, .detail-photo-btn li:first-child a, .record-tb1 a {
  background: #7F7F7F;
  color: #fff;
}

.list-top-right li:nth-of-type(2) a {
  background: #0033CC;
  color: #fff;
}

.list-top-right li:first-child a, .btn-white {
  color: #000;
  border: 1px solid #000;
}

.list-top-right li:last-child a {
  background: #009900;
  color: #fff;
}

.detail-photo-btn li:last-child a {
  background: #ff0000;
  color: #fff;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html, body,
div,
span,
object,
iframe, h1, h2, h3, h4, h5, h6,
p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
q, strong,
tt, var, dl, dt, dd, ol, ul, li, form, label, legend,
caption, tbody, tfoot, thead, header, footer {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
     -moz-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"], body [type="button"],
div [type="button"],
span [type="button"],
object [type="button"],
iframe [type="button"], h1 [type="button"], h2 [type="button"], h3 [type="button"], h4 [type="button"], h5 [type="button"], h6 [type="button"],
p [type="button"], blockquote [type="button"],
pre [type="button"], a [type="button"], abbr [type="button"], acronym [type="button"], address [type="button"], big [type="button"], cite [type="button"], code [type="button"],
q [type="button"], strong [type="button"],
tt [type="button"], var [type="button"], dl [type="button"], dt [type="button"], dd [type="button"], ol [type="button"], ul [type="button"], li [type="button"], form [type="button"], label [type="button"], legend [type="button"],
caption [type="button"], tbody [type="button"], tfoot [type="button"], thead [type="button"], header [type="button"], footer [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/**
*file style.scss
*/
html, body,
div,
span,
object,
iframe, h1, h2, h3, h4, h5, h6,
p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
q, strong,
tt, var, dl, dt, dd, ol, ul, li, form, label, legend,
caption, tbody, tfoot, thead, header, footer {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

:focus {
  outline: 0;
}

body {
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
  background: #ffffff;
  font-size: 16px;
}

.clear-fix {
  content: "";
  clear: both;
  display: table;
}

.inner {
  width: 95%;
  margin: 0 auto;
  display: block;
  position: relative;
  clear: both;
  height: auto;
}

header {
  padding-bottom: 5px;
  margin-bottom: 8px;
  height: auto;
}

header .head-login-title1, header .head-login-title2 {
  padding: 5px 0;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-color: #0066ff;
}

header .head-login-title2 {
  color: #000000;
  background-color: #d9ecff;
}

.wrap {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 500px;
  height: auto;
}

.btn-sub {
  float: right;
  margin-top: 10px;
  padding: 5px 10px 4px 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color: #009900;
  border: none;
}

.tb-login {
  width: 100%;
  font-size: 14px;
  border: 2.5px solid #D9ECFF;
  border-collapse: collapse;
}

.tb-login tr {
  border: 1.4px solid #D9ECFF;
}

.tb-login td {
  padding: 2px 5px;
  line-height: 1.5em;
  border: 1px solid #D9ECFF;
}

.tb-login-name {
  width: 30%;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #00B0F0;
}

.tb-login-text {
  width: 70%;
  max-width: 250px;
  text-align: left;
  color: #000000;
  border: 1.4px solid #7e7e7e;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background-color: #ffffff;
}

/*page main menu*/
.center {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.form-group {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.form-group label {
  max-width: 100%;
  vertical-align: middle;
  font-weight: 500;
  color: #009900;
}

.form-group .form-control {
  display: inline-block;
  width: auto;
  height: 18px;
  vertical-align: middle;
  border: 1.4px solid #7e7e7e;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  text-align: center;
}

.form-group .menu-input {
  max-width: 115px;
  height: 25px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.menu-group-btn {
  width: 80%;
  min-width: 250px;
  max-width: 400px;
  margin: 25px auto 0 auto;
}

.menu-group-btn .menu-btn {
  width: 100%;
  padding: 10px 0;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  text-align: center;
  border: none;
  color: #ffffff;
}

.menu-group-btn .red-btn {
  margin-bottom: 35px;
  background-color: #da251c;
}

.menu-group-btn .blue-btn {
  background-color: #0033cc;
}

.blue-text {
  font-weight: 500;
  color: #0033cc;
  word-spacing: 5px;
}

.blue-text-strong {
  font-weight: 800;
}

.active {
  background-color: #d9ecff;
}

.list-top-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-top-arrow {
  width: 19.60784%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-top-arrow {
  width: 19.60784%;
}

.list-top-arrow li {
  width: 46.57534%;
  height: 30px;
}

.list-top-arrow li a {
  color: #fff;
  font-size: 18px;
  width: 100%;
  height: 100%;
}

.list-top-right {
  width: 44.11765%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 2px;
}

.list-top-right li {
  width: 31.69399%;
}

.list-top-right li a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 16px;
}

.list-top-right li:first-child {
  height: 28px;
}

.list-top-right li:nth-of-type(2) {
  height: 30px;
}

.list-top-right li:last-child {
  height: 30px;
}

.list-tab {
  width: 100%;
  border-bottom: 2px solid #0033CC;
}

.list-tab li {
  width: 18.95425%;
  height: 40px;
  background: #D9ECFF;
  border: 1px solid #0033CC;
  border-bottom: 0;
  height: 32px;
  -webkit-border-top-left-radius: 7px;
     -moz-border-radius-topleft: 7px;
          border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
     -moz-border-radius-topright: 7px;
          border-top-right-radius: 7px;
}

.list-tab li a {
  width: 100%;
  height: 100%;
  padding-top: 2px;
  color: #000;
}

.list-tab li.active {
  background: #0033CC;
}

.list-tab li.active a {
  color: #fff;
}

.detail-info {
  width: 100%;
  background-color: #ffffcc;
  border: 2px solid #a6d2ff;
  padding: 5px 10px 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px auto 10px;
  word-spacing: 40px;
}

.detail-group-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto 30px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.detail-group-item > li {
  margin-right: 2%;
  width: 49%;
}

.detail-group-item > li > ul > li {
  height: 30px;
  border: 1px solid #66b3ff;
  margin-bottom: 5px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.detail-group-item > li > ul > li.blue {
  background: #00b0f0;
  color: #fff;
}

.detail-group-item > li .title-green {
  color: #19b861;
  text-align: center;
  margin: 10px auto 5px;
}

.detail-group-item > li:nth-of-type(2n) {
  margin-right: 0;
}

.detail-photo {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.detail-photo img {
  margin: auto 3.52941% 15px 5.4902%;
}

.detail-photo-btn {
  width: 15.68627%;
}

.detail-photo-btn li {
  width: 100%;
  height: 35px;
}

.detail-photo-btn li a {
  width: 100%;
  height: 100%;
}

.detail-photo-btn li:first-child {
  margin-bottom: 10px;
}

.txt-blue {
  color: #1c49d2;
  line-height: 1.5;
}

.detail-list-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-list-btn li:first-child {
  width: 49.01961%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-list-btn li:first-child label {
  width: 16%;
  font-weight: 500;
  color: #009900;
  text-align: right;
}

.detail-list-btn li:first-child .form-control {
  width: 80%;
  min-height: 10px;
  height: 28px;
  max-height: 25px;
  vertical-align: middle;
  text-align: center;
  margin-right: -4px;
  border: 1.4px solid #7e7e7e;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.detail-list-btn li:first-child .input-bg {
  background-color: #ffffcc;
}

.detail-list-btn li:nth-of-type(2), .detail-list-btn li:nth-of-type(3), .detail-list-btn li:nth-of-type(4) {
  width: 14.70588%;
}

.detail-list-btn li .btn-grey1 {
  width: 100%;
}

.detail-list-btn li .btn-grey1 {
  padding: 6px;
  color: #ffffff;
  background-color: #7f7f7f;
  border: none;
}

.detail-list-btn li:last-child {
  margin-right: 0;
}

/*tab*/
.detail-tab4 {
  width: 96%;
  margin-top: 15px;
}

.detail-tab4 h2 {
  max-width: 100%;
  padding: 5px 8px 10px;
  color: #ffffff;
  background-color: #00B0F0;
  border-top: 2px solid #99ccff;
  border-right: 2px solid #99ccff;
  border-left: 2px solid #99ccff;
}

.detail-tab4-content {
  padding: 10px 20px 5px 12px;
  border: 2px solid #99ccff;
}

.detail-tab4-content p {
  max-width: 380px;
}

#tab5 {
  margin-top: 10px;
}

/*tab2*/
.fixed-tb {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-collapse: collapse;
  border: 2px solid #D9ECFF;
}

.fixed-tb td {
  border: 2px solid #D9ECFF;
}

.fixed-tb td input {
  width: 32px;
  padding: 0 10px 5px;
  text-align: center;
  border: 1px solid #7e7e7e;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.fixed-tb td:nth-of-type(2) {
  width: 22.47191%;
}

.fixed-tb-title {
  width: 69px;
  padding: 5px;
  height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #00B0F0;
}

.fixed-tb-title label {
  width: 100%;
  word-spacing: 8px;
  text-align: center;
}

.fixed-tb1 {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-collapse: collapse;
  border: 2px solid #D9ECFF;
}

.fixed-tb1 td {
  border: 2px solid #D9ECFF;
}

.fixed-tb1 td input {
  width: 55.39568%;
  padding: 0 10px 5px;
  margin-left: 2px;
  text-align: center;
  border: 1px solid #7e7e7e;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.fixed-tb1-title {
  width: 89px;
  padding: 5px;
  height: 20px;
  text-align: left;
  color: #ffffff;
  background-color: #00B0F0;
}

.fixed-tb1-title label {
  display: block;
  width: 100%;
  text-align: left;
}

.fixed-tb1-close {
  vertical-align: middle;
  background: #7F7F7F;
  color: #fff;
  border: none;
}

/*tab1*/
.record-tb1 {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-collapse: collapse;
  border: 2px solid #D9ECFF;
}

.record-tb1 tr {
  border: 2px solid #D9ECFF;
}

.record-tb1 input {
  border: 1px solid #7e7e7e;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.record-tb1 a {
  width: 17.18062%;
  height: 6.2vw;
  max-height: 30px;
  min-height: 27px;
  color: #fff;
  font-size: 15px;
}

.record-tb1 tr td:last-child {
  padding: 2px 5px;
}

.record-tb1 tr:nth-of-type(1) td:last-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record-tb1 tr:nth-of-type(1) td:last-child input {
  padding: 4px 10px;
  text-align: center;
  color: #00B0F0;
  background-color: #ffffcc;
}

.record-tb1 tr:nth-of-type(1) td:last-child input:nth-of-type(1) {
  width: 20.26432%;
  height: 5.8vw;
  max-height: 22px;
  min-height: 15px;
}

.record-tb1 tr:nth-of-type(1) td:last-child input:nth-of-type(2) {
  width: 46.69604%;
  height: 5.8vw;
  max-height: 22px;
}

.record-tb1 tr:nth-of-type(2) td:last-child input {
  padding: 4px 10px;
  text-align: center;
  color: #000000;
  background-color: #D9ECFF;
}

.record-tb1 tr:nth-of-type(2) td:last-child input:nth-of-type(1) {
  width: 32.59912%;
  height: 5.4vw;
  max-height: 20px;
  min-height: 15px;
}

.record-tb1 tr:nth-of-type(2) td:last-child button {
  margin-left: 10px;
  width: 31px;
}

.record-tb1 tr:nth-of-type(3) td:last-child input {
  padding: 4px 10px;
  text-align: center;
}

.record-tb1 tr:nth-of-type(3) td:last-child input:nth-of-type(1) {
  width: 20.26432%;
  height: 5.8vw;
  max-height: 22px;
  color: #000000;
  background-color: #D9ECFF;
}

.record-tb1 tr:nth-of-type(3) td:last-child input:nth-of-type(2) {
  width: 20.26432%;
  height: 5.8vw;
  max-height: 23px;
  color: #00B0F0;
  background-color: #ffffcc;
}

.record-tb1 tr:nth-of-type(3) td:last-child select {
  width: 17.737%;
  margin: 0 20px 0;
  height: 8.6vw;
  max-height: 30px;
  min-height: 23px;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #000000;
  border: 1px solid #7e7e7e;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.record-tb1 tr:nth-of-type(3) td:last-child select option {
  overflow: visible;
  text-align: center;
}

.record-tb1 tr:nth-of-type(4) td:last-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record-tb1 tr:nth-of-type(4) td:last-child input {
  padding: 4px 10px;
  text-align: left;
  color: #000000;
  background-color: #d9ecff;
}

.record-tb1 tr:nth-of-type(4) td:last-child input:nth-of-type(1) {
  width: 44.49339%;
  height: 5.3vw;
  max-height: 20px;
}

.record-tb1 tr:nth-of-type(5) td:last-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record-tb1 tr:nth-of-type(5) td:last-child input {
  padding: 4px 10px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}

.record-tb1 tr:nth-of-type(5) td:last-child input:nth-of-type(1) {
  width: 44.49339%;
  height: 5.3vw;
  max-height: 20px;
}

.record-tb1 tr:nth-of-type(6) td:last-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record-tb1 tr:nth-of-type(6) td:last-child input {
  padding: 4px 10px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}

.record-tb1 tr:nth-of-type(6) td:last-child input:nth-of-type(1) {
  width: 44.49339%;
  height: 5.3vw;
  max-height: 20px;
}

.record-tb1 tr:nth-of-type(7) td:last-child .radio-form {
  width: 99.06977%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px;
}

.record-tb1 tr:nth-of-type(7) td:last-child .radio-form-label {
  width: 28.37209%;
  text-align: right;
  font-weight: 500;
  color: #0033cc;
}

.record-tb1 tr:nth-of-type(7) td:last-child .radio-form-select {
  width: 68.83721%;
  height: 8.6vw;
  max-height: 30px;
  min-height: 24px;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #000000;
  border: 1px solid #7e7e7e;
  background-color: #ffffcc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.record-tb1 tr:nth-of-type(7) td:last-child ul.list-radio {
  width: 50.69767%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.record-tb1 tr:nth-of-type(7) td:last-child ul.list-radio > li {
  width: 50%;
  padding: 4px 12px 6px;
  text-align: center;
  border: 1px solid #7e7e7e;
}

.record-tb1 tr:nth-of-type(7) td:last-child ul.list-radio > li:nth-of-type(2) {
  border-left: none;
}

.record-tb1 tr:nth-of-type(8) td:last-child {
  width: 99.06977%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
}

.record-tb1 tr:nth-of-type(8) .check-box:nth-of-type(odd) {
  margin-right: 10px;
}

.record-tb1 tr:nth-of-type(9) td:last-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record-tb1 tr:nth-of-type(9) td:last-child input {
  width: 8.83721%;
  height: 5.2vw;
  max-height: 28px;
  min-height: 23px;
  text-align: center;
  background-color: #ffffcc;
}

.record-tb1 tr:nth-of-type(9) td:last-child select {
  width: 76.74419%;
  height: 5.4vw;
  padding: 0 10px;
  max-height: 30px;
  min-height: 23px;
  color: #000000;
  border: 1px solid #7e7e7e;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.record-tb1 tr:nth-of-type(9) td:last-child img {
  vertical-align: bottom;
  width: 3.72093%;
  margin-top: 14px;
}

.record-tb1 tr:nth-of-type(10) td:last-child, .record-tb1 tr:nth-of-type(11) td:last-child {
  width: 99.06977%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
}

.record-tb1 tr:nth-of-type(10) td:last-child select, .record-tb1 tr:nth-of-type(11) td:last-child select {
  width: 97.67442%;
  height: 5.4vw;
  padding: 0 10px;
  max-height: 30px;
  min-height: 23px;
  color: #000000;
  border: 1px solid #7e7e7e;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.record-tb1 .check-box {
  width: 23.61111%;
  padding: 4px 12px 6px;
  text-align: center;
  border: 1px solid #7e7e7e;
}

.record-tb1 .check-box input[type="checkbox"] {
  padding: 2px;
  border: 1px solid #000000;
}

.record-tb1 .close {
  width: 7.92952%;
  height: 5.4vw;
  max-height: 30px;
  min-height: 23px;
  margin-left: 25px;
  display: inherit;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: #7e7e7e;
  border: none;
}

.record-tb1-title {
  width: 89px;
  padding: 5px 0 5px 10px;
  height: 20px;
  text-align: left;
  color: #ffffff;
  background-color: #00B0F0;
}

.record-tb1-title label {
  display: block;
  width: 100%;
  text-align: left;
  word-spacing: 8px;
}

.record-tb1-close {
  vertical-align: middle;
  background: #7F7F7F;
  color: #fff;
  border: none;
}

/*access.html*/
.letter-space {
  letter-spacing: 10px;
}

.label-calen {
  border: none;
  vertical-align: middle;
  padding: 0;
  background-color: #ffffff;
}

.btn-white {
  background-color: #ffffff;
}

.btn-white-right {
  float: right;
  margin-bottom: 5px;
  padding: 5px 20px;
  font-weight: bold;
  color: #000000;
  border: 2px solid #000000;
}

.btn-grey {
  height: auto;
  padding: 7px 22px;
  color: #ffffff;
  background-color: #7e7e7e;
  border: none;
}

.btn-blue {
  padding: 7px 25px;
  color: #ffffff;
  border: none;
  background-color: #0033cc;
}

img.img-calendar {
  max-width: 100%;
  vertical-align: middle;
}

.access-list-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.access-list-btn li:first-child {
  width: 58.82353%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
}

.access-list-btn li:first-child label {
  width: 24.19355%;
  font-weight: 500;
  color: #009900;
  margin-right: 4%;
  text-align: right;
}

.access-list-btn li:first-child .form-control {
  width: 70.96774%;
  height: 4.5vw;
  max-height: 25px;
  min-height: 20px;
  vertical-align: middle;
  text-align: center;
  margin-right: 3%;
  border: 1.4px solid #7e7e7e;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.access-list-btn li:first-child .input-bg {
  background-color: #ffffcc;
}

.access-list-btn li:first-child button {
  width: 12.19512%;
}

.access-list-btn li:nth-of-type(2), .access-list-btn li:nth-of-type(4) {
  width: 10.45752%;
}

.access-list-btn li .btn-grey1 {
  width: 100%;
}

.access-list-btn li .btn-grey1 {
  max-height: 30px;
  height: 5.4vw;
  min-height: 25px;
  color: #ffffff;
  background-color: #7f7f7f;
  border: none;
}

.access-list-btn li:nth-of-type(3) {
  width: 13.0719%;
}

.access-list-btn li:last-child {
  margin-right: 0;
}

.left-box {
  float: left;
  padding-left: 5px;
}

.right-box {
  float: right;
}

.dl-info-access {
  font-size: 14px;
  border: 1px solid #D9ECFF;
}

.dl-info-access dl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0 0 8px;
}

.dl-info-access dt {
  width: 25.16556%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dl-info-access dt:last-child {
  padding-bottom: 5px;
}

.dl-info-access dd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 68.21192%;
}

.dl-info-access .dd-last {
  width: 2.31788%;
  padding-right: 5px;
  font-weight: 500;
}

.dl-top {
  margin-top: 10px;
}

.dl-focus {
  background-color: #d9ecff;
}

.text-blue {
  color: #0033cc;
  font-weight: 500;
}

/*popup calendar*/
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 10% 5%;
  display: none;
}

.popup_content {
  position: absolute;
  left: 30%;
  top: 10%;
  width: 300px;
  background: black;
  text-align: center;
  padding: 10% 5%;
}

/*
*relatedinfo.html
*/
.related-head {
  margin-bottom: 0;
}

.relate-list-info {
  font-weight: 500;
  padding: 5px 3px 8px 10px;
  border-left: 1px solid #00B0F0;
  border-right: 1px solid #00B0F0;
  border-bottom: 1px solid #00B0F0;
}

.relate-list-info:first-child {
  border-top: 1px solid #00B0F0;
}

.relate-list-info:last-child {
  margin-bottom: 10px;
}

.relate-list-info:nth-child(even) {
  background-color: #D9ECFF;
}

.search-top-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.search-top-arrow {
  width: 85.29412%;
  margin-bottom: 10px;
  padding-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-top-arrow > li {
  width: 47.89272%;
  height: 35px;
  border: 1px solid #00B0F0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.search-top-arrow > li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #000;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-top-arrow > li a:active {
  color: #ffffff;
  background-color: #00B0F0;
}

.search-top-title {
  font-weight: 500;
  color: #009900;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.search-tb {
  width: 91.50327%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-tb tbody {
  width: 100%;
}

.search-tb tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.search-tb tr:nth-of-type(2) {
  margin: 6px 0;
}

.search-tb td:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 28.98551%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-tb td:first-child label {
  font-weight: 500;
  color: #009900;
}

.search-tb td:last-child {
  width: 100%;
}

.search-tb td:last-child input {
  width: 99%;
  max-height: 25px;
  height: 5.3vw;
  border: 1px solid #7e7e7e;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: #ffffcc;
}

.search-tb button {
  width: 23.90244%;
}

.search-tb .btn-grey1 {
  max-height: 35px;
  height: 5.4vw;
  min-height: 25px;
  color: #ffffff;
  background-color: #7f7f7f;
  border: none;
}

.search-tb-list-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-tb-list-btn li {
  width: 23.90244%;
}

.search-tb-list-btn li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #000;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.visiting-list {
  width: 100%;
  height: auto;
  border: 2px solid #00B0F0;
  border-collapse: collapse;
}

.visiting-list tr {
  width: 100%;
  border: 1px solid #00B0F0;
}

.visiting-list tr:nth-child(odd) {
  background-color: #d9ecff;
}

.visiting-list td, .visiting-list th {
  padding: 10px;
  text-align: left;
}

.visiting-list th {
  color: #ffffff;
  text-align: left;
  font-weight: normal;
  background-color: #00b0f0;
  border-right: 1px solid #d9ecff;
}

.visiting-list th:nth-child(2) {
  padding: 5px;
}

.visiting-list th:nth-child(4), .visiting-list th:nth-child(5) {
  text-align: center;
}

.visiting-list td {
  height: 10px;
  font-weight: 500;
  border: 1px solid #00B0F0;
}

.visiting-list td:nth-child(2) {
  padding: 5px;
}

.visiting-list td:nth-child(2), .visiting-list td:nth-child(4) {
  text-align: center;
}

.visiting-list td:nth-child(4) {
  padding-left: 15px;
}

.visiting-list .point-red {
  width: 10px;
  height: 10px;
  background-color: red;
}

.visit-head {
  padding: 5px 0;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-color: #ffc000;
}

/*
*user.html
*/
.tab-user {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tab-user li {
  margin-right: 4px;
}

.tab-content {
  font-weight: 500;
  padding: 5px 3px 8px 10px;
  border-left: 1px solid #00B0F0;
  border-right: 1px solid #00B0F0;
  border-bottom: 1px solid #00B0F0;
}

.tab-content:last-child {
  margin-bottom: 10px;
}

.tab-btn-right {
  float: right;
}

#tab4 .tab-content {
  height: 130px;
}

.list-hira {
  width: 320px;
  display: block;
  margin: 10px auto auto;
}

.list-hira > li > ul {
  margin-bottom: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-hira > li > ul li {
  width: 60px;
  height: 60px;
  background: #efefef;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: #a2a2a2 #d7d7d7 #d7d7d7 #a2a2a2;
  color: #3f3cde;
  font-size: 20px;
  font-weight: bold;
}

.list-hira > li > ul li:first-child {
  color: #eb4bb0;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .list-top-arrow {
    width: 21.24183%;
  }
  .list-top-arrow li {
    height: 27px;
  }
  .list-top-arrow li a {
    font-size: 15px;
  }
  .list-top-right {
    width: 55.55556%;
  }
  .list-top-right li a {
    font-size: 14px;
  }
  .list-top-right li:first-child {
    height: 25px;
  }
  .list-top-right li:nth-of-type(2) {
    height: 27px;
  }
  .list-top-right li:last-child {
    height: 27px;
  }
  .list-tab li {
    width: 18.62745%;
  }
  .list-tab li {
    height: 28px;
  }
  .detail-info {
    word-spacing: 10px;
  }
  .detail-group-item > li > ul > li {
    height: 25px;
  }
  .detail-photo-btn {
    width: 17.2549%;
  }
  .detail-photo-btn li {
    height: 30px;
  }
  .detail-list-btn li:first-child .form-control {
    width: 56.66667%;
    max-height: 20px;
    margin-right: 0;
  }
  .detail-list-btn li .btn-grey1 {
    padding: 5px;
  }
  .detail-tab4-content {
    padding: 10px 5px 5px 5px;
    font-size: 12px;
  }
  .detail-tab4-content p {
    max-width: 283px;
  }
  .detail-tab4 {
    width: 98%;
  }
  .fixed-tb-title {
    max-width: 45px;
  }
  .fixed-tb1 td input {
    width: 71.94245%;
    padding: 2px 5px 5px;
    font-size: 13px;
  }
  .fixed-tb1-title {
    width: 75px;
  }
  .record-tb1 a {
    font-size: 12px;
    width: 16.66667%;
  }
  .record-tb1 tr:nth-of-type(1) td:last-child input:nth-of-type(1) {
    width: 19.82379%;
  }
  .record-tb1 tr:nth-of-type(2) td:last-child input:nth-of-type(1) {
    padding: 2px 10px;
  }
  .record-tb1 tr:nth-of-type(2) td:last-child button {
    width: 25px;
  }
  .record-tb1 tr:nth-of-type(3) td:last-child select {
    margin: 2px 8px;
    width: 25.38226%;
  }
  .record-tb1 tr:nth-of-type(4) td:last-child input:nth-of-type(1) {
    font-size: 15px;
    width: 45.32164%;
  }
  .record-tb1 tr:nth-of-type(5) td:last-child input:nth-of-type(1) {
    font-size: 15px;
    width: 45.32164%;
  }
  .record-tb1 tr:nth-of-type(6) td:last-child input:nth-of-type(1) {
    font-size: 15px;
    width: 45.32164%;
  }
  .record-tb1 tr:nth-of-type(7) td:last-child .radio-form-label {
    width: 26.51163%;
  }
  .record-tb1 tr:nth-of-type(7) td:last-child .radio-form-select {
    width: 71.16279%;
  }
  .record-tb1 .check-box {
    padding: 4px 7px 6px;
  }
  .record-tb1 .close {
    height: 5.9vw;
    min-height: 25px;
    margin-left: 20px;
  }
  .record-tb1-title {
    width: 75px;
    padding-left: 6px;
  }
  .btn-white-right {
    padding: 3px 10px;
  }
  .btn-grey {
    padding: 7px 10px;
  }
  .access-list-btn li:first-child .form-control {
    width: 50.96774%;
  }
  .access-list-btn li:first-child button {
    width: 10.97561%;
    min-width: 25px;
  }
  .access-list-btn li .btn-grey1 {
    padding: 5px;
  }
  .dl-info-access dt {
    width: 26.49007%;
  }
  .relate-list-info {
    width: 97%;
    font-size: 13px;
    padding: 3px 2px 8px 7px;
  }
  .search-top-arrow > li {
    height: 27px;
  }
  .search-top-arrow > li a {
    font-size: 15px;
  }
  .search-tb-list-btn li a {
    font-size: 14px;
  }
  .tab-content {
    font-size: 13px;
    padding: 3px 2px 8px 7px;
  }
  .list-hira {
    width: 270px;
  }
  .list-hira > li > ul li {
    width: 50px;
    height: 50px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 365px) {
  .form-group .form-control {
    max-width: 107px;
  }
}

@media only screen and (max-width: 320px) {
  .form-group .form-control {
    max-width: 69px;
  }
  .detail-list-btn li:first-child .form-control {
    max-height: 20px;
  }
}

@media only screen and (max-width: 376px) {
  .detail-list-btn li:first-child label {
    width: auto;
    max-height: 20px;
  }
}

@media only screen and (max-width: 392px) {
  .record-tb1 tr:nth-of-type(1) td:last-child input:nth-of-type(2) {
    width: 41.40969%;
  }
}

@media only screen and (max-width: 439px) {
  .record-tb1 tr:nth-of-type(7) td:last-child .radio-form-label {
    width: 30.23256%;
  }
  .record-tb1 tr:nth-of-type(7) td:last-child .radio-form-select {
    width: 67.44186%;
  }
}

@media only screen and (max-width: 394px) {
  .record-tb1 tr:nth-of-type(7) td:last-child .radio-form-label {
    width: 35.81395%;
  }
  .record-tb1 tr:nth-of-type(7) td:last-child .radio-form-select {
    width: 61.39535%;
  }
}

@media only screen and (max-width: 353px) {
  .record-tb1 tr:nth-of-type(7) td:last-child .radio-form-label {
    width: 41.39535%;
  }
  .record-tb1 tr:nth-of-type(7) td:last-child .radio-form-select {
    width: 56.27907%;
  }
}

@media only screen and (max-width: 416px) {
  .record-tb1 tr:nth-of-type(7) td:last-child ul.list-radio > li {
    padding: 4px 2px 6px;
  }
  .record-tb1 tr:nth-of-type(7) td:last-child ul.list-radio {
    width: 54.4186%;
  }
  .record-tb1 .check-box {
    width: 34.72222%;
  }
}

@media only screen and (max-width: 366px) {
  .record-tb1 .close {
    width: 6.1674%;
  }
}

@media only screen and (max-width: 340px) {
  .access-list-btn li:first-child label {
    width: 30.64516%;
  }
}

@media only screen and (max-width: 364px) {
  .search-tb td:first-child {
    width: 34.42029%;
  }
}

/*# sourceMappingURL=maps/main.css.map */
