@media screen and (max-width: 644px) {
div.header{
	float:none;
	height:auto;
	}	
div.inner {
	height: auto;
	margin: 0 auto;
	padding: 0 1%;
	text-align: center;
	width: 98%;
	min-width:50%;
	}
}
div.nav{ 
	float:none;
	margin:0 auto;
	}
div.content, div.header_right{
	float:none;
	margin:0 auto;
	width:100%;
	max-width:100%;
	}
div.aside {
float:none;
	margin:0 auto;
	max-width:100%;
}
.aside_menu {
	margin-top:20px;
}
.show_sp {
	display:block !important;
}
.show_pc {
	display:none !important;
}
/*.nav_header, ul.menu_header {
	width:100%;
	margin-top:10px;
	text-align:center;
	margin:0 auto;
}
ul.menu_header li{
	display:block;
	width:159px;
	margin-top:10px;
	float:none;
	background:url('../images/line_menu.jpg') no-repeat top left;
	text-align:left;
	margin:0 auto;
	}
ul.menu_header li a{
	width:159px;
	height:50px;
	min-width:159px;
	min-height:50px;
	padding:0;
	margin:0 auto;
	}*/
.content_left {
	text-align:center;
}
img.img_right_nguyet,.img_left_nguyet {
	float:none;
	text-align:center;
	margin:0 auto;
	}
.header_left {
	width:100%;
	}
ul.menu_header li{
	float:none;
	}
.section_list2 {
	width:96%;
	padding:2% 2%;
	margin:0 auto;
	text-align:center;
}
ul.list_1_nguyet , ul.list_2_nguyet {
	width:100%;
	text-align:center;
	}
ul.list_1_nguyet li{
	float:none;
	margin-bottom:10px;
	}
ul.list_2_nguyet li{
	margin:5px auto;
	width:96%;
	}
.button2_home {
	display:block;
}
.button2_home img.img_resize {
	width:100%;
	max-width:410px;
	height:auto;
	}
	
dl.history_home dt {
	float:none;
	width:100%;
	text-align:left;
	padding-left:20px;
	
	}
dl.history_home dd {
	text-align:left;
	}
dl.history_home dd.border_none {
	border:none;
}

img.img_resize_foot {
	width:100%;
	max-width:472px;
	height:auto;
}
div.footer{ 
 margin: 30px auto 0 auto;
 height:auto;
 display:block;
 padding:10px;
 float:none;
 background:url(../images/footer_bg_sp.jpg) repeat left top;
}
.footer_right {
	float:none;
	width:100%;
	margin-top:20px;
}
.footer_left {
	margin-top:20px;
	float:none;
}
ul.footer_list1, ul.footer_list2 {
	margin:0 auto;
	}
