body {
	margin: 0;
	padding: 0;
	color: white;
	font-family: sans-serif;
	font-size: 12px;
}

.container {
	width: 1050px;
	min-height: 655px;
	margin: auto;
	padding-bottom: 28px;
	background-color: #2a2729;
}

a {
	text-decoration: none;
	color: #2092c5;
}

#footer {
	width: 1050px;
	height: 90px;
	margin: auto;
	clear: both;
	border-top: 1px dashed white;
	background-color: #2a2729;
}
/*list icon of footer bar*/
.list-icon {
	width: 990px;
	height: 65px;
	list-style-type: none;
	margin: 10px auto;
	padding-left: 4px;
}
.list-icon li {
	margin-right: 105px; 
	display: inline-block;
}
/*the last icon will be controlled follow the sample*/
#last {
	margin: 0 0 0 0px;
}

.gallery img {
	margin: auto;
	display: block;
}
.decs {
	margin: 0;
	text-align: center;
}

.content {
	width: 902px;
	display: flex;
	padding: 23px 0 0 6px; 
	color: black;
}

/*the news in the left of the page*/
.content-news {
	width: 652px;
	height: 629px;
}
/*In content-news, it will have the daily-news box and movie-box*/
.daily-title {
	background-image: url(../../img/h2-confidential-heading-bg.gif);
	color: white;
	height: 26px;
}
.daily-title h2 {
	margin: 1px 0;
	padding: 3px 10px;
	font-size: 17.5px;
	font-weight: 500;
	border-left: 1px solid black;
}

.news-daily {
	display: flex;
	height: 303px;
	background-image: url(../../img/confidential-logo.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-color: white;
}

.box {
	width: 50%;
	height: 265px;
}
.border-right { border-right: 1px dotted black;	}
.daily-img img {
	display: block;
	margin: 7px auto;
}

.daily-img-title { position: relative; }
.daily-more {
	position: absolute;
	top: -1px;
	right: 30px;
	font-weight: bold;
}
.daily-text { padding: 0 9px; }
.daily-text h4 { margin: 0; }
.daily-text p {
	margin: 3px 0;
	font-size: 10px;
}
/*Movie box show the news of the movies*/
.news-movie {
	width: 655px;
	margin: 12px 0 0 0;
}
.movie-trailer {
	width: 316px;
	background-color: white;
}
.movie-news {
	background-image: url(../../img/h2-top-movie-trailers-bg.gif);
	color: white;
	height: 26px;
	border-bottom: 1px dashed black;
}
.movie-news h2 {
	margin: 1px 0;
	padding: 3px 10px;
	font-size: 17.5px;
	font-weight: 500;
}
.movie-box { float: left; }

.content-search {
	width: 228px;
	margin-left: 22px;
	margin-right: 0;
	margin-top: 8px;
}
form {
	margin: 12px 0 0 13px ;
}
/*the box in the right of the page*/
.content-search input[type="text"] {
	width: 140px;
	height: 18px;
}
.content-search button[type="button"] {
	width: 66px;
	height: 19px;
	font-size: 11px;
	background-color: #a8407d;
	border: none;
	font-weight: bold;
	color: white;
}

/*box contact consist the contact infomations */
.contact {
	width: 1050px;
	height: 31px;
	padding: 5px 0 4px 0;
	margin: auto; 
	font-size: 11px;
	background-color: white;
}
.contact-list {
	width: 940px;
	height: 13px;
	padding: 0;
	margin: 0 0 0 113px;
	list-style-type: none;
}
.contact-list li{
	color: #1D73A8;
	display: inline;
	margin-right: 3px;
}
.contact-list li a{
	color: #2196f3;
	text-decoration: none;
}
.contact-copy {
	margin: 2px 0;
	color: #2196f3;
	text-align: center;
}
li #to-Top {
	font-size: 12px;
	margin-left: 100px; 
}

/*Click at button and show the news*/
.movie-click {
	position: relative;
	width: 100%;
	height: 24px;
	padding: 3px 7px 7px 7px;
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #0189bb;
	background-image: url(../../img/h3-movie-trailers-bg.gif);
	border: none;
	cursor: pointer;
}
/*box of news about movies*/
.panel { display: flex; }
.hide{ display: none; }
.panel img { 
	width: 101px;
	height: 75px;
	margin: 6px 6px 0 6px;
}
.panel .click-info { padding-right: 23px; }
.click-info p{
	margin: 2px 0 9px 0; 
}
.click-info a {
	text-decoration: none;
	color: #2092c5;
}
.click-info img {
	width: 18px;
	height: 15px;
	margin: 0 2px 0 -2px;
	float: left;
}

.now-showing { padding-top: 5px; }
.now-showing b::before {
	content: url(../../img/now-showing-icon.gif);
	float: left;
	margin: 0 3px 0 6px;
}
.now-showing select {
	width: 64%;
}
/*icon show the action open or close the box-news*/
.icon {
	position: absolute;
	top: 8px;
	right: 15px;
	width: 8px;
	height: 8px;
	background: url('../../img/top-movie-trailers-arrows.gif') no-repeat;
}
.icon-open { background-position: top; }
.icon-close { background-position: bottom; }

.movie-review {
	width: 319px;
	height: 314px;
	margin: 0 0 0 18px;
	background-color: white;
}
.review-box { padding: 9px 10px;  }
.review-box h3{
	position: relative;
	margin: 0 0 6px;
	color: #2A85C9;
}
/*icon star on the tile of box-movies*/
.star {
	position: absolute;
	width: 59px;
	height: 15px;
	top: 4px;
	right: 5px;
	background-image: url('../../img/topic-star-ratings.gif');
}
.star-37 { background-position: 0 37%; }
.star-48 { background-position: 0 48%; }
.review-content { display: flex; }
.review-content p { margin-top: 0; }
.review-img {
	width: 101px;
	margin-right: 8px; 
 }
.review-img .watch {
	width: 18px;
	height: 15px;
	margin: 0 1px 0 -2px;
	float: left;
}
.movie-big-img {
	margin-bottom: 4px;
}
/*create a border-bottom below a box*/
.dot { border-top: 1px dotted black; }
.review-footer {
	margin: 0px 10px 0px 8px;
	padding-left: 20px;
	padding-top: 5px;
	background: url('../../img/icon_2.jpg') left center no-repeat;	
}
.review-footer p { margin: 0; }

#movie-more { float: right; }