/*
*access.html
*/
.letter-space {letter-spacing: 10px;}
.label-calen {
  border: none;
  vertical-align: middle;
  padding: 0;
  background-color: $colorWhite;
}
.btn-white {
  @extend %btn-white;
  background-color: $colorWhite;
  &-right {
    float: right;
    margin-bottom: 5px;
    padding: 5px 20px;
    font-weight: bold;
    color: $colorBlack;
    border: 2px solid $colorBlack;
    @include  respond-to(480) {
      padding: 3px 10px;
    }
  }
}
.btn-grey {
  height: auto;
  padding: 7px 22px;
  color: $colorWhite;
  background-color: $colorGrey;
  border: none;
  @include  respond-to(480) {
    padding: 7px 10px;
  }
}
.btn-blue {
  padding: 7px 25px;
  color: $colorWhite;
  border: none;
  background-color: $colorStrongBlue; 
  }
img.img-calendar {
  max-width: 100%;
  vertical-align: middle;
}

//list button
.access-list-btn {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  li {
    &:first-child {
      width: calc-percent(180, 306);
      display: flex;
      @extend %tb-flex-center;
      align-items: center;
      padding-left: 5px;
      label {
        width: calc-percent(155-110-7.5,155);
        font-weight: 500;
        color: $colorGreen;
        margin-right: 4%;
        text-align: right;
        @include  respond-to(340) {width: calc-percent(155-100-7.5,155);}
      }
      .form-control {
        width: calc-percent(110, 155);
        height: 4.5vw;
        max-height: 25px;
        min-height: 20px;
        vertical-align: middle;
        text-align: center;
        margin-right: 3%;
        border: 1.4px solid $colorGrey;
        border-radius: 5px;
        @include  respond-to(480) {width: calc-percent(79, 155);}
      }
      .input-bg { background-color: $colorYellow; }
      button {
        width: calc-percent(20, 164);
        @include  respond-to(480) {
          width: calc-percent(18, 164);
          min-width: 25px;
        }
      }
    }
    &:nth-of-type(2), &:nth-of-type(4) {
      width: calc-percent(32,306);
    }
    .btn-grey1 {
      width: 100%;
      max-height: 30px;
      height: 5.4vw;
      min-height: 25px;
      color: #ffffff;
      background-color: #7f7f7f;
      border: none;
      @include respond-to(480) {
        padding: 5px;
      } 
    }
    &:nth-of-type(3) {width: calc-percent(40,306);}
    &:last-child {margin-right: 0;}
  }
}

.left-box {
  float: left;
  padding-left: 5px;
}
.right-box {float: right;}
.dl-info-access {
  font-size: 14px;
  border: 1px solid #D9ECFF;
  dl {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 0 8px;
  }
  dt {
    width: calc-percent(76, 302);
    display: flex;
    justify-content: space-between;
    &:last-child {padding-bottom: 5px;}
    @include  respond-to(480) {
      width: calc-percent(80, 302);
    }
  }
  dd {
    display: flex;
    justify-content: space-between;
    width: calc-percent(206, 302);
  }
  .dd-last {
    width: calc-percent(7, 302);
    padding-right: 5px;
    font-weight: 500;
  }
}
.dl-top {margin-top: 10px;}
.dl-focus {background-color: #d9ecff;}
.text-blue {
  color: $colorStrongBlue;
  font-weight: 500; 
}
