@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}

@mixin respond-to($media) {
  @media only screen and (max-width: $media + 'px') {
    @content;
  }
}

@mixin label-green () {
	font-weight: 500;
	color: $colorGreen;
}
@mixin label-blue () {
	font-weight: 500;
	color: $colorStrongBlue;
}

@function get-vw($width, $size) {
  $vw-context: $width * 0.01;
  @return ($size / $vw-context) * 1vw;
}