/**
*file style.scss
*/
html {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}
body,
div,
span,
object, 
iframe, h1, h2, h3, h4, h5, h6,
p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, 
q, strong, 
tt, var, dl, dt, dd, ol, ul, li, form, label, legend, 
caption, tbody, tfoot, thead,header, footer { @extend html; }
ul, ol {list-style-type: none;}
a {text-decoration: none;}
a, button {cursor: pointer;}
:focus {outline: 0;}
body {
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
  background: $colorWhite;
  font-size: 14px;
}
.clear-fix {
  content: "";
    clear: both;
    display: table;
}
.inner {
  width: 95%;
  margin: 0 auto;
  display: block;
  position: relative;
  clear: both;
  height: auto;
}
header{
  padding-bottom:5px;
  margin-bottom:8px;
  height: auto;
    .head-login-title1 {
      padding: 5px 0;
      text-align: center;
      font-size: 16px;
      color: $colorWhite;
      background-color: #0066ff;
    }
    .head-login-title2 {
    	@extend .head-login-title1;
    	color: $colorBlack;
    	background-color: #d9ecff;
    }
}

.wrap {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 640px;
  height: auto;
}
.btn-sub {
  float: right;
	margin-top: 10px;
	padding: 5px 10px 4px 10px;
	text-align: center;
	font: {
	  size: 12px;
	  weight: bold;
	}
	color: $colorWhite;
	background-color: $colorGreen;
	border: none;
}

.tb-login {
  width: 100%;
  font-size: 14px;
  border: 2.5px solid #D9ECFF;
  border-collapse: collapse;
  tr {border: 1.4px solid #D9ECFF;}
  td {
    padding: 2px 5px;
    line-height: 1.5em;
  	border: 1px solid #D9ECFF;
  }
  &-name {
    width: 30%;
    font-size: 12px;
    text-align: center;
    color: $colorWhite;
    background-color: $colorBlue;
  }
  &-text {
    width: 70%;
    max-width: 250px;
    text-align: left;
	color: $colorBlack;
	border: 1.4px solid $colorGrey;
	border-radius: 3px;
	background-color: $colorWhite;
  }
}

/*page main menu*/
.center {
	display: block;
	text-align: center;
}
.form-group {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	label {
		max-width: 100%;
    vertical-align: middle;
    font-weight: 500;
		color: $colorGreen;
	}
	.form-control {
		display: inline-block;
		width: auto;
    padding-left: 3px;
		max-width: 115px;
		vertical-align: middle;
		border: 1.4px solid $colorGrey;
    	border-radius: 5px;
    @include respond-to(365) {max-width: 107px;}
    @include respond-to(320) {max-width: 69px;}
	}
  .big-input {height: 25px;}
}
.menu-group-btn {
	width: 80%;
	min-width: 250px;
	max-width: 400px;
	margin: 20px auto 0 auto;
	.menu-btn {
		width: 100%;
		padding: 10px 0;
		display: block;
		margin-bottom: 5px;
		font-size: 16px;
    text-align: center;
		border: none;
		color: $colorWhite;
	}
	.red-btn {
		margin-bottom: 20px;
		background-color: $colorRed;
	}
	.blue-btn {background-color: $colorStrongBlue;}
}

/*access.html*/
.letter-space {letter-spacing: 10px;}
.label-calen {
  border: none;
  vertical-align: middle;
  padding: 0;
  background-color: $colorWhite;
}
.btn-white {
  padding: 5px 15px;
  font-weight: 600;
  color: $colorBlack;
  background-color: $colorWhite;
  border: 2px solid $colorBlack;
  &-access {
    float: right;
    margin-right: 2px; 
  }
}
.btn-grey {
  min-width: 40px;
  height: auto;
  padding: 8px;
  margin: 0 1px;
  color: $colorWhite;
  background-color: #7f7f7f;
  border: none;
}
.btn-blue {
  min-width: 40px;
  height: auto;
  padding: 8px 20px;
  margin: 0 1px;
  color: $colorWhite;
  background-color: $colorStrongBlue;
  border: none; 
}
.wrap-access {
  max-width: 350px;
  margin: 0 auto;
}
//list button
.access-list-btn {
  width: 100%;
  margin: 5px 0;
  li {
    display: inline-block;
    &:nth-of-type(3) {
      button {padding: 8px 10px;}
    }
  }
}
.left-box {float: left;}
.right-box {float: right;}