/**
*file style.scss
*/
html {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}
body,
div,
span,
object, 
iframe, h1, h2, h3, h4, h5, h6,
p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, 
q, strong, 
tt, var, dl, dt, dd, ol, ul, li, form, label, legend, 
caption, tbody, tfoot, thead,header, footer { @extend html; }
:focus {outline: 0;}
body {
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
  background: $colorWhite;
  font-size: 14px;
}
.inner {
  width: 95%;
  margin: 0 auto;
  display: block;
  position: relative;
  clear: both;
  height: auto;
}
header{
  padding-bottom:5px;
  margin-bottom:8px;
  height: auto;
    .head-login-title1 {
      padding: 5px 0;
      text-align: center;
      font-size: 16px;
      color: $colorWhite;
      background-color: #0066ff;
    }
    .head-login-title2 {
    	@extend .head-login-title1;
    	color: $colorBlack;
    	background-color: #d9ecff;
    }
}

.wrap {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 640px;
  height: auto;
  .btn_sub {
    float: right;
	margin-top: 10px;
	padding: 5px 10px;
	text-align: center;
	font: {
	  size: 12px;
	  weight: bold;
	}
	color: $colorWhite;
	background-color: $colorGreen;
	border: none;
  }
}
.tb-login {
  width: 100%;
  font-size: 14px;
  border: 2.5px solid #D9ECFF;
  border-collapse: collapse;
  tr {border: 1.4px solid #D9ECFF;}
  td {
    padding: 2px 5px;
    line-height: 1.5em;
  	border: 1px solid #D9ECFF;
  }
  &-name {
    width: 30%;
    font-size: 12px;
    text-align: center;
    color: $colorWhite;
    background-color: $colorBlue;
  }
  &-text {
    width: 70%;
    max-width: 250px;
    text-align: left;
	color: $colorBlack;
	border: 1.4px solid $colorGrey;
	border-radius: 3px;
	background-color: $colorWhite;
  }
}

/*page main menu*/
.form-group {
	margin: 0 auto;
	vertical-align: middle;
}