@mixin phone-display($display) {
	display: $display;
}
//mixin for background of h2
@mixin background($img) {
	background: $img;
}

html {
	border: 0;
	font: {
	    family: inherit;
		size: 100%;
	    style: inherit;
	    weight: inherit;
	}
	margin: 0;
	padding: 0;
	outline: 0;
}
dl { @extend html;}
//div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, //kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead 
body {
    @extend html;
	font: {
	    family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
	    size: 12px;
	}
	background: url(../images/bg.png) no-repeat center top;

    ol, ul {
        @extend html;
        list-style: none;}
	h1 {
	    @extend html;
	    color: #ffb401;
	    margin-top: 6px;
	    font-size: 11px;
	    float: right;
	    width: 100%;
	    text-align: right;
	    margin-bottom: 20px;
	}

	h2 {
	    @extend html;
	    margin-bottom: 20px;
	    background: url(../images/bg_h2.jpg) no-repeat bottom left;
	    height: 250px;
	    font-size: 25px;
	    color: #fff;
	    position: relative;
	    text-align: left;
        
        span {
            display: block;
            width: 99%;
            vertical-align: bottom;
            position: absolute;
            bottom: 0;
            background: url(../images/bg_span_h2.png) repeat top left;
            padding-left: 1%;
        }
	} 
}

header {
    @extend html;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: auto;
	display: block;
	float: left;
	z-index: 999;
	position: relative;
}

div.inner {
	margin: 0 auto;
	width: 100%;
	height: auto;
	display: block;
	min-width: 960px;
	max-width: 960px;
	position: relative;
	clear: both;
}

div.logo {
	max-width: 294px;
	width: 100%;
	height: auto;
	float: left;
	position: absolute;
	left: -72px;

	a.logo-top {
	    width: 100%;
	    height: auto;
	    display: inline-block;
	}
}

div.header-right {
	float: right;
	width: 221px;
	margin-bottom: 17px;

   img {
       vertical-align: top;
   }

   img.img-header {
       display: block;
       margin: 10px auto;
   }
}
div.content {
	width: 100%;
	max-width: 738px;
	height: auto;
	float: right;
    
    div.article_index {
        width: 100%;
        height: auto;	
    }
}

/*set display: none when show in Desk*/
.phone-mobie {
	@include phone-display(none);
}

/*concept*/
#content_concept {color: #ffffff;}

.h2_concept {
	@include background(url(../images/concept/img1.jpg) no-repeat scroll center top);
}
ul.list_img_concept {
    display: block;
        li {
            display: inline-block;
            padding: 5px 15px;
        }
    }