@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;}
:focus {outline: 0;}

ol, ul {list-style: none;}
caption{font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a{ text-decoration:none; font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;}
a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {
    color: #703200;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    font-size: 12px;
	background:url(../images/bg.png) #F66E00 no-repeat center top;
}
body.page{
	background:url(../images/body_bg_p.jpg) repeat left top;
	width:100%;
	height:auto;
	display:inline-block;
	}
div.bg_page{
	background:url(../images/bg_top_p_1.png) no-repeat center top;
	width:100%;
	height:auto;
	display:inline-block;
	}
.clear_fix{
	clear:both;
	}
@font-face {
    font-family: 'RyuminPro_Light';
    src: url(../css/RyuminPro_Light.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.art_img4:hover,
.art_btn2 img:hover,
img.img_headerRight:hover,
a.button_r img:hover,
a.href_a img:hover,
a.button_2 img:hover,
a.a_lessons:hover,
a img.title_concept:hover,
.art_btn1:hover,
.link_sidebar:hover,
.bt_top_other a:hover
{
    opacity:0.6;
	filter:alpha(opacity=60); 
}

dl.index {
	clear:both;
	display:inline-block;
    text-align: left;
    width: 100%;
	margin-top:10px;
	color:#fff;
	font-size:12px;
}
dt.index {
	width: 99%;
	height: auto;
	display: block;
	font-size: 12px;
}
dd.index {
    margin: -1.6em 0 20px 0;
	padding: 0 0 8.5px 8.5em;
	border-bottom: 1px solid #f77300;
	text-align: left;
	font-size: 12px;
	
}
dd.index_r{
	margin: 0px 0 5px 0;
	}
dd.index  a{
	color:#494949;
	}
dd.index a:hover{
	text-decoration:underline;
	color:#358177;
	}
small{
	background:#d1f2ee;
	padding:2px 4px;
	text-align:left;
	font-size:11px;
	color:#454545;
	margin-left:10px;
	}
div.header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
	display:block;
	float:left;
	height:auto;
	z-index:99;
	position:relative;
	
}	
div.inner {
    height: auto;
    margin: 0 auto;
    width: 100%;
	height:auto;
	display:block;
	min-width:960px;
	max-width:960px;
	position:relative;
	clear:both;
}
div.ft_inner{
	min-width:1035px;
	max-width:1035px;
}
/*--index--*/
div.logo{
	max-width:294px;
	height:auto;
	float:left;
	width:100%;
	position:absolute;
	left:-72px;
	}
a.logo_top{
	width: 100%;
	height: auto;
	display:inline-block;
	text-align:left;
	}
a.logo_top img{
	width: 100%;
	height: 169px;
	}			
div.info{
	max-width:194px;
	height:auto;
	float:right;
	margin-top:20px;
	width:100%;
	}		
a.hide {
	display: none !important;
	}
img.phone{
	width: 100%;
	max-width:194px;
	height: 83px;
	float:left;
	}
.show_sp{
	display:none !important;
	}	

.headerRight{
	float:right;
	width:221px;
	margin-bottom:17px;
	}
.headerRight img{
	vertical-align:top;
	}
.img_headerRight{
	margin-left:20px;
	}
h1{
	color:#ffb401;
	margin-top:6px;
	font-size:11px;
	float:right;
	width:100%;
	text-align:right;
	margin-bottom:20px;
	}
/*menu*/
div.nav{	
	width:100%;
	display:inline-block;
	position:relative;
	z-index:999;
	margin-top:25px;
	float:left;
	}
div.menu{
	height: auto;
    margin: 0 auto;
    width: 100%;
	height:auto;
	display:block;
	min-width:176px;
	max-width:176px;
	min-width:176px\9;
	max-width:176px\9;
	}
div.menu ul{
	margin:0;
	padding:0;
	background:url(../images/line_menu.jpg) no-repeat right center;
	width:99.7%;
	height:50px;
	display:inline-block;
	}
div.menu ul li{
	float:left;
	width:176px;
	height:40px;
	padding-left:1px;
	}			
div.menu ul li a{
	width:100%;
	height:40px;
	text-align:center;
	display:block;
	float:left;
	position:relative;
	}		
div.menu ul li a.menu_1:hover img.menu_hide,
div.menu ul li.menu_1 a.active img,
div.menu ul li a.menu_2:hover img.menu_hide,
div.menu ul li.menu_2 a.active img,
div.menu ul li a.menu_3:hover img.menu_hide,
div.menu ul li.menu_3 a.active img,
div.menu ul li a.menu_4:hover img.menu_hide,
div.menu ul li.menu_4 a.active img,
div.menu ul li a.menu_5:hover img.menu_hide,
div.menu ul li.menu_5 a.active img,
div.menu ul li a.menu_6:hover img.menu_hide,
div.menu ul li.menu_6 a.active img,
div.menu ul li a.menu_7:hover img.menu_hide,
div.menu ul li.menu_7 a.active img,
div.menu ul li a.menu_8:hover img.menu_hide,
div.menu ul li.menu_8 a.active img{
	display:none;
	}		
div.menu ul li a.menu_1:hover,
div.menu ul li.menu_1 a.active{
	background:url(../images/menu_1_hover.png) no-repeat left center;
	background:url(../images/menu_1_hover.png) no-repeat left center \9;
	}
div.menu ul li a.menu_2:hover,
div.menu ul li.menu_2 a.active{
	background:url(../images/menu_2_hover.png) no-repeat left center;
	background:url(../images/menu_2_hover.png) no-repeat left center \9;
	}
div.menu ul li a.menu_3:hover,
div.menu ul li.menu_3 a.active{
	background:url(../images/menu_3_hover.png) no-repeat left center;
	background:url(../images/menu_3_hover.png) no-repeat left center \9;
	}
div.menu ul li a.menu_4:hover,
div.menu ul li.menu_4 a.active{
	background:url(../images/menu_4_hover.png) no-repeat left center;
	background:url(../images/menu_4_hover.png) no-repeat left center \9;
	}
div.menu ul li a.menu_5:hover,
div.menu ul li.menu_5 a.active{
	background:url(../images/menu_5_hover.png) no-repeat left center;
	background:url(../images/menu_5_hover.png) no-repeat left center \9;
	}
div.menu ul li a.menu_6:hover,
div.menu ul li.menu_6 a.active{
	background:url(../images/menu_6_hover.png) no-repeat left center;
	background:url(../images/menu_6_hover.png) no-repeat left center \9;
	}
div.menu ul li a.menu_7:hover,
div.menu ul li.menu_7 a.active{
	background:url(../images/menu_7_hover.png) no-repeat left center;
	background:url(../images/menu_7_hover.png) no-repeat left center \9;
	}
div.menu ul li.menu_4 ul.subNav,
div.menu ul li.menu_3 ul.subNav{
    display: none;
}
	
div.menu li.menu_4:hover ul.subNav,
div.menu li.menu_3:hover ul.subNav{
    display: block;
    height: auto;
    position: absolute;
    left: 115px;
    width: 104px;
    z-index: 300;
}
div.menu ul li ul.subNav li {
	background: url(../images/bg_nav.png) repeat top left;
	width: 100%;
	height:auto;
	display:inline-block;
	padding:4px 0;
	}
div.menu ul li ul.subNav li.subNav a.subNav {
    color: #fff;
    float: none !important;
    height: auto !important;
    width:auto;
    text-align: center;
	font-size:14px;
}		
div.menu ul li ul.subNav li.subNav a.subNav:hover{
	color:#9ec914;
	}

div.banner{
	width:100%;
	height:369px;
	display:inline-block;
	margin:0 auto 25px auto;
	position:relative;
	z-index:200;
	
	}	
img.banner{
	display:block;
	height:369px;
	width:100%;
	max-width:738px;
	text-align:center;
	margin:0px auto;
	position:relative;
	}
div.content{
	width:100%;
	max-width:738px;
	height:auto;
	float:right;
	}	
div.article_index{
	width:100%;
	height:auto;
	}	
div.title_1{
	text-align:left;
	background:url(../images/bg_title.jpg) no-repeat left top;
	width:100%;
	height:auto;
	display:inline-block;
	padding-top:20px;
	margin-bottom:20px;
	}	
div.no_margin_bottom{
	margin-bottom:0px;
	}
.no_margin_top{
	margin-top: 0px;
}
img.title_concept{
	float:right;
	}	
p.new_index{
	display:inline-block;
	width:100%;
	height:auto;
	}
img.img_1{
	text-align:left;
	}	
img.img_2{
	text-align:right;
	margin-left:23px;
	width:100%;
	max-width:439px;
	height:302px;
	}
p.margin_top{
	text-align:left;
	margin-top:15px;
	}	
p.href_a{
	display:inline-block;
	margin:10px 0 40px 0;
	text-align:right;
	width:100%;
	}		
div.aside{
	float:left;
	width:176px;
	height:auto;
	text-align:center;
	}		
div.img_menu_r_top{
	background:url(../images/img_r_1.jpg) no-repeat left center;
	width:100%;
	height:53px;
	display:inline-block;
	float:left;
	}
div.img_menu_r_bottom{
	background:url(../images/img_r_2.jpg) no-repeat left center;
	height:37px;
	width:100%;
	display:inline-block;
	float:left;
	}
div.bg_border_radius_1{
	background:url(../images/bg_radius_1.jpg) no-repeat left top;
	width:94%;
	max-width:704px;
	height:212px;
	display:inline-block;
	padding:15px 20px;
	text-align:left;
	margin-bottom:15px;
	}	
img.title_3{
	width:100%;
	max-width:257px;
	height:19px;
	}	
div.in_content{
	display:inline-block;
	width:100%;
	margin-top:13px;
	text-align:left;
	}	
img.img_3{
	float:left;
	}
div.bg_border_radius_1_content{
	float:left;
	width:100%;
	max-width:456px;
	margin-left:15px;
	}		
div.bg_border_radius_1_content b{
	color:#ec5781;
	font-size:15px;
	text-align:left;
	}	
p.p_11{
	display:inline-block;
	margin:8px 0 10px 0;
	text-align:left;
	}	
div.bg_blue{
	background:url(../images/bg_blue.jpg) no-repeat left top;
	width:96.4%;
	height:80px;
	display:inline-block;
	padding:5px 10px;
	text-align:left;
	}	
div.bg_blue p.blue{
	color:#358177;
	background:url(../images/bullet_content.jpg) no-repeat left 5px;
	text-indent:15px;
	font-weight:bold;
	text-align:left;
	display:inline-block;
	}
p.p_content{
	text-align:left;
	margin:2px 0 0px 0;
	}
a.button_2{
	float:right;
	}	
div.bg_border_radius_2{
	background:url(../images/bg_radius_2.jpg) no-repeat left top;
	max-width:307px;
	width:100%;
	height:212px;
	display:inline-block;
	padding:15px 20px;
	text-align:left;
	}	

div.in_content_2 {
    display: inline-block;
    margin-top: 13px;
    text-align: left;
    width: 100%;
}		
div.bg_border_radius_2_content{
	float:left;
	width:100%;
	max-width:180px;
	margin-left:11px;
	text-align:left;
	}	
p.bg_blue_2{
	background:url(../images/bg_blue.jpg) no-repeat left top;
	width:auto;
	height:auto;
	display:inline-block;
	padding:5px 10px;
	text-align:left;
	margin:10px 0;
	}
div.bg_border_radius_3{
	margin-left:7px;
	}
div.dd_dl_dt{
	width:349px;
	float:left;
	height:auto;
	margin-top:40px;
	}	
	
div.title_dd{
	background:url(../images/bg_title_2.jpg) no-repeat left top;
	}
iframe.calender{
	float:right;
	width:345px;
	height:360px;
	margin-right:2px;
	margin-top:40px;
	}				
div.aside ul{
	margin:0;
	padding:0;
	background:url(../images/bg_img_r_1.jpg) repeat-y left center;
	width:100%;
	height:auto;
	display:inline-block;
	text-align:left;
	}
div.aside ul li{
	text-align:center;
	display:inline-block;
	}			
div.aside ul li a{
	font-size:16px;
	color:#494949;
	text-align:left;
	background:url(../images/bullet_r.jpg) no-repeat left 7px;
	display:inline-block;
	}	
div.info_r_top{
	background:url(../images/img_r_6.jpg) no-repeat left center;
	width:100%;
	height:54px;
	display:inline-block;
	float:left;
	}			
div.info_r{
	border-bottom:4px solid #efdfba;
	border-right:4px solid #efdfba;
	border-left:4px solid #efdfba;
	background:#fffcf4;
	display:inline-block;
	height:auto;
	width:96.7%;
	float:left;
	text-align:left;
	padding:9px 0px 0px 0px;
	}
div.info_r p.p_1{
	text-align:left;
	display:inline-block;
	margin-bottom:12px;
	margin-left:9px;
	}	
.phone_r{
	margin-left:9px;
	}	
iframe.map_r{
	width:209px;
	height:186px;
	margin-left:6px;
	}		
a.button_r{
	text-align:left;
	margin-left:6px;
	margin-top:2px;
	}	
div.dd_dl_dt_r{
	width:100%;
	height:auto;
	}	
/*footer*/
div.footer{
	background:url(../images/ft_bg2.png) repeat left top;
	margin: 0 auto;
    width: 100%;
	display:block;
	height:auto;
	margin-top:120px;
	float:left;
	z-index:99;
	margin-bottom:-30px;
	position:relative;
	}	
div.menu_footer{
	float:left;
	height: auto;
	text-align:left;
	max-width:370px;
	width:100%;
}
div.menu_footer ul{
	display:inline-block;
	vertical-align:top;
	}	
div.menu_footer ul li{
	text-align:left;
	padding:20px 20px 0 20px;
	text-indent:20px;
	margin:2px 0;
}
div.menu_footer ul li a{
	font-size:12px;	
	color: #fff;
}
div.menu_footer ul li a:hover{
	text-decoration:underline;
	color:#9ec914;
	}
.ft_top{
	margin-left:342px;
	}
img.img_footer{
	
	
	}
div.ft_box1{
	float:right;
	text-align:center;
	}
.ft_box1_r{
	width:221px;
	margin-bottom:20px;
	background:url(../images/ft_bg4.png) repeat left top;
	height:150px;
	
}
.ft_btn1:hover{
	opacity:0.6;
	filter:alpha(opacity=60); 
}
.ft_btn1 img{
	 background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */ 
}
.ft_btn1{
	margin-top:30px;
	display:inline-block;	
}
.ft_btn1 img{
		vertical-align:middle;
}
div.ft_box1 p{
	width:100%;
	font-size:14px;
	margin:5px 0;
	text-align:center;
	height:auto;
	}		
a.show_sp{
	display:none;
	}	
.side_img4{
	margin:10px 0;
}

.ft_bot{
	margin-top:20px;
	height:auto;
	float:left;
	max-width:360px;
	width:100%;
}
.ft_ul1{
	padding-bottom:20px;
	margin-right:20px;
	background:url(../images/ft_bg5.png) repeat left top;	
	color:#fff;
	width:162px;
	font-weight:bold;
}
p.copyright{
	clear:both;
	width:100%;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	display:block;
	color:#703200;
	position:absolute;
	bottom:10px;
	vertical-align:bottom;
}	
div.facebook{
	width:100%;
	height:364px;
	margin-top:40px;
	}
div.nav_page{
	margin-bottom:30px;
	}	
.phoneMobile{
	display:none;
	}
.clear_both{
	clear:both;
	}
.sl5_button{
	width:100%;
	max-width:410px;
	height:auto;
	margin:0 auto;
	}
#page-top img:hover{
	opacity:0.6;
	filter:alpha(opacity=60); 
	}

#page-top {
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
    font-size: 12px;
    z-index: 500;
	text-align:center;
	position:absolute;
	top:-50px;
}
.art_dl1{
	text-align:left;
	color:#fff;
	font-size:12px;	
	height:54px;
	margin:9px 0;
}
.art_dl1 dd{
	text-align:right;
	margin-top:5px;
}
.art_dl1 a{
	color:#703200;
}
.art_dl1 a:hover{
	text-decoration:underline;	
}
.txt_top_sidebar{
	font-weight:bold;
	text-align:left;
	margin-bottom:20px;
	margin-top:40px;
	}
.txt_sidebar{
	text-align:left;
	margin-bottom:20px;
	}
.txt_sidebar_2{
	margin-top:10px;
	font-size:11px;
	}
.time_sidebar{
	margin-top:5px;
	margin-bottom:20px;
	}

p.bg_dot{
	background:url(../images/dots_sidebar.png) no-repeat center center;
	width:100%;
	height:11px;
	display:inline-block;
	margin:15px 0;
	}	
.google_map_sidebar iframe{
	width:100%;
	height:176px;
	}
.ft_bg_drg{
	background:url(../images/ajin-nail_03.png) no-repeat left top;
	width:318px;
	height:294px;
	position:relative;
	float:left;	
	left:-70px;
	}
.img_header{
	display:block;
	margin:10px auto;
	}
.art_img1{
	margin:10px 0;	
}
.art_ul1 p{
	color:#fff;	
}
.art_ul1 li{
	display:inline-block;
	width:192px;
	padding:10px 15px;
	background:url(../images/art_box_bg.png) repeat left top;
}
.art_btn1{
	display:inline-block;
	margin-top:10px;	
}
.art_li1{
	margin:0 31px;	
}
#banner{
	margin-bottom:30px;
	}
/*page*/
h2{
	background:url(../images/bg_h2.jpg) no-repeat bottom left;
	height:250px;
	font-size:25px;
	color:#fff;
	position:relative;
	text-align:left;
	margin-bottom:20px;
	}

h2 span{
	display:block;
	vertical-align:bottom;
	position:absolute;
	bottom:0;
	background:url(../images/bg_span_h2.png) repeat top left;
	width:99%;
	padding-left:1%;
	}
h3{
	background:url(../images/bg_h3.png) repeat-y top left;
	font-size:18px;
	color:#703200;
	padding:8px 0;
	margin:20px 0;
	text-align:left;
	font-weight:bold;
	}
h3 span{
	 font-family: h3font ;
	display:block;
	background:url(../images/bg_span_h3.png) no-repeat left center;
	padding-left:32px;
	}
.bt_top_other{
	text-align:center;
	margin:20px 0;
	}
.bt_top_other li{
	display:inline-block;
	margin:0 10px;
	}
.bt_top_other a{
	color:#632523;
	font-weight:bold;
	display:block;
	padding:3px 40px;
	border:3px #f79646 solid;
	border-radius:2px;
	background:#fff;
	}
.bt_other{
	text-align:right;
	}
.bt_other a{
	background:#703200;
	color:#fff;
	padding:5px 20px;
	}
.bt_other a:hover{
	background:#A64C00;
	}
.bt_other a span{
	background:url(../images/bg_span_bt.png) no-repeat left center;
	padding-left:15px;
	}
#content_other{
	color:#fff;
	}
.art_img3{
	display:block;
	margin-bottom:20px;	
}
.art_img2{
	float:left;
	margin-right:20px;	
}
.art_box1{
	overflow:hidden;
	padding:15px;
	background:url(../images/art_box_bg.png) repeat left top;
	margin-top:40px;	
}
.art_p1{
	font-size:20px;
	color:#f32e00;
	margin-top:15px;
}
.art_btn2{
	text-align:right;
	margin-top:30px;	
}
.art_box2{
	margin-top:40px;
	overflow:hidden;	
}
.art_box2_child1{
	float:left;
	width:320px;
	padding:15px;
	height:159px;
	background:url(../images/art_box_bg.png) repeat left top;
}
.art_box2_child2{
	float:right;
	width:320px;
	padding:15px;
	background:url(../images/art_box_bg.png) repeat left top;
}
.art_img4{
	display:inline-block;
	float:right;	
}
.art_p2{
	overflow:hidden;	
}
.child2_box{
	margin-top:10px;
	margin-bottom:10px;
	overflow:hidden;	
}
@font-face {
    font-family: h3font ;
    src: url(coptrg.ttf);
}
/*Thao*/
h2.h2_concept_thaontt {background: url('../images/concept/img1.jpg') no-repeat scroll center top;}
ul.list_concept_thaontt {display: block;}
ul.list_concept_thaontt li {
	display: inline-block;
	padding: 5px 15px;
	*float: left;
}
.img_list_concept_thaontt {
	width: 100%;
	max-width: 210px;
	height: 150px;
	*width: 210px;
}
.txt_left_thaontt {text-align: left;}
.padding_bottom_thaontt{padding-bottom: 10px;}
.group_concept_thaontt {
	display: inline-block;
	text-align: left;
}
.img_group_concept_thaontt {
	float: left;
	width: 100%;
	max-width: 210px;
	height: 150px;
	*width: 210px;
	padding-right: 10px;
}
.group2_concept_thaontt{
	padding-bottom: 15px;
	text-align: left;
}
.title_group2_concept_thaontt {
	font-size: 16px;
	padding-bottom: 10px;
}
.group2_child_concept_thaontt {
	width: 95%;
	margin: 0px auto;
	*width: 95%;
	display: inline-block;
	padding-left: 20px;
}
ul.list_group_child_concept_thaontt {
	list-style-type: circle;
	padding-left: 25px;
}
.img_group2_concept_thaontt {
	max-width: 176px;
	width: 100%;
	height: 104px;
	*width: 176px;
	float: right;
	margin-top: -73px;
}
/*end Thao*/


/*Tay*/
h2.h2_tay_concept{
    background: url(../images/concept/img1.jpg);
}
p.p1_tay_concept{
    padding: 0;
    margin: 0;
    max-width: 728px;
    height: auto;
    width: 100%;
    color: #fff;
    font-size: 10.5px;
    text-align: left;
    padding-left: 10px;
}
div.imagesTop1_tay_concept{
    float: left;
    text-align: center;
    max-width: 738px;
    width: 100%;
    height: auto;
}div.imagesTop1_tay_concept img{
    display: inline-block;
    max-width: 210px;
    height: 150px;
    width: 100%;
    *width: 210px;
    margin: 30px 10px 30px 10px;
}
div.clear_tay{
    clear: both;
}
div.inforImages_tay_concept{
    float: left;
    max-width: 738px;
    width: 100%;
    height: auto;
    text-align: center;
}
div.inforImages_tay_concept img{
    float: left;
    text-align: center;
    max-width: 210px;
    width: 100%;
    height: 150px;
    *width: 210px;
    margin-left: 10px;
    
}
div.inforImages_tay_concept .infoContent{
    float: left;
    max-width: 500px;
    width: 100%;
    height: auto;
    margin-left: 10px;
    font-size: 10.5px;
    color: #fff;
    text-align: left;
}
div.inforImages_tay_concept .infoContent p{
    margin-bottom: 10px;
    float: left;
}
p.pChechBox_tay_concept{
    max-width: 738px;
    width: 100%;
    height: auto;
    text-align: left;
    color:  #fff;
    font-size: 14px;
    font-weight: bold;
    text-indent: 20px;
}
ul.ulCheckBox_tay_concept{
    max-width: 400px;
    margin-left: 30px;
    text-align: left;
    font-size: 10.5px;
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    float: left;
}
ul.ulCheckBox_tay_concept li{
    width: 400px;
}
ul.ulCheckBox_tay_concept li.bot{
    text-indent: 5px;
}
div.botQRCode_tay{
    float: right;
    background: url(../images/img3_sidebar.png);
    max-width: 176px;
    width: 100%;
    height: 104px;
}
h2.h2_tay_price{
    background: url(../images/bg_h2.jpg);
}

/*end Tay*/
	
	
/*Hien*/

/*end Hien*/
	
	
/*Nguyet*/
body.and .text_bold_nguyet{ 
 		-webkit-text-stroke-width: 0.5px; 
 		-webkit-text-stroke-color: #58584d; 
		-webkit-text-fill-color: #58584d; 
		color: #58584d;
		}
.text_bold_nguyet {
	font-weight:bold;
}
div.content_nguyet {
	font-size:12px;
	-webkit-text-size-adjust:100%;
	height:auto;
	clear:both;
	display:inline-block;
	width:100%;
}
div.content_nguyet p{
	text-align:left;
	}
.content_left_nguyet{
	float:left;
}
strong {
	font-weight:bold;
}
.margin_top_nguyet {
	margin-top:30px !important;
}
img.img_right {
 float:right;
 margin-left:10px;
}
img.img_left {
 float:left;
 margin-right:10px;
}
.margin_p_nguyet {
margin-bottom:10px;

}
h2.h2_concept_nguyet {
 background: url(../images/concept/img1.jpg) no-repeat scroll center top;
}
ul.photo_nguyet {
	display:inline-block;
	margin: 0;
	padding:0;
	text-align: center;
	width: 100%;
}
ul.photo_nguyet li{
	display:inline-block;
	}
ul.photo_nguyet li.li_2{
	margin: 0 20px;
}
.very_large_nguyet {
	font-size:18px;
	font-size:bold;
}
.descript_recept_nguyet {
	margin-left:18px;
	width:97%;
	max-width:720px;
}

/*end Nguyet*/


/*===========Trivt============*/
	/*=====Concept=======*/
	
	.ClearTrivt{
		clear: both;
	}
	.EightPercent{
		width: 80%;
		height: auto;
	}

	.TwentyPercent{
		width: 20%;
		height: auto;
	}

	.WidthNinety{
		width: 90%;
		height: auto;
	}
	.WidthTen{
		width: 90%;
		height: auto;
	}

	.Intro_Concept_Trivt{
		line-height: 22px;
	}

	ul.Slide_Concept_Trivt{
		margin: 20px 0 5px -10px;
	}

	ul.Slide_Concept_Trivt li{
		float: left;
		margin: 0 15px;
	}

	.CoverText_Trivt{
		padding: 0 10px;
	}

	.Text_Title_Trivt{ 
	    font-size: 14px;
	    font-weight: bold;
	    margin: 20px 0 10px;
	}
	.Text_Desc_Trivt{
		margin: 10px 0 0 20px;
	}

	.QrCode_Right{
		float: right;
		display: inline-block;
		margin:0;
	}

	.Intro_Top_Concept_Trivt{
	    display: inline-block;
	    height: auto;
	    line-height: 24px;
	    margin: 0;
	}

	.Intro_Top_Concept_Trivt img{
		float: left;
		margin: 0 10px 0 0;
	}
	.Intro_Top_Concept_Trivt p{
		margin: 10px 0 0 0;
	}

	/*====Hand====*/
	.HandItem_Trivt{
		margin: 15px 0;
		display: inline-block;
	}
	.HandItem_Trivt img{
		float: left;
		margin: 0 10px 0 0;
		max-width:240px; 
		max-height:160px;
		width:100%;	
		height: auto;
	}
	.HandItem_Trivt a{
		margin: 0;
		font-size: 15px;
		font-weight: bold;
		color: #fff;
	}

	.HandDescItem_Trivt{
		line-height: 22px;
		margin: 5px 0 0 0;
	}

	.HandItem_Trivt span{
		background: #7e3200;
	    float: right;
	    margin: 20px 0 0;
	    padding: 5px 10px;
	}

	.HandItem_Trivt span:hover{
		opacity: 0.7;
		filter: alpha(opacity=40); /* For IE8 and earlier */
	}

	.HandItem_Trivt span a{
		color: #fff;
	}

	/*==========menufoot========*/
	.FootInfo_Trivt{
		background: #f9ad6f;
	    box-shadow: -3px 0 4px 5px #f9ad64;
	    color: #7e3200;
	    height: auto;
	    margin: 30px 0 0 10px;
	    padding: 10px;
	    display: inline-block;
	}
	.FootInfo_Trivt strong{
		font-weight: bold;
		font-size: 14px;
	}

	/*==========gallery========*/
	.CoverGallery_Trivt{
		margin: 0;
		height: auto;
	}
	.CoverGallery_Trivt .Item_Gallery_Trivt{
		float: left;
		max-width: 210px;
		height: auto;
		text-align: center;
		margin: 15px 15px;
		width: 100%;
	}

	.CoverGallery_Trivt span{
		margin: 0;
	}
	.CoverGallery_Trivt span a{
		color: #fff;
	}

	.Paging_Trivt{
		margin: 0 auto;
		list-style: none;
		text-align: center;
	}

	.Paging_Trivt li{
		display: inline-block;
		margin: 5px 0 0 5px;
	}

	.Paging_Trivt li a{
		color: #fff;
	}
	.Paging_Trivt li a strong{
		font-weight: bold;
	}
	/*======PriceTrivt======*/
	.BlockTop_1_Trivt{
	    border: 2px solid #f79646;
	    border-radius: 30px;
	    height: auto;
	    display: inline-block;
	    padding: 10px;
	    width: 97%;
	    margin: 10px 0 0 0;
	}


	.Block_Circle_1_Top_Trivt{
	    float: left;
	    text-align: center;
	    width: 215px;
	}
	.Circle_1_Top_Trivt{
		width: 130px;
		height: 130px;
		background: #fff3d9;
		border-radius: 100%;
		display: inline-block;
		position: relative;
	}
		.Circle_1_Top_Trivt strong{
		    color: #703200;
		    font-size: 16px;
		    font-weight: bold;
		    left: 10%;
		    position: absolute;
		    top: 45%;
		    width: 80%;
		}
	.Text_In_Circle_Trivt{
		margin: 0;
		color: #000;
	}

	.Cover_Table_Trivt{
	    float: left;
	    height: auto;
	    width: 500px;
	}
	.Tbl_Trivt{
		float: left;
		margin:10px 0 0 0;
		width: 100%;
	}
	.Tbl_Trivt table{
		border-collapse: collapse;
		width: 100%;
	}
	.Tbl_Trivt table tr,.Tbl_Trivt table tr td{
		border: none;
		padding: 5px 15px;
	}

	.Item_Block_Trivt{
	    border: 2px solid #f79646;
	    border-radius: 30px;
	    float: left;
	    height: auto;
	    margin: 0 0 0 10px;
	    height: 335px;
	    width: 215px;
	    padding: 15px 0px;
	    text-align: center;
	}
	.Item_Three_column_Trivt{
		 width: 265px;
	}

	.Tbl_Item_Trivt{
		padding: 0;
	}
	.Tbl_Item_Trivt{
		margin: 15px auto 0;
	}
	.Tbl_Item_Trivt table{
		width: 100%;
	}
		.Tbl_Item_Trivt table tr td{
			text-align: left;
			padding: 0 0 0 20px;
		}
	.BlockTop_2_Trivt{
		margin: 15px 0 0 0;
	}

	.BlockTop_3_Trivt{
		margin: 40px 0 0 0;
	}

	.Margin_Top_sub_ten{
		margin: -10px 0 0 0;
	}
	.Margin_Top_Plus_Fifthty{
		margin: 50px 0 0 0;
	}
	.Margin_Top_Plus_Fourty{
		margin: 40px 0 0 0;
	}

	.Margin_Top_Plus_Twenty{
		margin: 20px 0 0 0;
	}

	.Tbl_Trivt table tr td b{
		font-size: 16px;
	}


	/*=======Naillist========*/
	.NailItem_Trivt{
		margin: 15px 0;
	}
	.NailItem_Trivt img{
		float: left;
		margin: 0 10px 0 0;
		max-width:240px; 
		width:100%;	
		height: auto;
	}


	.ShadownBtn_Trivt{
		background: #f9ad6f;
	    box-shadow: -3px 0 4px 5px #f9ad64;
	    color: #7e3200;
	    height: auto;
	    margin: 30px 0 0 10px;
	    padding: 10px;
	    float: left;
	    width: 450px;
	}

	.NailDescItem_Trivt{
		float: left;
    	line-height: 22px;
    	margin: 5px 0 0;
    	width: 470px;
	}

	.Cl_Text_Right{
		text-align: right !important;
	}

	.Cl_Text_Left{
		text-align: left !important;
	}

	/*=======Access=======*/
	.MapAccess_Trivt{
		margin: 20px auto 0;
		text-align: center;
	}

	.MapAccess_Trivt img{
		margin: 0 0 5px 0;
	}
	.MapAccess_Trivt p strong{
		font-weight: bold;
	}

	.Map_Access_Image_Trivt{
		margin: 0 0 0 -10px;
		float: left;
	}

	ul.Map_Access_Image_Trivt li{
		float: left;
	    height: auto;
	    margin: 0 0 0 42px;
	    width: 200px;
	    text-align: center;
	}

	ul.Map_Access_Image_Trivt li a{
		color: #fff;
	}

	ul.Map_Access_Image_Trivt li a span{
		margin: 0 0 10px 0;
	}

	/*======Contact======*/

	.Opening_Trivt{
		width: 100%;
		background: #f6913e;
		color:#632523;
		font-weight: bold;
		text-align: center;
		padding: 25px 0;
		margin: 20px 0 0 0;
	}

	.Phone_Number_Trivt{
		font-size: 28px;
	}

	.Time_Open_Trivt{
		font-size: 20px;
	}
	.FormContact_Trivt{
	    float: left;
	    margin: 50px auto 0;
	    width: 650px;
	}

	.FormContact_Trivt label{
	    float: left;
	    text-align: right;
	    width: 200px;
	    margin: 7px 0 0 0px;
	}

	.FormContact_Trivt input, .FormContact_Trivt textarea{
	    float: left;
	    margin: 7px 0 0 20px;
	    width: 370px;
	    padding: 3px 5px;
	    height: auto;

	}
	.FormContact_Trivt textarea{

		height: 150px;
	}
	.Btn_Contact_Submit_Trivt{
		text-align: center;
		margin: 24px auto 0;
		 line-height: 22px;
	}

	.Btn_Contact_Submit_Trivt a{
		padding: 5px 20px;
		color:#632523;
		background: #f9b882;
	}




/*============end Trivt==========*/


/*Hieu*/
/* Concept */
h2.h2_concept_Hieu{
	background: url(../images/concept/img1.jpg) no-repeat scroll center top;
}

div.content_1_concept_Hieu, div.content_2_concept_Hieu, div.content_3_concept_Hieu, div.content_4_concept_Hieu {
	display: inline-block;
    max-width: 100%;
    padding: 5px 2% 10px;
    text-align: justify;
    width: 96%;
}

div.content_1_concept_Hieu p {
	margin-bottom: 10px;
}

div.content_1_concept_Hieu ul {
	margin: 0px;
	padding: 0px;
}

div.content_1_concept_Hieu li {
	width: 33%;
	float: left;
	text-align: center;
}

div.content_1_concept_Hieu img {
	width: 100%;
	max-width: 210px;
	height: 150px;
	*width: 150px; 
	float: left;
}

img.img_1_concept_Hieu {
	width: 100%;
	max-width: 210px;
	height: 150px;
	*width: 150px; 
	float: left;
	margin-right: 20px;
}

div.content_2_concept_Hieu p {
	 padding-top: 10px;
}

div.content_2_concept_Hieu {
	 display: block;
}

p.content_p_title_concept_Hieu {
	font-weight: bold;
	font-size: 16px;
	padding: 5px 0;
	max-width: 100%;
}

div.content_3_concept_Hieu ul {
	margin: 0px;
	padding: 0px;
}

div.content_3_concept_Hieu li {
	padding-left: 10px;
}

div.content_4_concept_Hieu{
	width: 70%;
	float: left;
}

div.content_4_concept_Hieu ul{
	margin: 0px;
	padding: 0px;
}

div.content_4_concept_Hieu li {
	padding-left: 10px;
}

div.content_4_concept_Hieu img{
	float:right;
	width: 100%;
	max-width: 176px;
	height: 104px;
	*width: 170px; 
	float: left;
}

/* Hand */
h2.h2_hand_Hieu{
	background: url(../images/hand/banner.jpg) no-repeat scroll center top;
}

div.content_1_hand_Hieu{
    max-width: 100%;
    padding: 5px 2% 10px;
    text-align: justify;
    width: 96%;
}

div.content_1_hand_Hieu p {
	 padding-top: 10px;
}

img.img_1_hand_Hieu {
	max-width: 240px;
	height: 160px;
	width: 100%;
	float: left;
	margin-right: 10px;
}

p.content_title_hand_Hieu {
	font-weight: bold;
	font-size: 16px;
	padding: 5px 0;
	max-width: 100%;
}

p.button_hand_Hieu {
	background: none repeat scroll 0 0 #F9B882;
    float: right;
    padding: 7px 11px;
    text-align: center;
    width: 140px;
}

p.button_hand_Hieu a{
    color: #632523;
}

p.button_hand_Hieu a:hover{
    text-decoration: underline;
}
/*end Hieu*/


/*Duy*/

/*end Duy*/

