* {
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/*container*/
.container {
	max-width: 320px;
	margin: 0 auto auto auto;
	min-height: 800px;
	background-color: #e6f3fb;
}

/*title use for all news-box*/
.title {
	font-size: 13px;
	color: black;
	padding: 3px 0 0 10px; 
}

/*news-box*/
.news-box {
	border-top: 2px solid #ffa500;
	background-color: #ffffff;
	margin: 0 10px 0 10px;  
}	

/*Blogroll*/
/*blog-1 include img and text*/
#blog-title {
	color: #0a6395;
}
.blog-img {
	float: left;
	width: 55%;
	margin-bottom: 5px;
	margin-right: 10px;  
}
.blog-1 {
	padding: 10px 10px 2px 10px;
}
.blog-1 p {
	float:left;
	width: 40%;
}
.blog-1 img { 
	width: 100%;
	border: 1px solid #cccccc;
}

/*blog-2 consist link*/
ul.blog-2 li{
	clear: left;
	background-color: #faf0bf;
	list-style-type: none;
	color: #0a6395;
	margin-bottom: 1px;
	padding: 10px;
}

/*Horoscopes*/
	/*hero-1 consist the first content*/
	.hero-1 { padding: 15px; }
	.hero-1 p {
		padding-top: 10px;
		float: left;
		width: 65%;
		line-height: 1.4;
	}
	.hero-1 #day { color: #808080; }
	#hero-img img{
		float: left;
		width: 35%;
	}
	
	/*hero-2 consist the second content*/
	.hero-2 {
		position: relative;
		padding:15px; 
		background-color: #f4f4ec;
	} 
	.hero-2 img { 
		position: absolute;
		top: -4px;
		right:0;
		width: 94px;
		height: 60px;
	}
	.hero-2 a{
		text-decoration: none;
		color: #0a6395;
	}

/*Get on the go*/
	.news-mobie {
		position: relative;
		padding: 0 0 20px 15px;
		line-height: 1.6;
	}
	.news-mobie img {
		position: absolute;
		right: 0;
		width: 45%;
		height: 130px;
	}
	.news-mobie p { 
		width: 45%;
		margin-top: 25px;
	}
	//.news-mobie::after {
		content: '';
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}
	#title-news {
		margin-top: 15px; 
	}
	.news-mobie a{
		text-decoration: none;
		color: #0a6395;
	}

/*conpetition box*/
	.competition-box {
		margin-top: 10px;
		border-top: 1px solid #dadada;
		background-color: #e6f3fb;
		}
	.competition-box ul{
		background-color: #ffffff;
		border: 1px solid #dadada;
		list-style-type: none;
		padding: 15px;
	}
	.competition-box li a {
		text-decoration: none;
		color: #0a6395;
	}
	#competition-title {
		margin-top: 10px; 
	}