<!DOCTYPE html>
<html>
  <head>
    <meta content="大阪府,岸和田市,蛸地蔵,鍼灸,整骨院,柔道整復,交通事故治療,フィットネスジム" name="keywords">
    <meta content="大阪府岸和田市のN&C鍼灸整骨院。蛸地蔵駅から徒歩7分の距離にあります。柔道整復・鍼灸を施術しており、より美しく健康なカラダをつくるために、トレーニング指導も実施している整骨院です。" name="description">
    <meta content="Copyright © N&C鍼灸整骨院 FITNESS GYM." name="copyright">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="ja" http-equiv="Content-Language">
    <meta content="text/css" http-equiv="Content-Style-Type">
    <meta content="text/javascript" http-equiv="Content-Script-Type">
    <meta content="width=device-width; initial-scale=1.0" name="viewport">
    <title>大阪府岸和田市のN&C鍼灸整骨院フィットネスジム</title>
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <link type="text/css" rel="stylesheet" href="js/jquery.bxslider.css"  />
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/function.js"></script>
    <script src="js/scoll.js"></script>
    
  </head>
  <body>
  <div class="header">	
        <div class="inner">
        		<h1>大阪府岸和田市の鍼灸・整骨院・交通事故治療・フィットネス</h1>
                <div class="logo float">
                    <a class="logo_top" href="index.html">
                      <img alt="" class="logo_top" src="images/logo.png"/>
                    </a>
                </div>
                <div class="headerRight">
					<img src="images/img1_header.png" alt="" class="img_header">
                    <img src="images/phone_header.png" alt="" class="phoneDesktop">
                    <a href="tel:0742818682" class="phoneMobile"><img src="images/phone_header.png" alt="" class="img_header img_phone"></a>
                    <img src="images/img2_header.png" alt="" class="img_header">
                </div>   
        </div><!--inner-->
      
  </div><!--header-->
 
   <div class="inner">
        	<div class="content float" id="content_other">
               <div class="article_index">
               
                    <!--viet code trong nay, 3 the chung, thay text-->
                    <!--rieng the h2 thi cac ban chu y chut la, the h2 moi page se co 1 img khac nhau,
                    nen cac ban lam theo cach sau,
                    
                    trong the h2, tao 1 class cua page minh lam dat ten h2_..., 
                    ex: <h2 class="h2_abc"
                    
                    trong css chi can khai bai thuoc tinh backgroup cua img do thoi
                    ex: h2.h2_abc{
                    backgroup: url(../images/nailist/a0098.jpg) no-repeat scroll center top;
                    }
                    cac thuoc tinh khac cua h2 , da dc tao san, k can viet them.
                    -->
                     
                    <h2 class="h2_tay_concept"><span>CONCEPT</span></h2>     
    				<h3><span>美を大切にしたワンランク上のネイルサロン！</span></h3>
                    <p class="p1_tay_concept">ajinは”キレイで元気”＝”美＆健康”を追求し続けます。<br />どなた様もお気軽にお越しくださいませ。スタッフ一同お待ち申し上げております。</p>
                    <div class="imagesTop1_tay_concept">
                        <img alt="demo" src="images/concept/A0001.jpg" />
                        <img alt="demo" src="images/concept/img2.jpg" />
                        <img alt="demo" src="images/concept/A0104.jpg" />
                    </div>
                    <div class="clear_tay"></div>
                    <h3><span>心からのリラックス体験を！</span></h3>
                    <div class="inforImages_tay_concept">
                        <img alt="demo" src="images/concept/A0098.jpg" />
                        <div class="infoContent">
                            <p>スタッフは技術はもちろん、おもてなしの心を大切にしています。押し売りのサービスではなく、お客様一人一人に合わせたサービスを行います。</p>
                            <p>くつろぎたい方には癒やしを、楽しくなりたい方には楽しくおしゃべりを。<br />
なにより仕上がったネイルを見ていただき、お喜びいただけるよう、最大限努めさせていただきます。
</p>
                        </div>
                    </div>
                    <div class="clear_tay"></div>
                    <h3><span>リピーター様に優しい割引システム！</span></h3>
                    <p class="pChechBox_tay_concept">☑ 使うほどお得なポイントカード</p>
                    <ul class="ulCheckBox_tay_concept">
                        <li>￥2,000で1pt貯まるポイントカード</li>
                        <li class="bot">・1～2枚目まで　30pt=￥3,000　オフ</li>
                        <li class="bot">・3枚目　　　　　　30pt=￥3,500　オフ</li>
                    </ul>
                    <div class="clear_tay"></div>
                    <p class="pChechBox_tay_concept">☑ 定期的に利用しやすくなるリピーターカード</p>
                    <ul class="ulCheckBox_tay_concept">
                        <li>ジェル・スカルプのお客様</li>
                        <li class="bot">・ご来店日から3週間以内・・・・20％オフ</li>
                        <li class="bot">・ご来店日から1ヶ月以内・・・・10％オフ</li>
                        <li class="bot">※シーズンコレクション・除去のみの場合はご利用いただけません。</li>
                    </ul>
                    <div class="clear_tay"></div>
                    <p class="pChechBox_tay_concept">☑ モバイル会員登録　（入会金・年会費無料）</p>
                    <ul class="ulCheckBox_tay_concept">
                        <li>登録で1スタンプ（￥2,000相当）or　ハンドトリートメンとプレゼント</li>
                        <li>会員様限定のクーポン配信</li>
                        <li>バースデー特典　￥3,000割引クーポン</li>
                        <li>1200ptでピーリングプレゼント</li>
                    </ul>
                    
                    <div class="botQRCode_tay"></div>
                </div><!--article_index-->
            </div><!--content-->
            
            <div class="aside float">
            		  <div class="nav">
                           <div class="menu" id="globalNavi">
                                    <ul>
                                          <li class="menu_1">
                                                <a class="menu_1" href="index.html">
                                                <img alt="HOME"  class="menu_hide" src="images/menu_1.png" /></a>
                                          </li>
                                          <li class="menu_2">
                                                <a class="menu_2" href="concept.html">
                                                <img alt="CONCEPT"  class="menu_hide" src="images/menu_2.png" /></a>   
                                          </li>
                                          <li class="menu_3">
                                                <a class="menu_3">
                                                <img alt="MENU"  class="menu_hide" src="images/menu_3.png"/></a>
                                                <ul class="subNav">
                                                    <li class="subNav"> <a class="subNav" href="price.html">PRICE</a></li>
                                                    <li class="subNav"> <a class="subNav" href="hand.html">HAND</a></li>
                                                    <li class="subNav"> <a class="subNav" href="foot.html">FOOT</a></li>
                                                </ul>
                                          </li>
                                          <li class="menu_4">
                                                <a class="menu_4">
                                                <img alt="GALLERY"  class="menu_hide" src="images/menu_4.png"/></a>
                                                <ul class="subNav">
                                                    <li class="subNav"> <a class="subNav" href="gallery.html#hand">HAND</a></li>
                                                    <li class="subNav"> <a class="subNav" href="gallery.html#foot">FOOT</a></li>
                                                </ul>
                                          </li>
                                          <li class="menu_5">
                                                <a class="menu_5" href="nailist.html">
                                                <img alt="NAILIST"  class="menu_hide" src="images/menu_5.png"/></a>
                                          </li>
                                          <li class="menu_6">
                                                <a class="menu_6" href="access.html">
                                                <img alt="ACCESS"  class="menu_hide" src="images/menu_6.png"/></a>
                                          </li>
                                           <li class="menu_7">
                                                <a class="menu_7" href="contact.html">
                                                <img alt="CONTACT"  class="menu_hide" src="images/menu_7.png"/></a>
                                          </li>
                                    </ul>
                            </div>
                   </div> <!--nav--> 
                   <div class="clear_both"></div>
            	  <p class="txt_top_sidebar">ajin nail & care<br>（アジン　ネイル＆ケア）</p>
                  <p class="txt_sidebar">奈良県奈良市学園北2丁目5−1<br>
					アネックスミタカ学園前2F</p>
                   <img src="images/phone_sidebar.png" alt="0742818682" class="phoneDesktop">
                   <a href="tel:0742818682" class="phoneMobile"><img src="images/phone_sidebar.png" alt=""></a>
                   <img src="images/time_sidebar.png" alt="OPEN" class="time_sidebar">
                   <div class="google_map_sidebar">
                   <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6560.479962159394!2d135.75127558650544!3d34.6991265688887!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60012352c4856dc9%3A0xaec8b038e1bbc717!2z5aWI6Imv55yM5aWI6Imv5biC5a2m5ZyS5YyX77yS5LiB55uu77yV4oiS77yR!5e0!3m2!1sja!2sjp!4v1403611947855"></iframe>-->
                   </div>
                   <img src="images/map_sidebar.png" alt="奈良学園前駅より徒歩2分近隣駐車場あり">
                   <p class="bg_dot"></p>
                   <a href="http://ameblo.jp/ajin-nail/" class="link_sidebar" target="_blank"><img src="images/img1_sidebar.png" alt="Ameba"></a>
                   <p class="txt_sidebar txt_sidebar_2">アメブロ限定キャンペーン実施中！</p>
                   <a href="https://www.facebook.com/pages/Nail-and-Careajin/334870323231412" class="link_sidebar" target="_blank"><img src="images/img2_sidebar.png" alt="facebook"></a>
                   <p class="bg_dot"></p>
                   <img src="images/img3_sidebar.png" alt="お得なメルマガ配信中！">
                    <p class="bg_dot"></p>
                   <img src="images/img4_sidebar.png" alt="クレジットカード使用OK!">
                   
            </div><!--aside-->
        </div>
   		<!--inner-->
  <div class="footer">
      <div class="ft_inner inner">
        <p id="page-top">
            <a href="#"><img src="images/page_top.jpg" alt="page top"></a>
        </p>
        <div class="ft_bg_drg"></div>
		<div class="ft_top">
				
				<div class="menu_footer float">
                	<ul class="ft_ul1">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="concept.html">CONCEPT</a></li>
                        <li><a href="price.html">MENU</a></li>
                        <li><a href="gallery.html">GALLERY</a></li>
                       
                    </ul>
                    
                    	<ul class="ft_ul1">
                        <li><a href="nailist.html">NAILIST</a></li>
                        <li><a href="access.html">ACCESS</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                       
                    </ul>
           			
					
				</div>
                
				<div class="ft_box1">
                	<div class="ft_box1_r">
                		<a class="ft_btn1" href="index.html">
                        	<img src="images/ft_logo.png" alt="ajin">
                        </a>
                    </div>
                    <p class="ft_p1">奈良県奈良市学園北2丁目5−1</p>    
                    <img src="images/phone_footer.png" alt="0742818682" class="show_pc">
                    <a href="tel:0742818682" class="show_sp"><img src="images/phone_footer.png" alt="0742818682"></a>
                </div>
		</div>
		
       
       
      </div>
        <p class="copyright">© ajin All Rights Reserved.</p>
    </div>
	<script type="text/javascript" src="js/jquery.meanmenu.min.js"></script>
    <script type="text/javascript" src="js/behavior.js"></script>
  </body>
</html>