<!DOCTYPE html>
<html>
  <head>
    <meta content="奈良,学園前,ネイルサロン,ネイルケア,フット" name="keywords">
    <meta content="奈良学園前駅から徒歩2分のネイルサロンajim（アジン）。ジェル・スカルプなどハンド・フットの各種ネイルから爪のケアにも対応しています。あなただけお好みのネイルが見つかります。" name="description">
    <meta content="Copyright © ajin All Rights Reserved." name="copyright">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="ja" http-equiv="Content-Language">
    <meta content="text/css" http-equiv="Content-Style-Type">
    <meta content="text/javascript" http-equiv="Content-Script-Type">
    <meta content="width=device-width; initial-scale=1.0" name="viewport">
    <title>ajin（アジン）｜奈良学園前のネイルサロン</title>
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <link type="text/css" rel="stylesheet" href="js/jquery.bxslider.css"  />
    <script src="js/jquery-1.9.1.min.js"></script>
    
    <script src="js/scoll.js"></script>
    <script src="js/jquery.bxslider.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
    <script>
		$(function() {
				var slider = $('.bxslider').bxSlider({
				  mode: 'fade'
				});	
		});
	</script>
  </head>
  <body>
  <div class="header">	
        <div class="inner">
        		<h1>大阪府岸和田市の鍼灸・整骨院・交通事故治療・フィットネス</h1>
                <div class="logo float">
                    <a class="logo_top" href="index.html">
                      <img alt="ajin" class="logo_top" src="images/logo.png"/>
                    </a>
                </div>
                <div class="headerRight">
					<img src="images/img1_header.png" alt="予約制" class="img_header">
                    <img src="images/phone_header.png" alt="0742818682" class="phoneDesktop">
                    <a href="tel:0742818682" class="phoneMobile"><img src="images/phone_header.png" alt="0742818682" class="img_header img_phone"></a>
                    <img src="images/img2_header.png" alt="OPEN" class="img_header">
                </div>   
        </div><!--inner-->
      
  </div><!--header-->
 
   <div class="inner">
        	<div class="content float">
                <div id="banner">
                    <div class="slide">
                      <ul class="bxslider">
                        <li>
                            <img alt="リラックス空間でココロまでキレイに" src="images/banner_1.jpg" />
                        </li>
                        <li>
                            <img alt="1000種を超えるデザイン" src="images/banner_2.jpg" />
                        </li>
                        <li>
                            <img alt="個室フットケアブース完備" src="images/banner_3.jpg" />
                        </li>
                        <li>
                            <img alt="皆様のご希望" src="images/banner_4.jpg" />
                        </li>
                      </ul>
                    </div>
                  </div>
            	<div class="article_index">
                	<ul class="art_ul1">
                    	<li>
                        	<img src="images/art_img1.png" alt="NAIL＆CARE" >
                            <img src="images/art_img3.jpg" alt="ハンド・フット共にネイル施術と爪のケアに対応。" class="art_img1" >
                            <p>ハンド・フット共にネイル施術と爪のケアに対応。手と足の両方同時施術も可能な充実設備です。</p>
                            <a href="hand.html" class="art_btn1">
                          	  <img src="images/art_img6.jpg" alt="詳しくはこちら" >
                            </a>
                        </li>
                        
                        <li class="art_li1">
                        	<img src="images/art_img2.png" alt="TECHNIC＆VARIATION" >
                            <img src="images/art_img4.png" alt="有資格者による多彩な技術。" class="art_img1" >
                            <p>有資格者による多彩な技術。1000を超えるサンプルから選べ、細かいオーダーにも対応しています。</p>
                            <a href="gallery.html" class="art_btn1">
                          	  <img src="images/art_img6.jpg" alt="詳しくはこちら" >
                            </a>
                        </li>
                        
                        <li>
                        	<img src="images/art_img3.png" alt="POINT SERVICE" >
                            <img src="images/art_img5.jpg" alt="ポイントカードやメルマガ配信など" class="art_img1" >
                            <p>ポイントカードやメルマガ配信など、リピートのお客様に優しい割引制度を多数実施しています。</p>
                            <a href="concept.html#point" class="art_btn1">
                          	  <img src="images/art_img6.jpg" alt="詳しくはこちら" >
                            </a>
                        </li>
                    </ul>
                    
                    <div class="art_box1">
                    		<img src="images/art_img9.png" alt="今月のおすすめ" class="art_img3">
                             <img src="images/art_img7.jpg" alt="この春オススメの厳選された7種類のスタイルからお好きなモデルをお選び頂けます。" class="art_img2" >
                             <p>この春オススメの厳選された7種類のスタイルから<br>
お好きなモデルをお選び頂けます。
</p><p class="art_p1">
11,000円　→　Only　9,700円</p>
<p class="art_btn2">
	<a href="#"> <img src="images/art_img8.jpg" alt="詳しくはこちら" ></a>
</p>
                    </div>
                    <div class="art_box2">
                    	<div class="art_box2_child1">
                        	<p class="art_p2">
                            	 <img src="images/title_index_1.png" alt="INFORMATION" >
                                <a class="art_img4" href="#"> <img src="images/link_index_1.jpg" alt="一覧" ></a>
                            </p>
                            <dl class="index">
                            	<dt class="index">2014年04月27日</dt>
                                <dd class="index">★営業時間のご案内★</dd>
                                <dt class="index">2014年04月01日</dt>
                                <dd class="index">★season collection~April~★</dd>
                                <dt class="index">2014年03月27日</dt>
                                <dd class="index">★ご予約について★</dd>
                            </dl>
                        </div>
                        
                        <div class="art_box2_child2">
                        	<p class="art_p2">
                            	 <img src="images/title_index_2.png" alt="STAFF　BLOG" >
                                <a class="art_img4" href="#"> <img src="images/link_index_2.jpg" alt="一覧" ></a>
                            </p>
                            <dl class="art_dl1">
                                <img src="images/img_index_1.jpg" alt="FOOTイニシャルネイル" class="art_img2">
                                <dt>★FOOTイニシャルネイル★</dt>
                                <dd><a href="#">...続きを読む</a></dd>
                            </dl>
                            <dl class="art_dl1">
                                 <img src="images/img_index_2.jpg" alt="フレンチ×カメリアネイル" class="art_img2">
                                <dt>★フレンチ×カメリアネイル★</dt>
                                <dd><a href="#">...続きを読む</a></dd>
                            </dl>
                            
                        </div>
                        
                        
                    </div>

                </div><!--article_index-->
            </div><!--content-->
            
            <div class="aside float">
            		  <div class="nav">
                           <div class="menu" id="globalNavi">
                                    <ul>
                                          <li class="menu_1">
                                                <a class="menu_1 active" href="index.html">
                                                <img alt="HOME"  class="menu_hide" src="images/menu_1.png" /></a>
                                          </li>
                                          <li class="menu_2">
                                                <a class="menu_2" href="concept.html">
                                                <img alt="CONCEPT"  class="menu_hide" src="images/menu_2.png" /></a>   
                                          </li>
                                          <li class="menu_3">
                                                <a class="menu_3">
                                                <img alt="MENU"  class="menu_hide" src="images/menu_3.png"/></a>
                                                <ul class="subNav">
                                                    <li class="subNav"> <a class="subNav" href="price.html">PRICE</a></li>
                                                    <li class="subNav"> <a class="subNav" href="hand.html">HAND</a></li>
                                                    <li class="subNav"> <a class="subNav" href="foot.html">FOOT</a></li>
                                                </ul>
                                          </li>
                                          <li class="menu_4">
                                                <a class="menu_4">
                                                <img alt="GALLERY"  class="menu_hide" src="images/menu_4.png"/></a>
                                                <ul class="subNav">
                                                    <li class="subNav"> <a class="subNav" href="gallery.html#hand">HAND</a></li>
                                                    <li class="subNav"> <a class="subNav" href="gallery.html#foot">FOOT</a></li>
                                                </ul>
                                          </li>
                                          <li class="menu_5">
                                                <a class="menu_5" href="nailist.html">
                                                <img alt="NAILIST"  class="menu_hide" src="images/menu_5.png"/></a>
                                          </li>
                                          <li class="menu_6">
                                                <a class="menu_6" href="access.html">
                                                <img alt="ACCESS"  class="menu_hide" src="images/menu_6.png"/></a>
                                          </li>
                                           <li class="menu_7">
                                                <a class="menu_7" href="contact.html">
                                                <img alt="CONTACT"  class="menu_hide" src="images/menu_7.png"/></a>
                                          </li>
                                    </ul>
                            </div>
                   </div> <!--nav--> 
                   <div class="clear_both"></div>
            	  <p class="txt_top_sidebar">ajin nail & care<br>（アジン　ネイル＆ケア）</p>
                  <p class="txt_sidebar">奈良県奈良市学園北2丁目5−1<br>
					アネックスミタカ学園前2F</p>
                   <img src="images/phone_sidebar.png" alt="0742818682" class="phoneDesktop">
                   <a href="tel:0742818682" class="phoneMobile"><img src="images/phone_sidebar.png" alt=""></a>
                   <img src="images/time_sidebar.png" alt="OPEN" class="time_sidebar">
                   <div class="google_map_sidebar">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6560.479962159394!2d135.75127558650544!3d34.6991265688887!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60012352c4856dc9%3A0xaec8b038e1bbc717!2z5aWI6Imv55yM5aWI6Imv5biC5a2m5ZyS5YyX77yS5LiB55uu77yV4oiS77yR!5e0!3m2!1sja!2sjp!4v1403611947855"></iframe>
                   </div>
                   <img src="images/map_sidebar.png" alt="奈良学園前駅より徒歩2分近隣駐車場あり">
                   <p class="bg_dot"></p>
                   
                   <a href="http://ameblo.jp/ajin-nail/" class="link_sidebar" target="_blank"><img src="images/img1_sidebar.png" alt="Ameba"></a>
                   <p class="txt_sidebar txt_sidebar_2">アメブロ限定キャンペーン実施中！</p>
                   <a href="https://www.facebook.com/pages/Nail-and-Careajin/334870323231412" class="link_sidebar" target="_blank"><img src="images/img2_sidebar.png" alt="facebook"></a>
                    <p class="bg_dot"></p>
                   <img src="images/img3_sidebar.png" alt="お得なメルマガ配信中！">
                   <p class="bg_dot"></p>
                   <img src="images/img4_sidebar.png" alt="クレジットカード使用OK!">
                   
            </div><!--aside-->
        </div>
   		<!--inner-->
  <div class="footer">
      <div class="ft_inner inner">
        <p id="page-top">
            <a href="#"><img src="images/page_top.jpg" alt="page top"></a>
        </p>
        <div class="ft_bg_drg"></div>
		<div class="ft_top">
				
				<div class="menu_footer float">
                	<ul class="ft_ul1">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="concept.html">CONCEPT</a></li>
                        <li><a href="price.html">MENU</a></li>
                        <li><a href="gallery.html">GALLERY</a></li>
                       
                    </ul>
                    
                    	<ul class="ft_ul1">
                        <li><a href="nailist.html">NAILIST</a></li>
                        <li><a href="access.html">ACCESS</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                       
                    </ul>
           			
					
				</div>
                
				<div class="ft_box1">
                	<div class="ft_box1_r">
                		<a class="ft_btn1" href="index.html">
                        	<img src="images/ft_logo.png" alt="ajin">
                        </a>
                    </div>
                    <p class="ft_p1">奈良県奈良市学園北2丁目5−1</p>    
                    <img src="images/phone_footer.png" alt="0742818682" class="show_pc">
                    <a href="tel:0742818682" class="show_sp"><img src="images/phone_footer.png" alt="0742818682"></a>
                </div>
		</div>
		
       
       
      </div>
        <p class="copyright">© ajin All Rights Reserved.</p>
    </div>
	<script type="text/javascript" src="js/jquery.meanmenu.min.js"></script>
    <script type="text/javascript" src="js/behavior.js"></script>
  </body>
</html>